@charset "UTF-8";

/* Alignment */

.block-center {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.centered {
	max-width:90%;
	margin-left: auto;
	margin-right: auto;
  display: block;
}

/* =========Float========== */
.float-left,
.fLeft        { float: left;                           }
.float-middle { margin-left: auto; margin-right: auto; }
.float-right,
.fRight       { float: right;                          }

/* ===========Overflow=========== */
.ofHide { overflow: hidden; }

/* ===========Position=========== */
.pFixed    { position: fixed;    }
.pRelative { position: relative; } 

/* ===========Text Align=========== */
.text-center, 
.tx-center,
.taCenter { text-align: center; }
.text-left, 
.tx-left,
.taLeft   { text-align: left;    }
.text-justify, 
.tx-justify,
.taJust   { text-align: justify; }
.text-right, 
.tx-right,
.taRight  { text-align: right;  }

/* ==========Vertical Alignment========== */

.vertical-center{
	height: 75px;
	line-height: 75px;
}

.vertical-middle, .va-middle {
	vertical-align: middle;
}

.vertical-top, .va-top {
	vertical-align: top;
}

.vertical-bottom, .va-bottom {
	vertical-align: bottom;
}

.vertical-subscript, .va-sub {
	vertical-align: sub;
}

.vertical-superscript, .va-sup {
	vertical-align: super;
}

/* ==========White Space========== */
.wsNormal { white-space: normal; } 
.wsWrap   { white-space: wrap;   }
.wsNoWrap { white-space: nowrap; } 

