@charset "UTF-8";
/* Alignment */

.block-center {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.centered {
	max-width:90%;
	margin-left: auto;
	margin-right: auto;
  display: block;
}

.float-left {
	float:left;
}

.float-middle {
	margin-left: auto;
	margin-right: auto;
}

.float-right {
	float:right;
}

.text-center, .tx-center {
	text-align: center;
}

.text-justify, .tx-justify {
  text-align:justify
}

.text-left, .tx-left {
	text-align: left;
}

.text-right, .tx-right {
	text-align: right;
}

.vertical-center{
	height: 75px;
	line-height: 75px;
}

.vertical-middle, .va-middle {
	vertical-align: middle;
}

.vertical-top, .va-top {
	vertical-align: top;
}

.vertical-bottom, .va-bottom {
	vertical-align: bottom;
}

.vertical-subscript, .va-sub {
	vertical-align: sub;
}

.vertical-superscript, .va-sup {
	vertical-align: super;
}

