@charset "UTF-8";
/* Borders & Margins & Padding */

/* ====== Borders ====== */
.border{
  border: 1px solid #ccc;
}
.border-0{
  border: 0;
}
.border-top{
  border-top: 1px solid #ccc;
}
.border-bottom{
  border-bottom: 1px solid #ccc;
}
.border-left{
  border-left: 1px solid #ccc
}
.border-right{
  border-right: 1px solid #ccc;
}

/* ====== Margin ====== */
/* 
Margin Format:
  margin <All>
  margin <Top-Bottom> <Right-Left>
  margin <Top> <Right> <Bottom> <Left>
  margin <Top-Bottom> <Right> <Left>
Reset:
   margin
All Sides:
   margin-10em, margin-20em, margin-30em, margin-40em, margin-50em, margin-60em
   margin-10px, margin-20px, margin-30px, margin-40px, margin-50px, margin-60px
Individual Sides:
   margin-top, margin-bottom, margin-left, margin-right
Top/Bottom twice size of Left/Right:
   margin-small
   margin-large
*/
.margin{
  margin: 0;
}
.margin-10em{
  margin: 10em;
}
.margin-20em{
  margin: 20em;
}
.margin-30em{
  margin: 30em;
}
.margin-40em{
  margin: 40em;
}
.margin-50em{
  margin: 50em;
}
.margin-60em{
  margin: 60em;
}
.margin-10px{
  margin: 10px;
}
.margin-20px{
  margin: 20px;
}
.margin-30px{
  margin: 30px;
}
.margin-40px{
  margin: 40px;
}
.margin-50px{
  margin: 50px;
}
.margin-60px{
  margin: 60px;
}
.margin-small{
  margin: 4px 8px;
}
.margin-large{
  margin: 12px 24px;
}
.margin-top{
  margin-top: 16px;
}
.margin-bottom{
  margin-bottom: 16px;
}
.margin-left{
  margin-left: 16px;
}
.margin-right{
  margin-right: 16px;
}

/* ====== Padding ====== */
/* 
Padding Format:
  padding <All>
  padding <Top-Bottom> <Right-Left>
  padding <Top> <Right> <Bottom> <Left>
  padding <Top-Bottom> <Right> <Left>
Reset:
   padding
All Sides:
   padding-10em, padding-20em, padding-30em, padding-40em, padding-50em, padding-60em
   padding-10px, padding-20px, padding-30px, padding-40px, padding-50px, padding-60px
Top/Bottom twice size of Left/Right:
   padding-small
   padding-large
*/
.padding{
  padding: 0;
}
.padding-10em{
  padding: 10em;
}
.padding-20em{
  padding: 20em;
}
.padding-30em{
  padding: 30em;
}
.padding-40em{
  padding: 40em;
}
.padding-50em{
  padding: 50em;
}
.padding-60em{
  padding: 60em;
}
.padding-10px{
  padding: 10px;
}
.padding-20px{
  padding: 20px;
}
.padding-30px{
  padding: 30px;
}
.padding-40px{
  padding: 40px;
}
.padding-50px{
  padding: 50px;
}
.padding-60px{
  padding: 60px;
}
.padding-small{
  padding: 4px 8px;
}
.padding-large{
  padding: 12px 24px;
}

/* =========Line Height========== */
.lhAuto { line-height: auto; }
.lh0    { line-height:  0px; }
.lh5    { line-height:  5px; }
.lh10   { line-height: 10px; }
.lh15   { line-height: 15px; }
.lh20   { line-height: 20px; }
.lh25   { line-height: 25px; }
.lh30   { line-height: 30px; }

/* =========Margins========== */
.mAuto  { margin:        auto; }
.mbAuto { margin-bottom: auto; }
.mb0    { margin-bottom:  0px; }
.mb5    { margin-bottom:  5px; }
.mb10   { margin-bottom: 10px; }
.mb15   { margin-bottom: 15px; }
.mb20   { margin-bottom: 20px; }
.mtAuto { margin-top:    auto; }
.mt0    { margin-top:     0px; }
.mt5    { margin-top:     5px; }
.mt10   { margin-top:    10px; }
.mt15   { margin-top:    15px; }
.mt20   { margin-top:    20px; }
.mlAuto { margin-left:   auto; }
.ml0    { margin-left:    0px; }
.ml5    { margin-left:    5px; }
.ml10   { margin-left:   10px; }
.ml15   { margin-left:   15px; }
.ml20   { margin-left:   20px; }
.mrAuto { margin-right:  auto; }
.mr0    { margin-right:   0px; }
.mr5    { margin-right:   5px; }
.mr10   { margin-right:  10px; }
.mr15   { margin-right:  15px; }
.mr20   { margin-right:  20px; }

/* =========Padding========== */
.pb0  { padding-bottom:  0px; }
.pb5  { padding-bottom:  5px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pt0  { padding-top:     0px; }
.pt5  { padding-top:     5px; }
.pt10 { padding-top:    10px; }
.pt15 { padding-top:    15px; }
.pt20 { padding-top:    20px; }
.pl0  { padding-left:    0px; }
.pl5  { padding-left:    5px; }
.pl10 { padding-left:   10px; }
.pl15 { padding-left:   15px; }
.pl20 { padding-left:   20px; }
.pr0  { padding-right:   0px; }
.pr5  { padding-right:   5px; }
.pr10 { padding-right:  10px; }
.pr15 { padding-right:  15px; }
.pr20 { padding-right:  20px; }

