@charset "UTF-8";
/* Colors & Opacity
  Alerts     - "alert-"
  Background - "bg-"
  Borders    - "border-"
  Microsoft  - "ms-"
  Text       - "text-"
*/

/* ====== Opacity ====== */
.opacity-off {
  opacity:1.0;
}
.opacity-25{
  opacity:0.25;
}
.opacity-50 {
  opacity:0.50;
}
.opacity-75{
  opacity:0.75;
}

/* ====== Alert Colors ====== */

.alert-green{
  color:#000;
  background-color:#66BD6D;
}
.alert-red{
  color:#000;
  background-color:#FB5151;
}
.alert-yellow{
  color:#000;
  background-color:#fff064;
}

/* ======= Background Colors ====== */

/* Primary Background Colors:
black, blue, brown, cyan, green, orange, purple, red, white, yellow
*/

.bg-black{
  background-color:#000;
}
.bg-blue{
  background-color:#2196F3;
}
.bg-brown{
  background-color:#795548;
}
.bg-cyan{
  background-color:#00bcd4;
}
.bg-green{
  background-color:#4CAF50;
}
.bg-orange{
  background-color:#ff9800;
}
.bg-purple{
  background-color:#9c27b0;
}
.bg-red{
  background-color:#f44336;
}
.bg-white{
  background-color:#fff;
}
.bg-yellow{
  background-color:#ffeb3b;
}

/* Gray or Gray Background Colors: 
blue-grey,blue-gray, dark-grey, dark-gray, grey, gray, light-grey, light-gray
*/

.bg-blue-grey,blue-gray{ 
  background-color:#607d8b;
}
.bg-dark-grey, dark-gray{
  background-color:#616161;
}
.bg-grey, gray{
  background-color:#9e9e9e;
}
.bg-light-grey, light-gray{
  background-color:#f1f1f1;
}

/* Alternate Background Colors:
amber, aqua, banner-brown, deep-orange, deep-purple, indigo, khaki, 
light-blue, light-green, lime, mustangblue, pale-blue, pale-green, 
pale-red, pale-yellow, pink, sand, teal
*/

.bg-amber{
  background-color:#ffc107;
}
.bg-aqua{
  background-color:#00ffff;
}
.bg-banner-brown{
  background-color:#DFCFBE;
}
.bg-dark-blue, .blue {
  background-color:#0272A7;
}
.bg-deep-orange{
  background-color:#ff5722;
}
.bg-deep-purple{
  background-color:#673ab7;
}
.bg-indigo{
  background-color:#3f51b5;
}
.bg-khaki{
  background-color:#f0e68c;
}
.bg-light-blue{
  background-color:#87CEEB;
}
.bg-light-green{
  background-color:#8bc34a;
}
.bg-lime{
  background-color:#cddc39;
}
.bg-medium-blue {
  background-color:#5EAEFF;
}
.bg-mustangblue{
  background-color:#30395D;
}
.bg-mustard {
  background-color: #CACA19;
}
.bg-pale-blue{
  background-color:#ddffff;
}
.bg-pale-green{
  background-color:#ddffdd;
}
.bg-pale-red{
  background-color:#ffdddd;
}
.bg-pale-yellow{
  background-color:#ffffcc;
}
.bg-pink{
  background-color:#e91e63;
}
.bg-sand{
  background-color:#fdf5e6;
}
.bg-teal{
  background-color:#009688;
}

/* ====== Border Colors ====== */

/* Primary Border Colors */ 
.border-black{
  border-color:#000;
}  
.border-blue{
  border-color:#2196F3;
}  
.border-brown{
  border-color:#795548;
}  
.border-green{
  border-color:#4CAF50;
}  
.border-orange{
  border-color:#ff9800;
}  
.border-purple{
  border-color:#9c27b0;
}  
.border-red{
  border-color:#f44336;
}  
.border-yellow{
  border-color:#ffeb3b;
}  
.border-white{
  border-color:#fff;
}  

/* Grey Border Colors */
.border-blue-grey, border-blue-gray {
  border-color:#607d8b;
}  
.border-dark-grey, border-dark-gray{
  border-color:#616161;
}  
.border-grey, border-gray{
  border-color:#9e9e9e;
}  
.border-light-grey, border-light-gray{
  border-color:#f1f1f1;
}  

/* Alternate Border Colors */
.border-amber{
  border-color:#ffc107;
}  
.border-aqua {
  border-color:#00ffff;
}  
.border-cyan{
  border-color:#00bcd4;
}  
.border-dark-blue {
  border-color:#0272A7;
}
.border-deep-orange {
  border-color:#ff5722;
}  
.border-deep-purple{
  border-color:#673ab7;
}  
.border-indigo{
  border-color:#3f51b5;
}  
border-khaki{
  border-color:#f0e68c;
}  
border-light-blue{
  border-color:#87CEEB;
}  
.border-lighter-blue {
  border-color:#f1f8fd;
}
.border-light-green{
  border-color:#8bc34a;
}  
.border-lime{
  border-color:#cddc39;
}  
.border-medium-blue {
  border-color:#5EAEFF;
}
.border-pale-blue{
  border-color:#e7ffff;
}
.border-pale-green{
  border-color:#e7ffe7;
}  
.border-pale-red{
  border-color:#ffe7e7;
}
.border-pale-yellow{
  border-color:#ffffcc;
}
.border-sand{
  border-color:#fdf5e6;
}  
.border-teal{
  border-color:#009688;
}  
.border-pink{
  border-color:#e91e63;
}  

/* ====== Microsoft Colors ====== */
.ms-access-text {
  color: #DD337C;
}

.ms-access {
  color: #FFF;
  background-color: #DD337C;
}

.ms-excel-text {
  color: #286F4D;
}

.ms-excel {
  color: #FFF;
  background-color: #286F4D;
}

.ms-one-note-text {
  color: #782173;
}

.ms-one-note {
  color: #FFF;
  background-color: #782173;
}

.ms-powerpoint-text {
  color: #CF4427;
}

.ms-powerpoint {
  color: #FFF;
  background-color: #CF4427;
}

.ms-project-text {
  color: #2E7237;
}

.ms-project {
  color: #FFF;
  background-color: #2E7237;
}

.ms-publisher-text {
  color: #087366;
}

.ms-publisher {
  color: #FFF;
  background-color: #087366;
}

.ms-visio-text {
  color: #38549E;
}

.ms-visio {
  color: #FFF;
  background-color: #38549E;
}

.ms-visual-studio-text {
  color: #67217A;
}

.ms-visual-studio {
  color: #FFF;
  background-color: #67217A;
}

.ms-word-text {
  color: #2B5796;
}

.ms-word {
  color: #FFF;
  background-color: #2B5796;
}

/* ====== Text Colors ====== */

/* Primary Text Colors:
text-black, text-blue, text-brown, text-cyan, text-green, 
text-orange, text-purple, text-red, text-white, text-yellow
*/

.text-black{
  color:#000;
}
.text-blue{
  color:#2196F3;
}
.text-brown{
  color:#795548;
}
.text-cyan{
  color:#00bcd4;
}
.text-green{
  color:#4CAF50;
}
.text-orange{
  color:#ff9800;
}
.text-purple{
  color:#9c27b0;
}
.text-red{
  color:#f44336;
}
.text-white{
  color:#fff;
}
.text-yellow{
  color:#d2be0e;
}

/* Gray or Grey Text Colors: 
text-blue-grey, text-blue-gray, text-dark-grey, text-dark-gray, 
text-light-grey, text-light-gray,  
*/

.text-blue-grey, text-blue-gray{
  color:#607d8b;
}
.text-dark-grey, text-dark-gray{
  color:#3a3a3a;
}
.text-grey, text-gray {
  color:#757575;
}
.text-light-grey, text-light-gray{
  color:#f1f1f1;
}

/* Alternate Text Colors:
text-amber, text-aqua, text-deep-orange, text-deep-purple, text-indigo, 
text-khaki, text-light-blue, text-light-green, text-lime, text-mustangblue, 
text-pink, text-sand, text-teal
*/

.text-amber{
  color:#ffc107;
}
.text-aqua{
  color:#00ffff;
}
.text-dark-blue{
  color: #0272A7;
}
.text-deep-orange{
  color:#ff5722;
}
.text-deep-purple{
  color:#673ab7;
}
.text-indigo{
  color:#3f51b5;
}
.text-khaki{
  color:#b4aa50;
}
.text-light-blue{
  color:#87CEEB;
}
.text-lightest-blue {
  color:#c3dbec;
}
.text-light-green{
  color:#8bc34a;
}
.text-lime{
  color:#cddc39;
}
.text-medium-blue {
  color:#5EAEFF;
}
.text-mustangblue{
  color:#30395D;
}
.text-mustard {
  color: #CACA19;
 }
 .text-pink{
  color:#e91e63;
}
.text-sand{
  color:#fdf5e6;
}
.text-teal{
  color:#009688;
}
.text-twitter-blue {
  color: #1DA1F2;;
}

