/* Begin Column Classes */

.column-container:after {
  display: block;
  height: 0;
  clear: both;
  content: " ";
}

.column-of-two {
  padding: 0.5%;
  float: left;
  width: 50%;
}

.column-of-three {
  padding: 0.5%;
  float: left;
  width:33%;
}

.column-of-four {
  padding: 0.5%;
  float: left;
  width: 25%;
}

