/* ====== Containers ====== */
/* 
   article
   aside
   details
   footer
   header
   main
   nav
   section
   summary
*/

/* Reset 
   Set default display for HTML5 elements for IE8 */
article,
aside,
details,
footer,
header,
main,
menu,
nav,
section,
summary{
  display:block
}

/* ====== Article ====== */

/* ====== Aside ====== */

/* ====== Details ====== */

/* ====== Footer ====== */

/* ====== Header ====== */

/* ====== Main ====== */

/* ====== Nav ====== */

/* ====== Section ====== */

/* ====== Summary ====== */

