@charset "UTF-8";

/* =========Clear========== */
.cBoth  { clear: both;  }
.cLeft  { clear: left;  }
.cRight { clear: right; }

/* =========Cursor========== */
.cCopy    { cursor: copy;    }
.cHand    { cursor: hand;    }
.cHelp    { cursor: help;    }
.cPointer { cursor: pointer; }

/* ==========Display========== */
.hidden, 
.invisible,
.Hide         { display: none; visibility:hidden            }
.unhidden, 
.visible, 
.Show         { display: inherit; visibility: visible;      }
.ShowBlock    { display: block; visibility: visible;        }
.ShowBlkInl   { display: inline-block; visibility: visible; }
.ShowFlex     { display: flex; visibility: visible;         }
.ShowIinline  { display: inline; visibility: visible;       }
.ShowTable    { display: table; visibility: visible;        }
.ShowTCell    { display: table-cell; visibility: visible;   }
.ShowTRow     { display: table-row; visibility: visible;    }

.show-block        { display:block;        }
.show-inline-block { display:inline-block; }
.show-flex         { display: flex;        }
.table             { display: table;       }
.table-cell        { display: table-cell;  }
.table-row         { display: table-row;   }

