/* Font Styles */

/* Base for starting modular font scale
px	em
2	  0.125
4	  0.25
8	  0.5
12	0.75
14	0.875
16	1
20	1.25
32	2
36	2.25
64	4
128	8
256	16
512	32
*/

/* ====== Font Size ====== */
.font-1x {
  font-size: 1em; 
}

.font-2x {
  font-size: 2em; 
}

.font-3x {
  font-size: 3em; 
}

.font-4x {
  font-size: 4em; 
}

.font-5x {
  font-size: 5em; 
}

.font-6x {
  font-size: 6em; 
}

.font-7x {
  font-size: 7em; 
}

.font-8x {
  font-size: 8em; 
}

.font-9x {
  font-size: 9em; 
}

.font-10x {
  font-size: 10em; 
}

.font-lg {
  font-size: 1.33333em;
}

.font-xs {
  font-size: .75em;
}

.font-sm {
  font-size: .875em; 
}

.monospace {
  font-family: monospace;
  font-size: 1.23em;
}

