@charset 'UTF-8';

/* Copyright */
.copyright {
  clear: both;
  font-size: 0.8125em;
}
.copyright br {
  display: none;
}

/* Corporate Links */
.corporate-link {
  font-size: 0.75em;
  margin-bottom: 2.08333em;
}
.corporate-link a:hover {
  color: #ed9d22;
}

/* Footer Logo */
.footer-logo {
  background: url(/_img/footer-logo-mobile.png) no-repeat;
  background-size: contain;
  height: 2.1875em;
  overflow: hidden;
  text-indent: -999em;
  max-width: 20.375em;
  margin-bottom: 1.5em;
}

/* Footer Navigation */
.footer-nav {
  margin-bottom: 2.4375em;
}
.footer-nav:after {
  content: "";
  display: table;
  clear: both;
}
.footer-nav a {
  color: #ed9d22;
}
.footer-nav a:hover {
  text-decoration: underline;
}
.footer-nav ol li {
  font-size: 0.8125em;
  margin-bottom: 1.53846em;
}
.footer-nav .current a {
  font-weight: bold;
}
.footer-nav .nav-main {
  float: right;
  text-align: right;
  width: 50%;
}
.footer-nav .nav-secondary {
  float: left;
  width: 50%;
}

/* Social Media Links */
.social-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.social-links a {
  background: url(/_img/sprite.png) no-repeat;
  display: inline-block;
  height: 2em;
  margin-left: 1.375em;
  overflow: hidden;
  text-indent: -999em;
  width: 2em;
}
.social-links li {
  display: inline;
  margin: 0;
  padding: 0;
}
.social-links .facebook a {
  background-position: -151px -50px;
}
.social-links .facebook a:hover {
  background-position: -151px -97px;
}
.social-links .linkedin a {
  background-position: 3px -50px;
  margin-left: 0;
}
.social-links .linkedin a:hover {
  background-position: 3px -97px;
}
.social-links .twitter a {
  background-position: -101px -50px;
}
.social-links .twitter a:hover {
  background-position: -101px -97px;
}
.social-links .youtube a {
  background-position: -49px -50px;
}
.social-links .youtube a:hover {
  background-position: -49px -97px;
}

/* Responsive Footer */
@media (min-width: 48em) {
  .copyright {
    font-size: 0.75em;
  }
  .footer-nav {
    float: right;
    width: 50%;
  }
  .footer-nav ol {
    margin-left: auto;
    margin-right: auto;
    width: 48em;
  }
  .footer-nav ol li {
    font-size: 0.75em;
  }
  .footer-nav .nav-secondary {
    text-align: right;
  }
}

