/* Forms */

/* Reset */
button,
input,
select,
textarea{
  font: inherit;
  margin: 0; 
}
button,
input{
  overflow:visible
}
button,
select{
  text-transform:none
}

/* ====== Button ====== */
button,
html [type=button],
[type=reset],
[type=submit]{
  -webkit-appearance:button
}
button::-moz-focus-inner{
  border-style:none;
  padding:0;
}
button:-moz-focusring{
  outline:1px dotted ButtonText;
}

/* ====== Fieldset ====== */
fieldset{
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/* ====== Form ====== */

/* ====== Input ====== */
[type=checkbox],
[type=radio]{
  padding: 0;
}
[type=button]:-moz-focusring, 
[type=reset]:-moz-focusring, 
[type=submit]:-moz-focusring{
  outline:1px dotted ButtonText;
}
[type=button]::-moz-focus-inner, 
[type=reset]::-moz-focus-inner, 
[type=submit]::-moz-focus-inner{
  border-style: none;
  padding: 0;
}

/* ====== Option Group ====== */
optgroup{
  font-weight: bold; 
}

/* ====== Select ====== */

/* ====== Textarea ====== */
textarea{
  overflow: auto;
}


