# Headers

```css
h1, h2, h3, h4 {
  color: #666666;
  line-height:1.5
  font-family: Helvetica, Arial, sans-serif;
  text-align:left;
  text-weight:bold;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
```

