@charset "UTF-8";

/* Headers */ 

h1, h2, h3, h4 {
  color: #666666;
  line-height:1.5
  font-family: Helvetica, Arial, sans-serif;
  text-align:left;
  text-weight:bold;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}

/* Move the first element down after a header */
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top:20px
}

/* Handy Header */
.handy-header {
    cursor: copy;
    visibility: hidden;
    position: absolute;
    margin-left: -20px;
    padding-right: 4px;
}

h1 .handy-header, 
h2 .handy-header {
    margin-top: 6px;
}

h3 .handy-header {
    margin-top: 2px;
}

h4 .handy-header, 
h5 .handy-header {
    margin-top: 1px;
}

h1:hover .handy-header,
h2:hover .handy-header,
h3:hover .handy-header,
h4:hover .handy-header,
h5:hover .handy-header,
h6:hover .handy-header {
  visibility: visible;
}

