@charset "UTF-8";
/* Lists */

/* Definitions */

dl {
  margin-left: 10px;
}

dt {
  margin-left: 15px;
  font-weight: bold;
  color:#0272A7;
}

dd {

}

/* Ordered Lists */
ol {
  line-height: 25px;
}

ol.upper-roman-bullets {
list-style-type: upper-roman;
  line-height: 25px;
}

ol.lower-roman-bullets {
list-style-type: lower-roman;
  line-height: 25px;
}

ol.upper-alpha-bullets {
list-style-type: upper-alpha;
  line-height: 25px;
}

ol.lower-alpha-bullets {
list-style-type: lower-alpha;
  line-height: 25px;
}

ol.numbered-bullets {
list-style-type: decimal;
  line-height: 25px;
}

/* Unordered Lists */
ul {
  line-height: 25px;
}

ul.no-bullets {
list-style-type: none;
  line-height: 25px;
}

ul.circle-bullets {
list-style-type: circle;
  line-height: 25px;
}

ul.square-bullets {
list-style-type: square;
  line-height: 25px;
}

ul.no-style {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  line-height: 25px;
}


