@charset 'UTF-8';

/* Logo Class */
.logo {
  float: left;
  height: 1.9375em;
  margin: 1.1875em 0 0 1.25em;
  max-width: 17.75em;
  width: 75%;
}
.logo a {
  display: block;
  height: 1.9375em;
  overflow: hidden;
  text-indent: -999em;
}

@media (min-width: 48em) {
  .logo {
    height: 2.25em;
    max-width: none;
    margin: 1.4375em 0 0;
    width: 21.1875em;
  }
  .logo a {
    background: url(/_img/logo-tablet.png) no-repeat;
    background-size: contain;
    height: 2.25em;
    width: 21.1875em;
  }
}
@media (min-width: 61.25em) {
  .logo {
    height: 2.6875em;
    margin-top: 2.1875em;
    width: 24.5625em;
  }
  .logo a {
    background: url(/_img/logo-desktop.png) no-repeat;
    height: 2.6875em;
    width: 24.5625em;
  }
}

