@charset "UTF-8";
/* Multimedia */
/* 
   Ausio-Video
   Images
   Progress
*/

/* Reset */
audio,
canvas,
img,
progress,
video{
  display: inline-block;
}

/* ====== Audio-Video ====== */
audio:not([controls]){
  display: none;
  height: 0;
}

video {
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 80vh;
}

.youtube-wrapper {
  position: relative;
  height: 0;
  margin-bottom: 1rem;
}

.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ====== Images ====== */

img {
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 80vh;
}

/* ====== Progress ====== */
progress{
  vertical-align: baseline;
}

