@charset "UTF-8";
/* CSS Reset - so all browsers start the same! */

/* The Page */
/* 1. Set default font family to sans-serif.
   2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */

* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, Georgia, serif; 
  font-size: 1em;
  margin: 0;
  overflow: hidden;
  overflow-x: hidden;
  padding: 0;
  text-align: left;
  text-rendering: geometricPrecision;
}

*:before,
*:after{
  box-sizing:inherit
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; /* 1 */
  font-size: 12pt;
  line-height: 1.0;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Remove default margin. */
body {
	background-color: #FFFFFF;
  border: 0;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 1.2em;
  margin: 0;
  margin-top: 0px;
	margin-left: 0px;
  overflow-y: scroll;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* ANCHORS */
a {
  background-color: transparent;
  cursor: pointer;
  outline-width: 0;
  padding: 1px;
  text-decoration: underline; 
  text-underline: single;
  -webkit-text-decoration-skip: objects;
}
a:link {
  color:blue; 
}
a:active {
  color:red; 
}
a:visited {
  color:purple; 
}
a:hover {
  color:orange; 
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
   outline: 0;
 }

/* HEADERS */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.25;
  font-size: 1rem;
}

h1 {
  margin-top: 1.25rem;
  font-size: 2.0rem;
}

h2 {
  margin-top: 1.25rem;
  font-size: 1.8rem;
}

h3 {
  margin-top: 1.25rem;
  font-size: 1.6rem;
}

h4 {
  margin-top: 1.25rem;
  font-size: 1.4rem;
}

h5 {
  margin-top: 1.25rem;
  font-size: 1.2rem;
}

/* PX Headers 
  h1{font-size:36px;}
  h2{font-size:30px;}
  h3{font-size:24px;}
  h4{font-size:20px;}
  h5{font-size:18px;}
  h6{font-size:16px;}
*/

/* ====== Text Modifications ====== */
abbr[title]{
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
code,
kbd,
pre,
samp{
  font-family: monospace;
  font-size: 1em;
}
dfn{
  font-style: italic;
}
mark{
  background:#ff0;
  color:#000;
}
small{
  font-size: 80%;
}
sub,sup{
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub{
  bottom: -0.25em;
}
sup{
  top: -0.5em;
}
