/* CSS Reset - so all browsers start the same! */

/* The Page */

/* 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */

 html {
  box-sizing: border-box;
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Remove default margin. */
body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* ANCHORS */
a {
  text-decoration:underline; 
  text-underline:single;
}
a:link {
  color:blue; 
}

a:active {
  color:red; 
}
a:visited {
  color:purple; 
}
a:hover {
  color:orange; 
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

 a:active,
 a:hover {
   outline: 0;
 }

 