/* CSS Reset - so all browsers start the same! */

/* The Page */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* ANCHORS */
a {
  text-decoration:underline; 
  text-underline:single;
}
a:link {
  color:blue; 
}

a:active {
  color:red; 
}
a:visited {
  color:purple; 
}
a:hover {
  color:orange; 
}

