@charset 'UTF-8';

/* Role Based CSS */
[role=banner] {
  background: #01539c;
  background: -moz-linear-gradient(top, rgba(1, 83, 156, 0.9) 0%, rgba(0, 34, 64, 0.9) 100%);
  background: -webkit-linear-gradient(top, rgba(1, 83, 156, 0.9) 0%, rgba(0, 34, 64, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(1, 83, 156, 0.9) 0%, rgba(0, 34, 64, 0.9) 100%);
  border-bottom: 2px solid #fff;
  height: 5.125em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}
[role=contentinfo] {
  background: #515151;
  border-top: 1px solid #fff;
  color: #fff;
  padding: 2.375em 1.6875em 4.5em;
}
[role=contentinfo]:after {
  content: "";
  display: table;
  clear: both;
}
[role=contentinfo] ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
[role=contentinfo] ol li {
  margin: 0;
  padding: 0;
}
[role=contentinfo] ol.social-links {
  margin-bottom: 2.4375em;
}

@media (min-width: 48em) {
  [role=banner] {
    height: 8.375em;
    padding: 0 1.6875em;
  }
}
@media (min-width: 61.25em) {
  [role=banner] {
    height: 10.4375em;
  }
  [role=banner] .wrapper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 61.25em;
  }
  [role=contentinfo] {
    border-top: 0;
    padding: 9.125em calc(50% - 490px) 4.5em;
  }
}

