@charset "UTF-8";
/* Tables */

table{
  border-collapse: collapse;
	border-radius: 4px 4px 0px 0px;
  border-spacing: 0;
}

th,
td,
tr,
thead,
tbody {
  border-color: #ccc;
  background: #fff;
}

tr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

td,th {
	border-radius: 0px 0px 4px 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
  padding: 0;
}

table:first-child {
  margin-top:0
}

