@charset "UTF-8";
/* Tables */

/* 
table-layout: fixed
*/

table{
  border-collapse: collapse;
	border-radius: 4px 4px 0px 0px;
  border-spacing: 0;
}

th,
td,
tr,
thead,
tbody {
  border-color: #ccc;
  background: #fff;
}

tr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

td,th {
	border-radius: 0px 0px 4px 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
  padding: 0;
}

table {
  border: 1px solid #CCC;
  border-collapse: collapse;
}
table:first-child {
  margin-top:0
}

/* Cell Size */
.td15{
  width: 15%;
}
.td50{
  width: 50%;
}
.td70{
  width: 70%;
}

