/* Text modifications */
@charset 'UTF-8';

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  border-left:1px solid #dfe1e6;
  color:#7a869a;
  margin-left:19px;
  padding:10px 20px
}

blockquote > cite {
  display:block;
  margin-top:10px
}

blockquote:first-child,
p:first-child,
pre:first-child {
  margin-top:0
}

cite:before {
  content:"\2014 \2009"
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

pre {
  overflow: auto;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ===========Text Alignment=========== */
.tacenter{
  text-align: center;
}
.taleft{
  text-align: left;
}
.taright{
  text-align: right;
}

/* ===========Text Decoration=========== */
.tdNone { text-decoration: none; }

/* ===========Text Overflow=========== */
.toEllipsis { text-overflow: ellipsis; }

