@charset 'UTF-8';

/* Tool Tips - help the viewer out! 
https://www.w3schools.com/css/css_tooltip.asp
*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}

/* Tool Tip on Right 
The tooltip is placed to the right (left:105%) of the "hoverable" text (<div>). Also note that top:-5px is used to place it in the middle of its container element. We use the number 5 because the tooltip text has a top and bottom padding of 5px. If you increase its padding, also increase the value of the top property to ensure that it stays in the middle (if this is something you want). The same applies if you want the tooltip placed to the left.
 */

 .tooltipright .tooltiptextright {
  visibility: visible;
}

/* Tool Tip on left */
.tooltipleft .tooltiptexteft {
  top: -5px;
  right: 105%;
}

/* Tool Tip on Top
If you want the tooltip to appear on top or on the bottom, see examples below. Note that we use the margin-left property with a value of minus 60 pixels. This is to center the tooltip above/below the hoverable text. It is set to the half of the tooltip's width (120/2 = 60). 
*/
.tooltiptop .tooltiptexttop {
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  transition: opacity 1s;
}

.tooltipbottom .tooltiptextbottom {
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltipbottomarrow .tooltiptextbottomarrow::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltipbottomarrow .tooltiptextbottomarrow::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltipleftarrow .tooltiptextleftarrow::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltipleftarrow .tooltiptextleftarrow::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

/* A Tool Tip Example in HTML
<h2>Basic Tooltip</h2>
<div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>
*/

