/* W3C Tool Tips - IE at https://www.w3schools.com/css/css_tooltip.asp  */
@charset 'UTF-8';

.tooltipie {
  position: relative;
  display: inline-block;
/* If you want dots under the hoverable text */
/*
  border-bottom: 1px dotted black; 
*/;
}

.tooltipie .tooltiptextie {
  visibility: hidden;
  min-width: 210px;
  max-width: 700px;
/*background-color: black;*/
  color: yellow;/* MDW: Changed to yellow (from: #fff) (02/24/21)*/
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px 5px 10px; /* padding: top right bottom left */
/* Position the tooltip */
  position: absolute;
  top: 100%;
  margin-top: 5px;
  text-shadow: none;
  font-weight: normal;
  font-size: 10pt;
/*
 left: 50%;
 margin-left: -60px;
*/
}
.tooltipie:hover .tooltiptextie {
  visibility: visible;
  background-color: rgba(0,0,0,0.5);/*MDW: Added to set the opacity of the background but keep the text at full brightness (02/24/21)*/
}

