@charset "utf-8";
/* CSS Document */

/* Navbar container */
.nav {
	list-style:none inside;
	margin:0;
	padding:0;
	text-align:center;
	clear: left;
}
.nav li {
	display:block;
	position:relative;
	float:left;
	background: #3399FF; /* menu background color */
	padding:0;
}
.nav li a {
	display: block;
	padding: 0px;
	text-decoration: none;
	width: 200px; /* this is the width of the menu items */
	line-height: 35px; /* this is the height of the menu items */
	color:#ffffff; /* list item font color */
}
.nav li li a {font-size:80%;} /* smaller font size for sub menu items */
.nav li:hover {background:#55AAFF;} /* highlights current hovered list item and the parent list items when hovering over sub menues */
.nav ul {
	position:absolute;
	padding:0;
	left:0;
	display:none; /* hides sublists */
}
.nav li:hover ul ul {display:none;} /* hides sub-sublists */
.nav li:hover ul {display:block;} /* shows sublist on hover */
.nav li li:hover ul {
	display:block; /* shows sub-sublist on hover */
	margin-left:200px; /* this should be the same width as the parent list item */
	margin-top:-35px; /* aligns top of sub menu with top of list item */
}






/* CSS code for container*/
#container {
	width: 1000px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	overflow: visible;
	background-color: #FFF;
}

/* Styling of Header (D413 and Fluid Systems Engineering)*/
#header {
	color: #FFF;
	background-color: #000;
	height: 111px;
	position: relative;
	right: 0px;
	bottom: 0px;
}
#header p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
	font-variant: small-caps;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 15px;
}
h1 {
	font-family: sarina, serif;
	font-size: 96px;
	margin: 0;
	float: left;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #3B3B3B;
	background-color: #FFF;
	margin: 0px;
}