root = true

# Defaults for All Files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# For Markdown Files
[*.md]
trim_trailing_whitespace = false

# Settings for Programing Languages
[*.{js,py,ts,vb}]
charset = utf-8

[*.yml]
indent_size = 2

# Setting for WebDev Files
[*.css]
indent_size = 2

[*.{html,xml}]
indent_size = 2

