@charset 'UTF-8';

/* ======== Resets ========= */

html, body {
  height : 100%;
  margin : 0;
  padding: 0;
  font-family : Calibri,Arial,Helvetica, sans-serif;
}

a, a:visited {
  color      : #0000C5;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  line-height: 1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3125em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1em;
}

/* ====================== Classes ===================== */

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.centerblock {
  margin: auto;
  width: 50%;
}

.contentpadding {
  padding-left: 20px;
}

.leftpad {
  padding-left: 20px;
}

.listformatting {
  line-height: 150%;
}

.txt-centered {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.width800 {
  max-width: 800px;
  margin: auto;
}

.width1024 {
  max-width: 1024px;
  margin: auto;
}

/* =================== Wrapper ======================== */

#wrapper {
  height: 100%;
}

/* =================== Header ========================= */

.header{
  background: #0272a7;
}

.logo {
}

#brand {
}

#header {
  background: #0272a7;
  border  : 1px solid #013B6C;
  color   : #fff;
  height  : 160px;
  position  : fixed;
  transition: all 0.4s ease;
  width   : 100%;
}

#header #logo {
  position: absolute;
  left  : 10px;
  top   : 10px;
}

#header #brand {
  position: absolute;
  right   : 10px;
  top   : 5px;
}

#header #brand #brandImage {
  display: block;
  height : 112px;
  width  : 192px;
}

#header #brand #brandTitle {
  display: none;
}

#header #headernav {
  bottom   : 0px;
  display  : block;
  overflow   : hidden;
  padding  : 5px;
  position   : absolute;
  right    : 7px;
  white-space: nowrap;
}

#header #headernav ul {
  list-style: none;
  margin  : 0;
  padding   : 0;
}

#header #headernav ul li {
  border-left : 1px solid white;
  display   : inline-block;
  font-size   : small;
  padding-left: 4px;
}

#header #headernav ul li.active {
  background: #265f86;
}

#header #headernav ul li:hover {
  background: #28597a;
  color   : #ccc;
}

#header #headernav ul li span {
  display: block;
}

#header #headernav a, #header #headernav a:visited {
  color      : white;
  text-decoration: none;
}

#header.short {
  height : 75px;
  z-index: 99;
}

#header.short #brand {
  position: absolute;
  /* right   : 10px; */
  right   : 0px;
  top   : 0px;
}

#header.short #brand #brandImage {
  /* float : left; */
  height: 56px;
  width : 96px;
}

#header.short #brand #brandTitle {
  /* display  : block;
  float  : right;
  font-size: large; */
  display: none;
}

#header.short  #headernav ul li span {
  display: none;
}

/* =================== Nav Menu (Grey) ================ */
.navbar {
  background: #bfcbd7;
}

#nav {
  background-color: #bfcbd7;
  border      : 1px solid #013B6C;
  color       : black;
  font-size     : small;
  font-weight   : bold;
  font-family   : Calibri,Arial,Helvetica;
  padding-top   : 165px;
  overflow    : hidden;
  width       : auto;
  white-space   : nowrap;
}

#nav ul {
  float   : left;
  list-style: none;
  margin  : 0;
  padding   : 0;
}

#nav ul li {
  border-left: 1px solid black;
  display  : inline-block;
  padding  : 0px 7px 0px 7px;
}

#nav ul li a, #nav ul li a:visited {
  color      : black;
  text-decoration: none;
}

#nav ul li a:hover {
  background-color: #403428;
  color       : white;
}

/* ======================== Body ======================= */
#body {
/*  background: linear-gradient(to right, #BBD2E5,  white) right no-repeat;  */
/*  background: #D0E0ED;  light blue   */
  background: #f8ffff;     /* slight tint of blue  */
  float   : left;
  width   : 100%;
}

#leftMenu {
  float: left;
  width: 205px;
}

#leftMenu ul {
  list-style: none;
  margin  : 0;
  padding   : 0;
}

#leftMenu ul li p {
  background  : #417fa8;
  border-radius : 1px;
  border-top  : 1px solid #96d1f8;
  border-bottom  : 1px solid black;
  box-shadow  : rgba(0,0,0,1) 0 1px 0;
  color     : white;
  margin    : 0px;
  padding     : 5px 11px;
  text-align  : center;
  text-decoration: none;
  vertical-align: middle;
  width     : 180px;
}

#leftMenu ul li a, #leftMenu ul li a:visited {
  color      : white;
  text-decoration: none;
}

#leftMenu ul li p:hover {
  background    : #28597a;
  border-top-color: #28597a;
  color       : #ccc;
  width       : 179px;
}

#leftMenu ul li p.active {
  background    : #1b435e;
  border-top-color: #1b435e;
}

#content {
  margin: 5px 20px;
}

#content a, #content a:visited {
color: #005580;
font-weight: 600;
}



/* ======================== Footer ====================== */
#footer {
  background : #0272a7;
  clear    : both;
  color    : white;
  font-size  : small;
  overflow   : hidden;
  text-align : center;
  width    : 100%;
  white-space: nowrap;
}

#footer a, #footer a:visited {
  color      : white;
  text-decoration: none;
}

