.mapbase a{
display: block;
position: absolute;
border: 1px solid white;
}

.mapbase a:hover{
border-color: silver;
}

.downloadarea{
position:absolute;
left:0;
top:5px;
width:130px;
height: 175px;
border:1px solid silver;
padding:5px;
background:lightyellow;
border-width: 1px 3px 3px 1px;
}