.csslisting .floatbox {
    /*Float box for CSS layouts*/
    width: 175px;
    background: white url(thumbback2.jpg) no-repeat top left;
}

* html .csslisting .floatbox {
    /*IE only */
    width: 185px;
}

.snapshotbox {
    width: 390px;
    float: left;
    margin-bottom: 1em;
}

.snapshotbox a {
    margin-bottom: 12px;
    font-size: 110%;
}

.snapshotlisting {
    border-bottom: 1px dashed gray;
    clear: right;
    margin-bottom: 2px;
}

.snapshotlisting span.data {
    float: right;
    margin-right: 5px;
}

.snapshotlisting span.green {
    background-color: #c8fc98;
    padding: 0 1px;
}

.snapshotlisting span.yellow {
    background-color: #fde95e;
    padding: 0 1px;
}

.snapshotlisting span.content {
    padding: 0 5px;
}

/* CSS Layout Items specific CSS */
textarea.codecontainer {
    border: 1px dashed black;
    width: 98%;
    height: 350px;
    background-color: lightyellow;
    margin-top: 1em;
    clear: left;
    padding-left: 5px;
}

.selectcode {
    margin-top: 1em;
}

.selectcode a.tabs {
    border: 1px solid black;
    border-bottom-width: 0;
    padding: 0 4px;
    text-decoration: none;
    color: navy;
    margin-right: 3px;
}

.selectcode a.tabs:visited, .selectcode a.tabs:active {
    color: navy;
}

.selectcode a.tabs:hover {
    background-color: yellow;
    color: navy;
}

#bigarrowdiv {
    background: white url(bigdown.gif) 50% 90% no-repeat;
    width: 200px;
    height: 300px;
    cursor: pointer;
    cursor: hand;
    margin: auto;
}

.headers_source {
    border: 2px solid #DADADA;
    border-bottom-width: 0;
    width: 80%;
    background: url(chromebg.gif) center center repeat-x;
    margin: 0 auto;
    padding: 2px 10px;
    text-align: left;
    font: bold 120% "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
}

.headers_source img {
    float: right;
    margin-right: 5px;
    padding-top: 5px;
}

.headers_source span, .headers_source a.bar {
    padding: 5px 0;
    padding-left: 0;
}

.headers_source a.bar {
    /*background: transparent url(arrowbullet2.gif) no-repeat center right;*/
    text-decoration: none;
    /*padding-right: 18px;*/
    color: navy;
}

.headers_source a:visited, .headers_source a:active {
    color: navy;
}

.headers_source a:hover {
    color: navy;
}

#maincontainer_source {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #DADADA;
    padding: 10px;
    font: normal 90% "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
}

#maincontainer_source b {
    font-size: 100%;
}

#maincontainer_source .codetitle {
    padding-left: 19px;
    background: white url(squarebullet2.png) center left no-repeat;
}

#maincontainer_source .codeimages img {
    border: 1px dashed gray;
    margin-right: 8px;
}

#footerarea {
    clear: left;
    padding: 5px 10px;
    width: 80%;
    margin: 0 auto;
    border: 2px solid #DADADA;
    border-top-width: 0;
    height: 45px;
    background: #ecf0fc;
}

#footermenu {
    margin: 0;
    padding: 0;
    float: right;
    font-size: 90%;
}

#footermenu ul {
    margin: 0;
    padding-left: 0;
    float: left;
    font-weight: bold;
    border: 1px solid #DFDFDF;
    border-width: 1px 0;
}

#footermenu ul li {
    display: inline;
}

#footermenu ul li a {
    float: left;
    color: gray;
    font-weight: bold;
    padding: 2px 6px 4px 6px;
    text-decoration: none;
    background: #f3f5fb url(menudivide.gif) top right repeat-y;
}

#footermenu ul li a:hover {
    color: #565656;
    background-color: #F3F3F3;
    border-bottom: 4px solid gray;
    padding-bottom: 0;
}
