/* Base for starting modular font scale


px	em
2	0.125
4	0.25
8	0.5
12	0.75
14	0.875
16	1
20	1.25
32	2
36	2.25
64	4
128	8
256	16
512	32



*/

/*
    Natural box layout model to all elements, but allowing elements to change
    The width and height properties include the padding and border, but not the margin.
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
    Set default display for HTML5 elements for IE8
*/
header, nav, section, article, aside, footer {
   display:block;
}

img {
    max-width: 100%;
}

.monospace {
    font-family: monospace;
    font-size: 1.23em;
}


/*
    Begin GD Corp
*/

.gd-corp-font {
	font-family: gdCorp;
}

.gd-univ-font {
	font-family: gdUniv;
}

.gd-univ-bold-font {
	font-family: gdUniv;
	font-weight: bold;
}

.gd-blue {
	background-color:#0066CC;
}

.gd-white {
	background-color:#FFFFFF;
}

.gd-blue-text {
	color:#0066CC;
}

.gd-white-text {
	color:#FFFFFF;
}


/* End GD Corp    */
/**********************/


/**********************/
/* Begin General Colors */


.white-text {
   color:#FFFFFF;
}

.white {
	background-color: #FFFFFF;
}

.black-text {
   color: #343434;
}

.black {
	background-color: #343434;
}

.red-text {
   color: #D9534F;
}

.red {
    color: #FFF;
	background-color: #D9534F;
}

.green-text {
   color: #019875;
}

.green {
    color: #FFF;
	background-color: #019875;
}

.yellow-text {
    color: #DFD300;
}

.yellow {
    color: #FFF;
    background-color: #DFD300;
}

.new-green-text {
    color: #07B48E;
}

.orange-text {
    color: #FFA500;
}

.orange {
    background-color: #FFA500;
}

.purple-text {
    color: #9932CC;
}

.purple {
    color: #FFF;
    background-color: #9932CC;
}

/* new general colors */

.text {
    color: rgba(0,0,0,0.87);
}

.secondary-text {
    color: rgba(0,0,0,0.54);
}

.disabled-hint-text {
    color: rgba(0,0,0,0.26);
}

.dividers {
    color: rgba(0,0,0,0.12);
}

/* end new general colors */


/* End General Colors */
/**********************/

.pdf-red-text {
    color: #8D0505;
}

.pdf-red {
    color: #FFF;
    background-color: #8D0505;
}

/**********************/
/* Begin MS Colors */
.ms-access-text {
    color: #DD337C;
}

.ms-access {
    color: #FFF;
    background-color: #DD337C;
}

.ms-excel-text {
    color: #286F4D;
}

.ms-excel {
    color: #FFF;
    background-color: #286F4D;
}

.ms-one-note-text {
    color: #782173;
}

.ms-one-note {
    color: #FFF;
    background-color: #782173;
}

.ms-powerpoint-text {
    color: #CF4427;
}

.ms-powerpoint {
    color: #FFF;
    background-color: #CF4427;
}

.ms-project-text {
    color: #2E7237;
}

.ms-project {
    color: #FFF;
    background-color: #2E7237;
}

.ms-publisher-text {
    color: #087366;
}

.ms-publisher {
    color: #FFF;
    background-color: #087366;
}

.ms-visio-text {
    color: #38549E;
}

.ms-visio {
    color: #FFF;
    background-color: #38549E;
}

.ms-visual-studio-text {
    color: #67217A;
}

.ms-visual-studio {
    color: #FFF;
    background-color: #67217A;
}

.ms-word-text {
    color: #2B5796;
}

.ms-word {
    color: #FFF;
    background-color: #2B5796;
}

/* End MS Colors */
/**********************/

/**********************/
/* Begin Blues */

.dark-blue, .blue {
   background-color:#0272A7;
}

.medium-blue {
   background-color:#5EAEFF;
}

.light-blue {
   background-color:#f1f8fd;
}

.dark-blue-text, .blue-text {
    color: #0272A7;
}

.medium-blue-text {
   color:#5EAEFF;
}

.light-blue-text {
   color:#f1f8fd;
}

.dark-blue-border, .blue-border {
   border-color:#0272A7;
}

.medium-blue-border {
   border-color:#5EAEFF;
}

.light-blue-border {
   border-color:#f1f8fd;
}


body {
	margin: 0px 0px 0px 0px;
	font-family: Arial;
	font-size: 0.875em;
	background-color:#f5f5f5;
	color: #343434;
}


a {
	color: #06c;
}


p {
	/*font-size: 1em; */
    line-height: 22px;
    color: rgba(0,0,0,0.87);
}


/*
    Begin BUTTONS!!!!!!
*/

/* Base style for a button types */
button, .button, .button-hollow, .grey-button, .grey-button-hollow, .button-default, .button-default-focused, .green-button, .green-button-hollow, .button-success, .button-success-focused, .orange-button-hollow, .button-warning, .button-warning-focused, .red-button-hollow, .button-danger, .button-danger-focused {
    background-color: #0272A7;
    color: #FFF;
    border-style: solid;
    margin: 0.25em;
    padding: 0.5em 1em;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.25s;
    
    /* Rounded Corners */
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -khtml-border-radius: 0.5em;
    border-radius: 0.5em;

    border-color: rgba(0,0,0,0.3);
    border-width: 1px 2px 2px 1px;
    
}

/* Hover effects for default button */
button:enabled:hover, .button:enabled:hover, button:enabled:focus, .button:enabled:focus, .button-hollow {
    background-color: #FFF;
    color: #0272A7;
    cursor: pointer;
}

/* */
button:active, .button:active {
    color: #5EAEFF;
    background-color: #f1f8fd;
    border-color: #0272A7;
}

button:disabled, .button:disabled {
    background-color:#555;
    color: #FFF;
}

/* Override default link style for links styled as buttons */
a.button:link, a.button:visited {
    text-decoration: none;
    color: #FFF;
}

a.button:hover {
    color: #0272A7;
    background-color: #FFF;
}

/* Default Button Styles */
.button, .button-hollow:enabled:hover, .button-hollow:enabled:focus, .button-default, .button-default:link, .button-default-focused:hover {
    background:#0272A7;
    color: #FFF;
    /* border-color: #0272A7; */
}

/* Default Button Hover Effects */
.button-default:enabled:hover, .button:enabled:hover, .button-hollow, .button-default-focused, .button-default-focused:link {
    background-color:#FFF;
    color: #0272A7;
    border-color: #0272A7;
}

/* Grey Button Styles */
.grey-button, .grey-button:link, .grey-button-hollow:enabled:hover, .grey-button-hollow:enabled:focus {
    background-color:#555;
    color: #FFF;
    /* border-color: #555; */
}

/* Grey Button Hover Effects */
.grey-button:enabled:hover, .grey-button:enabled:focus, .grey-button-hollow, .grey-button-hollow:link {
    background-color:#FFF;
    color: #555;
    border-color: #555;
}

/* Blue (style) and Neutral (role) button styles */
.blue-button, .blue-button:link, .button-neutral, .button-neutral:link, .blue-button-hollow:enabled:hover, .blue-button-hollow:enabled:focus, .button-neutral-focused:hover {
    background-color: #0272A7;
    color: #FFF;
    /* border-color: #0272A7; */
}

/* Blue (style) and Neutral (role) hover effects */
.blue-button:enabled:hover, .button-neutral:enabled:hover, .blue-button:enabled:focus, .button-neutral:enabled:focus, .blue-button-hollow, .blue-button-hollow:link, .button-neutral-focused, .button-neutral-focused:link {
    color: #0272A7;
    border-color: #0272A7;
    background-color: #FFF;
}


/* Green (style) and Success (role) button styles */
.green-button, .green-button:link, .button-success, .button-success:link, .green-button-hollow:enabled:hover, .button-success-focused:enabled:hover, .green-button-hollow:enabled:focus, .button-success-focused:enabled:focus {
    background-color: #019875;
    color: #FFF;
    /* border-color: #019875; */
}

/* Green (style) and Success (role) hover effects */
.green-button:enabled:hover, .button-success:enabled:hover, .green-button:enabled:focus, .button-success:enabled:focus, .green-button-hollow, .green-button-hollow:link, .button-success-focused, .button-success-focused:link {
    color: #019875;
    border-color: #019875;
    background-color: #FFF;
}

/* Orange (style) and Warning (role) button styles */
.orange-button, .orange-button:link, .button-warning, .button-warning:link, .orange-button-hollow:enabled:hover, .button-warning-focused:enabled:hover, .orange-button-hollow:enabled:focus, .button-warning-focused:enabled:focus {
    background-color: #FFA500;
    color: #FFF;
    /* border-color: #FFA500; */
}

/* Orange (style) and Warning (role) hover effects */
.orange-button:enabled:hover, .button-warning:enabled:hover, .orange-button:enabled:focus, .button-warning:enabled:focus, .orange-button-hollow, .orange-button-hollow:link, .button-warning-focused, .button-warning-focused:link {
    background-color: #FFF;
    border-color: #FFA500;
    color: #FFA500;
}

/* Red (style) and Danger (role) button styles */
.red-button, .red-button:link, .button-danger, .button-danger:link, .red-button-hollow:enabled:hover, .button-danger-focused:enabled:hover, .red-button-hollow:enabled:focus, .button-danger-focused:enabled:focus {
    background-color: #D9534F;
    color: #FFF;
    /* border-color: #D9534F; */
}

/* Red (style) and Danger (role) hover effects */
.red-button:enabled:hover, .button-danger:enabled:hover, .red-button:enabled:focus, .button-danger:enabled:focus, .red-button-hollow, .red-button-hollow:link, .button-danger-focused, .button-danger-focused:link {
    color: #D9534F;
    border-color: #D9534F;
    background-color: #FFF;
}

/* End Buttons */
/*****************/

table {
	border-collapse: collapse;
}


th {
	background-color: #0272A7;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	padding: 3px;
}

tr {
	padding: 2px;
}

.alt-rows tr:nth-child(even) {
	background-color: #f1f8fd;
}

.alt-rows tr:nth-child(odd) {
	background-color: #FFFFFF;
}

td {
	padding: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
}

dl {
    margin-left: 10px;
}

dt {
    margin-left: 15px;
    font-weight: bold;
    color:#0272A7;
}

dd {

}

blockquote {
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #5EAEFF;
	background-color: #f1f8fd;
	display: inline-block;
	margin-left: 25px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: both;
}

code[class=""], code:not([class]) {
    background-color: #F5F5F5;
    padding: 10px;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px;
}

/* jggrid styles */

.ui-jqdialog {
  box-sizing: content-box;
}

.ui-jqgrid table, .ui-jqgrid th, .ui-jqgrid td, .ui-jqgrid tr {
	border-color: initial;
	border-style: initial;
	border-width: 0px;
	background-color: initial;
}

.ui-jqdialog-content td{
	border-color: initial;
	border-style: initial;
	border-width: 0px;
	background-color: initial;
}



.no-link a:link {
	color: #343434;
	text-decoration: none;

}

.no-link a:visited {
	color: #343434;
	text-decoration: none;

}

.no-link a:active {
	color: #343434;
	text-decoration: none;

}

.no-link a:hover {
	color: #343434;
	text-decoration: none;

}


.link-like {
    color: #06c;
    text-decoration: underline;
    cursor: pointer;
}

/*
	Remove all link styling.
*/

a.nostyle:link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a.nostyle:visited {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/****************************************
*** RE-LINK ***************************
Used to re-apply default link styles.
Primarily used to override JQGrid's
removal of default browser styles.
****************************************/
.re-link a:link {
	color: #06c;
    text-decoration: underline;
}

.re-link a:visited {
	color: #800080;
    text-decoration: underline;
}

.re-link a:active {
	color: #06c;
    text-decoration: underline;
}

.re-link a:hover {
	color: #06c;
	text-decoration: underline;
}

/**********************/
/* Header Begin */
.header {
	background-color: #0272A7;
	color: #FFFFFF;
	height:55px;
	padding-left: 30px;
	padding-right: 26px;
	padding-top: 5px;
	padding-bottom: 15px;
	clear:both;
    box-sizing: content-box;
}

.header a:link {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 1em;
}

.header a:visited {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 1em;
}

.header a:active {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 1em;
}

.header a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	font-size: 1em;
}

#site-title {
    text-align: center;
}

p.gdeb-logo{
    margin-top: 2px;
	position: absolute;
}

.gdeb-logo a:link {
	text-decoration: none;
	font-size: 1.5em;
}

.gdeb-logo a:hover {
	text-decoration: none;
	font-size: 1.5em;
}



.pageheader {
    min-width: 50%;
	max-width: 90%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 1px;
	border-bottom-width: 3px;
	border-color: #dddddd;
	background-color:#FFFFFF;
	padding-left: 5px;
	padding-right: 5px;
}

.pagetitle {
	font-size: 2.25em;
	font-family: Arial;
	text-align: center;
}

.search-button {
	font-size: 0.7em;
}

/* Header End */
/**********************/

.navbar {

}

.content {
	background-color: #FFFFFF;
	color: #343434;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
    min-width: 50%;
    max-width:90%;
	border-style: solid;
	border-width: 1px;
	border-bottom-width: 3px;
	border-color: #dddddd;
	padding: 5px;
	line-height: 20px;
}

.content > p {
    margin-left: 15px;
}

.content:after {
    content:"";
    display:table;
    clear:both;
	overflow: hidden;
}

/* content style without width restrictions*/
.content-style {
	background-color: #FFFFFF;
	color: #343434;
	margin-top: 5px;
	margin-bottom: 5px;
	border-style: solid;
	border-width: 1px;
	border-bottom-width: 3px;
	border-color: #dddddd;
	padding: 5px;
	line-height: 20px;
}

.content h1, .content h2, .content h3, .content h4, .content h5 {
	font-family: Arial;
}

.banner {
	height:  250px;
}

.image-banner {
    height: 250px;
}

#jqb_object .jqb_bar {
	filter: alpha(opacity=100);
}


.content h1, h1 {
	font-size: 2.25em;
    line-height: 1em;
}

.content h2, h2 {
	font-size: 1.5em;
    line-height: 1em;
}

.content h3, h3 {
	font-size: 1.3125em;
    line-height: 1em;
}

.content h4, h4 {
	font-size: 1.125em;
    line-height: 1em;
}

.content h5, h5 {
	font-size: 1em;
    line-height: 1em;
}

/**********************/
/* Begin List Styles */

ul {
    line-height: 25px;
}

ul.no-bullets {
	list-style-type: none;
    line-height: 25px;
}

ul.circle-bullets {
	list-style-type: circle;
    line-height: 25px;
}

ul.square-bullets {
	list-style-type: square;
    line-height: 25px;
}

ul.no-style {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    line-height: 25px;
}

ol {
    line-height: 25px;
}

ol.upper-roman-bullets {
	list-style-type: upper-roman;
    line-height: 25px;
}

ol.lower-roman-bullets {
	list-style-type: lower-roman;
    line-height: 25px;
}

ol.upper-alpha-bullets {
	list-style-type: upper-alpha;
    line-height: 25px;
}

ol.lower-alpha-bullets {
	list-style-type: lower-alpha;
    line-height: 25px;
}

ol.numbered-bullets {
	list-style-type: decimal;
    line-height: 25px;
}

/* End List Styles */
/**********************/

.footer {
	background-color: #FFFFFF;
	color: #343434;
	clear:both;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
    min-width: 50%;
	max-width: 90%;
	text-align: center;
	font-size: 1em;
	border-style: solid;
	border-width: 1px;
	border-bottom-width: 3px;
	border-color: #dddddd;
	padding: 5px;
}

.sitemessage {
	display: none;
}

.pcontainer {
	display: none;
}

/**********************/
/* Begin Style/Display Classes */

.hidden {
    display: none;
}

.jumbotron {
    background-color: #5FCCAB;
    color: #fff;
    text-align: center;
    min-height: 10em;
    min-width: 50%;
	max-width: 90%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 1px;
	border-bottom-width: 3px;
	border-color: #479980;
	padding-left: 5px;
	padding-right: 5px;
}

.jumbotron h1, .content .jumbotron h1 {
    font-size: 3em;
    color: inherit;
}

.jumbotron p, .content .jumbotron p {
    font-size: 2em;
    color: inherit;
}

.content .jumbotron {
    background-color: #5FCCAB;
    color: #fff;
    text-align: center;
    min-height: 10em;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
    border-radius: 25px;
}

/* End Style/Display Classes */
/**********************/

/**********************/
/* Begin Column Classes */



.column-container:after {
	display: block;
	height: 0;
	clear: both;
	content: " ";
}


.column-of-two {
    padding: 0.5%;
	float: left;
	width: 50%;
}

.column-of-three {
    padding: 0.5%;
	float: left;
	width:33%;
}

.column-of-four {
    padding: 0.5%;
	float: left;
	width: 25%;
}

/* End Column Classes */
/**********************/

/**********************/
/* Start Misc Elements */
.faq-accordion {
    width: 75%;
}

.faq-accordion h3 {
    margin-bottom: 0;
}

/* override jquery content padding to make nested accordiongs full-width */
.full-width-accordion-content {
  padding: 1rem 0.25rem !important;
}



/****************************************************/
/* Start Note Block Classes                         */

/* Base style for note blocks */
.note-block, .green-note-block, .note-block-success, .red-note-block, .note-block-danger, .orange-note-block, .note-block-warning {
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #5EAEFF;
	background-color: #f1f8fd;
	display: inline-block;
	margin-left: 25px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: both;
}

/* Green (style) and Success (role) note block styles */
.green-note-block, .note-block-success {
    background-color: #F1FDF8;
    border-left-color: #019875;
}

/* Red (style) and Danger (role) note block styles */
.red-note-block, .note-block-danger {
    background-color: #FEECE5;
    border-left-color: #D9534F;
}

/* Orange (style) and Warning (role) note block styles */
.orange-note-block, .note-block-warning {
    background-color: #FDF8F1;
    border-left-color: #FFA500;
}


/* End Note Block Classes                         */
/****************************************************/

.toc {
	border-style: solid;
	border-width: 0px;
	border-top-width: 5px;
	border-top-color: #5EAEFF;
	background-color: #f1f8fd;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 3px;
}

.page-insert {
	border-style: solid;
	border-width: 0px;
	border-right-width: 5px;
	border-right-color: #5EAEFF;
	background-color: #f1f8fd;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 3px;
    width: 18%;
}

.new-banner
{
	background-image:url('/homepages/comp_sys_sup/include/images/new.png');
	background-repeat:no-repeat;
	background-position: right top;
}

.small-note{
	font-size: 0.6em;
}

/*  End Misc Elements */
/**********************/

/**********************/
/* Begin Position Classes */
.left {
	float:left;
}

.middle {
	margin-left: auto;
	margin-right: auto;
}

.right {
	float:right;
}

.centered {
	max-width:90%;
	margin-left: auto;
	margin-right: auto;
  display: block;
}

.block-center {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

table.block-center {
    max-width:80%;
    display: table;
}

table.block-center.dataTable {
    float:none;
}

table.centered {
	max-width:90%;
	margin-left: auto;
	margin-right: auto;
  display: table;
}

table.no-style, table.no-style th, table.no-style td {
    border-style: none;
    border-width: 0;
}

table.form td {
    border-style: none;
    height: 40px;
}

table.minimal {
    margin: 20px;
    border-style: none;
}

table.minimal td {
    border-style: solid;
    border-width: 1px;
    border-color:  rgba(0,0,0,0.12);
}

table.minimal th {
    color: rgba(0,0,0,0.54);
    background-color:  rgba(0,0,0,0.26);
}

.centered-text {
	text-align: center;
}

.vertical-center{
	height: 75px;
	line-height: 75px;
}

.vertical-middle {
	vertical-align: middle;
}

.vertical-top {
	vertical-align: top;
}

.vertical-bottom {
	vertical-align: bottom;
}

.vertical-subscript {
	vertical-align: sub;
}

.vertical-superscript {
	vertical-align: super;
}

/* End Position Classes */
/**********************/



/**********************/
/* Begin Universal Header */
/* univ-header-container-closed and open are toggled to show/hide the universal header
using a basic transition animation */
.univ-header-container-closed {
    height: 0;
    visibility: hidden;
    background-color: #f1f8fd;
    transition: height 0.5s;
    margin-top: 0px;
}

.univ-header-container-open {
    height: 170px;
    visibility: visible;
    background-color: #fff;
    transition: height 0.5s;
    overflow: hidden;

}

#univ-header {
    max-height: 170px;
    margin-right: 50px;
}


#univ-header > * {
    margin-top: 0px;
    max-height: 155px;
}

#show-univ {
    cursor: pointer;
    margin-top: -10px;
    width: 100px;
    background-color: #fff;
    border-radius: 0 0 50px 50px;
    color: #343434;

}

.univ-header-closed {
    display: none;
}

.univ-header-open {
    display: block;
    padding: 5px;
}

.univ-header-column {
    margin-left: 50px;
    padding-left: 50px;
    height: 160px;
    float: right;
    border-style: solid;
    border-color: #dddddd;
    border-width: 0 0 0 1px;
}

.univ-header-column > ul {
    margin-top: 0;
}

.univ-header-column > h3 {
    line-height: 0.5em;
}

.univ-header-news {
    float:left;
    margin-left: 20px;
}

.simpleSearch {

}

.simpleSearch td {
    border-style: none;
}

/* End Universal Header */
/**********************/

/*
    responsive set to typical tablet portrait size
*/
@media only screen and (max-width: 768px) {
    table {
        max-width:100%;
    }

    .column-of-two, .column-of-three, .column-of-four {
        width: 100%;
    }
    .page-insert {
        width: 100%;
        float: none;
    }
}

/*
    responsive set to typical phone portrait size
*/
@media only screen and (max-width: 400px) {

}

/*Begin Toast Messages*/
@keyframes showHideMsgAnimation {
  0% {
    opacity: 0;
    top: -2em;
  }
  25% {
    opacity: 1;
    top: 1em;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showMsgAnimation {
  0% {
    opacity: 0;
    top: -2em;
  }
  100% {
    opacity: 1;
    top: 1em;
  }
}
.msg {
  background-color: deepskyblue;
  border-radius: 1em;
  color: white;
  font-size: 200%;
  left: 50%;
  padding: .5em 1em;
  position: fixed;
  text-align: center;
  top: 1em;
  transform: translateX(-50%);
}
.errorMsg {
  background-color: darkred;
}
.successMsg {
  background-color: green;
}
.warningMsg {
  background-color: goldenrod;
}
.showHideMsg {
  animation-duration: 5s;
  animation-name: showHideMsgAnimation;
  opacity: 0;
}
.showMsg {
  animation-duration: 1.25s;
  animation-name: showMsgAnimation;
  cursor: pointer;
}
.showMsg:hover {
  background-color: firebrick;
}
.showMsg::after {
  content: ' (Click to dismiss)';
  font-size: 75%;
}
/*End Toast Messages*/

/*Begin Data Tables Fixes*/
.dataTables_length + div.dt-buttons {
  padding-left: 1em;
}
.dataTables_length, .dataTables_filter {
  padding-top: .5em;
}
/*End Data Tables Fixes*/