@charset "utf-8";
/* CSS Document */

/* CSS basic structure and styling for Flyout Menu for top navigation bar*/
#cssmenu {
	padding: 0;
	margin: 0;
	border: 0;
	background: #333;
	border-bottom: 20px solid #1b9bff;
	font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
	font-size: 18px;
}
#cssmenu ul, #cssmenu li {
	list-style: none; 
	margin: 0; 
	padding: 0;
}
#cssmenu ul {
	position: relative;
	z-index: 597;

	*display: inline-block;
}
#cssmenu ul li { 
	float: left; 
	min-height: 1px; 
	vertical-align: middle;
}
#cssmenu ul li.hover,#cssmenu ul li:hover {
	position: relative; 
	z-index: 599; 
	cursor: default;
	color:#3399FF;
}
#cssmenu ul ul {
	visibility: hidden; 
	position: absolute; 
	top: 100%;
	left: 0; 
	z-index: 598; 
	width: 100%;
	border-top: 4px solid #1b9bff;
	text-transform: none;
	min-width: 190px; 
}
#cssmenu ul ul li {
	float: none;
	position: relative;
	width: 300px;
	font-weight: normal;
}
#cssmenu ul ul a {
    background: #1b9bff;
    color: #FFF;
	border: 1px solid #0082e7;
	border-top: 0 none;
	line-height: 150%;
	padding: 16px 20px;
}
#cssmenu ul ul ul {
	top: 0; 
	left: auto; 
	right: -99.5%; 
	border-top: 0 none; 
}
#cssmenu ul li:hover > ul { 
	visibility: visible;
}
#cssmenu ul ul {
	bottom: 0; 
	left: 0;
	margin-top: 0; 
}
#cssmenu a { 
	display: block; 
	line-height: 1em; 
	text-decoration: none; 
	background: #333;    
	color: #CBCBCB;
    padding: 0 20px;
}
#cssmenu:after, #cssmenu ul:after {
    content: '';
    display: block;
    clear: both; 
}
#cssmenu > ul > li > a { line-height: 48px;  }
#cssmenu ul ul li:first-child > a { border-top: 1px solid #0082e7; }
        #cssmenu ul ul li:hover > a { background: #35a6ff; }

        #cssmenu ul ul li:last-child > a {          
		border-radius: 0 0 3px 3px;          
		box-shadow: 0 1px 0 #1b9bff; 
}        
		#cssmenu ul ul li:last-child:hover > a { border-radius: 0 0 0 3px; }        
		#cssmenu ul ul li.has-sub > a:after {          
		content: '+';          
		position: absolute;          
		top: 50%;          
		right: 15px;          
		margin-top: -8px;
}

/* setting up main background image of the three submarines (for homepage)*/
#main_image {
	background-image: url(../images/D413.JPG);
	background-repeat: no-repeat;
	height: 500px;
	width: 1200px;
	position: relative;
	border-bottom: 4px solid #1b9bff; 
}
/* Styling of Header (D413 and Fluid Systems Engineering)*/

#header a {
	font-size: 20px;
	font-weight: bold;
	font-variant: small-caps;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	display: block;
	width: 120px;
}
#header ul li {
	float: right;
}

#header ul {
	margin: 0px;
	list-style-type: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}


h1 {
	font-family: sarina, serif;
	font-size: 96px;
	margin: 0;
	float: left;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #3B3B3B;
	background-color: #FFF;
	margin: 0px;
}

#main_text {
	background-color: #FFF;
	background: rgba(255,255,255,0.8);
	width: 300px;
	position: absolute;
	right: 25px;
	bottom: 3px;
	padding: 12px;
	border-radius: 10px;
}
#main_text h3 {
	font-size: 16px;
	margin: 0px;
}
#main_text h2 {
	color: #003564;
	margin-top: 0px;
	margin-bottom: 10px;
}
#main_text p {
	font-size: 14px;
	line-height: 1.2;
	margin: 0px;
}.two_col #left_column {
	color: #FFF;
	background-color: #666;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
}
.post_header {
	background-color: #999;
	width: 622px;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
}
.large_header {
	background-color: #999;
	width: 966px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.post_header h3 {
	margin-top: 5px;
	margin-bottom: 10px;
}
.two_col #right_column p {
	width: 622px;
	padding-right: 10px;
	padding-left: 10px;
}
.two_col #right_column {
	width: 622px;
}
.two_col #right_column h5 {
	width: 622px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 0px;
	margin-top: 0px;
}
#right_column .post_header p {
	font-size: 14px;
	color: #FFF;
	margin: 0px;
	padding-left: 0px;
}
.two_col  h2 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 32px;
	font-variant: small-caps;
	text-align: left;
	word-spacing: 0.3em;
	clear: left;
	line-height: 100%;
	margin-top: 25px;
	margin-right: 5px;
	margin-bottom: 15px;
	margin-left: 5px;
}

/* CSS basic structure for Flyout Menu for left navigation bar*/
#leftmenu {
  padding: 0;
  margin: 0;
  border: 0; }

#leftmenu ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

#leftmenu ul {
	position: relative;
	z-index: 597;
	float: left;
	background-color: #000000;
}

#leftmenu ul h4 {
	width: 322px;
}
#leftmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 120%;
  vertical-align: middle; 
}

#leftmenu ul li.hover,
#leftmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default; }

#leftmenu ul ul {
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 598;
	width: 100%;
	background-color: #000;
}
#leftmenu ul ul p {
	line-height: 110%;	
}

#leftmenu ul ul li {
	float: none;
	background-color: #F66;
	width: 250px;
}

#leftmenu ul li:hover > ul {
  visibility: visible; }

#leftmenu ul ul {
	top: 0;
	left: 100%;
  }

#leftmenu ul li {
	float: none;
}
 
#leftmenu {
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  background-color: #141414;
  width: 325px;
}
#leftmenu:after {
  content: '';
  display: block;
  clear: both;
}
#leftmenu a {
	background-color: #000;
	color: white;
	display: block;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 140%;
	padding: 13px 20px;
	text-decoration: underline;
}
#leftmenu ul {
	list-style: none;
	width: 250px;
	padding-left: 10px;
	border-right-width: 10px;
	border-right-style: solid;
	border-right-color: #0fa1e0;
}
#leftmenu > ul {
  float: left;
}
#leftmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: 50%;
  border-top: 10px transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #0fa1e0;
  margin-top: -10px;
}
#leftmenu > ul > li:first-child >a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
#leftmenu > ul > li:last-child > a {
  border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  -webkit-border-radius: 0 0 0 5px;
}
#leftmenu > ul > li.active a {
  box-shadow: inset 0 0 3px black;
  -moz-box-shadow: inset 0 0 3px black;
  -webkit-box-shadow: inset 0 0 3px black;
  background-color: #0F6;

}
#leftmenu > ul > li:hover > a {
  background-color: #070707;
  box-shadow: inset 0 0 3px black;
  -moz-box-shadow: inset 0 0 3px black;
  -webkit-box-shadow: inset 0 0 3px black;
}
#leftmenu .has-sub {
  z-index: 1;
}
#leftmenu .has-sub:hover > ul {
  display: block;
}
#leftmenu .has-sub ul {
	display: none;
	position: absolute;
	width: 300px;
	top: 5px;
	line-height: 180%;
	left: 100%;
}
#leftmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#leftmenu .has-sub ul li a {
  background: #0fa1e0;
  border-bottom: 1px dotted #6fc7ec;
  filter: none;
  font-size: 11px;
  display: block;
  line-height: 100%;
  padding: 10px;
}
#leftmenu .has-sub ul li:hover a {
  background: #0c7fb0;
}
#leftmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#leftmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#leftmenu .has-sub .has-sub ul li a {
  background: #0c7fb0;
  border-bottom: 1px dotted #6db2d0;
}
#leftmenu .has-sub .has-sub ul li a:hover {
  background: #095c80;
}

#right_column ul li {
	list-style-type: circle;
}

.one_col #main_column {
	width: 968 px;
}
.one_col h2 {
		font-family: "Arial Black", Gadget, sans-serif;
	font-size: 32px;
	font-variant: small-caps;
	text-align: left;
	word-spacing: 0.3em;
	clear: left;
	line-height: 100%;
	margin-top: 25px;
	margin-right: 5px;
	margin-bottom: 50px;
	margin-left: 5px;
}
.two_col #container #right_column img {
	padding-bottom: -50px;
}
