/* _lcid="1033" _version="15.0.4561"
_LocalBinding */

/* START OF CUSTOM INTRANET PAGE LAYOUTS */
.removePadding {
  padding-right: 0;
  padding-left :0;
}

.topPadding  {
  padding-top: 15px;
}

.bottomPadding {
  padding-bottom: 15px;
}
/* END OF CUSTOM INTRANET PAGE LAYOUTS */

/* START OF CUSTOM MASTER PAGE */

/*
-----------------------------------------------------------------------------
  Print Syle Sheet
-----------------------------------------------------------------------------
*/
@media print {
  header, #ms-designer-ribbon, #o-navigation, #o-page-sidebar, #o-page-sidebar-footer, footer, .a-drawer, #o-page-content-spacer, .ms-csrlistview-controldiv {
    display: none !important;
    overflow: visible !important;
  }

  #o-page-container, #o-page-content, #a-content-main-body, #o-mainContent, #DeltaPlaceHolderMain {
    padding: 0 !important;
    margin: 0 !important;
    overflow: visible !important;
  }

 #o-mainContent img {
    max-width: 7in;
  }
}
/*
-----------------------------------------------------------------------------
  Fonts and Icons
-----------------------------------------------------------------------------
*/

/* libre-franklin-100 - latin */
@font-face {
  font-family: 'LibreFranklin-Thin';
  font-style : normal;
  font-weight: 100;
  src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100.eot'); /* IE9 Compat Modes */
  src        : local('Libre Franklin Thin'), local('LibreFranklin-Thin'),
              url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
              url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
              url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100.woff') format('woff'), /* Modern Browsers */
              url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
              url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
/* libre-franklin-100italic - latin */
@font-face {
  font-family: 'LibreFranklin-ThinItalic';
  font-style : italic;
  font-weight: 100;
  src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100italic.eot'); /* IE9 Compat Modes */
  src        : local('Libre Franklin Thin Italic'), local('LibreFranklin-ThinItalic'),
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100italic.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
/* libre-franklin-200 - latin */
@font-face {
  font-family: 'LibreFranklin-ExtraLight';
  font-style : normal;
  font-weight: 200;
  src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200.eot'); /* IE9 Compat Modes */
  src        : local('Libre Franklin ExtraLight'), local('LibreFranklin-ExtraLight'),
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
/* libre-franklin-200italic - latin */
@font-face {
  font-family: 'LibreFranklin-ExtraLightItalic';
  font-style : italic;
  font-weight: 200;
  src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200italic.eot'); /* IE9 Compat Modes */
  src        : local('Libre Franklin ExtraLight Italic'), local('LibreFranklin-ExtraLightItalic'),
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200italic.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
/* libre-franklin-300italic - latin */
@font-face {
  font-family: 'LibreFranklin-LightItalic';
  font-style : italic;
  font-weight: 300;
  src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300italic.eot'); /* IE9 Compat Modes */
  src        : local('Libre Franklin Light Italic'), local('LibreFranklin-LightItalic'),
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300italic.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
/* libre-franklin-300 - latin */
@font-face {
  font-family: 'LibreFranklin-Light';
  font-style : normal;
  font-weight: 300;
  src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300.eot'); /* IE9 Compat Modes */
  src        : local('Libre Franklin Light'), local('LibreFranklin-Light'),
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
/* libre-franklin-regular - latin */
@font-face {
  font-family: 'LibreFranklin-Regular';
  font-style : normal;
  font-weight: 400;
  src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src        : local('Libre Franklin'), local('LibreFranklin-Regular'),
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-regular.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
/* libre-franklin-italic - latin */
@font-face {
  font-family: 'LibreFranklin-Italic';
  font-style : italic;
  font-weight: 400;
  src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-italic.eot'); /* IE9 Compat Modes */
  src        : local('Libre Franklin Italic'), local('LibreFranklin-Italic'),
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-italic.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
/* libre-franklin-500 - latin */
@font-face {
  font-family: 'LibreFranklin-Medium';
  font-style : normal;
  font-weight: 500;
  src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500.eot'); /* IE9 Compat Modes */
  src        : local('Libre Franklin Medium'), local('LibreFranklin-Medium'),
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
/* libre-franklin-500italic - latin */
@font-face {
  font-family: 'LibreFranklin-MediumItalic';
  font-style : italic;
  font-weight: 500;
  src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500italic.eot'); /* IE9 Compat Modes */
  src        : local('Libre Franklin Medium Italic'), local('LibreFranklin-MediumItalic'),
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500italic.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
/* libre-franklin-600 - latin */
@font-face {
  font-family: 'LibreFranklin-SemiBold';
  font-style : normal;
  font-weight: 600;
  src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600.eot'); /* IE9 Compat Modes */
  src        : local('Libre Franklin SemiBold'), local('LibreFranklin-SemiBold'),
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
/* libre-franklin-600italic - latin */
@font-face {
  font-family: 'LibreFranklin-SemiBoldItalic';
  font-style : italic;
  font-weight: 600;
  src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600italic.eot'); /* IE9 Compat Modes */
  src        : local('Libre Franklin SemiBold Italic'), local('LibreFranklin-SemiBoldItalic'),
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600italic.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
/* libre-franklin-700 - latin */
@font-face {
  font-family: 'LibreFranklin-Bold';
  font-style : normal;
  font-weight: 700;
  src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700.eot'); /* IE9 Compat Modes */
  src        : local('Libre Franklin Bold'), local('LibreFranklin-Bold'),
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
/* libre-franklin-700italic - latin */
@font-face {
  font-family: 'LibreFranklin-BoldItalic';
  font-style : italic;
  font-weight: 700;
  src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700italic.eot'); /* IE9 Compat Modes */
  src        : local('Libre Franklin Bold Italic'), local('LibreFranklin-BoldItalic'),
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700italic.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
/* libre-franklin-800 - latin */
@font-face {
  font-family: 'LibreFranklin-ExtraBold';
  font-style : normal;
  font-weight: 800;
  src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800.eot'); /* IE9 Compat Modes */
  src        : local('Libre Franklin ExtraBold'), local('LibreFranklin-ExtraBold'),
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
/* libre-franklin-800italic - latin */
@font-face {
  font-family: 'LibreFranklin-ExtraBoldItalic';
  font-style : italic;
  font-weight: 800;
  src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800italic.eot'); /* IE9 Compat Modes */
  src        : local('Libre Franklin ExtraBold Italic'), local('LibreFranklin-ExtraBoldItalic'),
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800italic.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
/* libre-franklin-900 - latin */
@font-face {
  font-family: 'LibreFranklin-Black';
  font-style : normal;
  font-weight: 900;
  src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900.eot'); /* IE9 Compat Modes */
  src        : local('Libre Franklin Black'), local('LibreFranklin-Black'),
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
/* libre-franklin-900italic - latin */
@font-face {
  font-family: 'LibreFranklin-BlackItalic';
  font-style : italic;
  font-weight: 900;
  src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900italic.eot'); /* IE9 Compat Modes */
  src        : local('Libre Franklin Black Italic'), local('LibreFranklin-BlackItalic'),
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900italic.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto-Thin';
  font-style : normal;
  font-weight: 100;
  src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-100.eot'); /* IE9 Compat Modes */
  src        : local('Roboto Thin'), local('Roboto-Thin'),
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-100.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-100italic - latin */
@font-face {
  font-family: 'Roboto-ThinItalic';
  font-style : italic;
  font-weight: 100;
  src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-100italic.eot'); /* IE9 Compat Modes */
  src        : local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-100italic.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-100italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto-Light';
  font-style : normal;
  font-weight: 300;
  src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
  src        : local('Roboto Light'), local('Roboto-Light'),
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto-LightItalic';
  font-style : italic;
  font-weight: 300;
  src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-300italic.eot'); /* IE9 Compat Modes */
  src        : local('Roboto Light Italic'), local('Roboto-LightItalic'),
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-300italic.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto-Regular';
  font-style : normal;
  font-weight: 400;
  src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src        : local('Roboto'), local('Roboto-Regular'),
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto-RegularItalic';
  font-style : italic;
  font-weight: 400;
  src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-italic.eot'); /* IE9 Compat Modes */
  src        : local('Roboto Italic'), local('Roboto-Italic'),
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-italic.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto-Medium';
  font-style : normal;
  font-weight: 500;
  src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-500.eot'); /* IE9 Compat Modes */
  src        : local('Roboto Medium'), local('Roboto-Medium'),
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-500.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto-MediumItalic';
  font-style : italic;
  font-weight: 500;
  src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-500italic.eot'); /* IE9 Compat Modes */
  src        : local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-500italic.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto-Bold';
  font-style : normal;
  font-weight: 700;
  src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
  src        : local('Roboto Bold'), local('Roboto-Bold'),
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto-BoldItalic';
  font-style : italic;
  font-weight: 700;
  src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-700italic.eot'); /* IE9 Compat Modes */
  src        : local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-700italic.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto-Black';
  font-style : normal;
  font-weight: 900;
  src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-900.eot'); /* IE9 Compat Modes */
  src        : local('Roboto Black'), local('Roboto-Black'),
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-900.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900italic - latin */
@font-face {
  font-family: 'Roboto-BlackItalic';
  font-style : italic;
  font-weight: 900;
  src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-900italic.eot'); /* IE9 Compat Modes */
  src        : local('Roboto Black Italic'), local('Roboto-BlackItalic'),
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-900italic.woff') format('woff'), /* Modern Browsers */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
               url('/_catalogs/theme/15/roboto/roboto-v18-latin-900italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/*
-----------------------------------------------------------------------------
  Universal
-----------------------------------------------------------------------------
*/
.ms-core-brandingText:after {
  content: "           Enterprise Content Management System";
}
.ms-core-brandingText {
  margin-left: -101px;
}
body {
  font-family: LibreFranklin-Regular !important;
}
.customBodyHolder {
  min-height: 300px;
}
#suiteBarRight #zz5_Menu,
#zz4_Menu {
  color: #fff;
}
#zz5_Menu {
  color: #666 !important;
}
#pageStatusBar {
  margin: 0 !important;
}
#DeltaPlaceHolderLeftNavBar {
  display: none;
}
.s4-workspace-overflow-y-visible {
  overflow  : visible !important;
  overflow-y: visible !important;
}
.tour-homeport_tour {
  border: 3px solid #3B9553;
}
/* Needed to have the triangle match the grey background of the popover */
.popover[class*=tour-].top .arrow:after {
  border-top-color: #3B9553;
}
.popover[class*=tour-].right .arrow:after {
  border-right-color: #3B9553;
}
.popover[class*=tour-].bottom .arrow:after {
  border-bottom-color: #3B9553;
}
.popover[class*=tour-].left .arrow:after {
  border-left-color: #3B9553;
}
.popover-navigation button:hover {
  background-color: #adadad;
  background-image: linear-gradient(to bottom,#fff 0,#adadad 100%);
}
/*Needed to support padding movement from side tabs*/
#o-mainContent {
  padding: 30px 33px 30px 30px;
}
.tooltip_templates {
  display: none;
}
/*Needed to support auto-refreshing of content when items in my quick links are added/edited*/
.ms-dlgOverlay {
  transition: all 2s ease-out;
}
.ms-rtestate-field h1,
h1.ms-rteElement-H1,
.homeport-h1 {
  color      : #30395C;
  font-family: LibreFranklin-Bold, "Arial Black", "Sans-Serif";
  font-size  : 18pt;
}
.ms-rtestate-field h2,
h2.ms-rteElement-H2,
.homeport-h2 {
  color      : #30395C;
  font-family: LibreFranklin-Bold, "Arial Black", "Sans-Serif";
  font-size  : 16pt;
}
.ms-rtestate-field h3,
h3.ms-rteElement-H3,
.homeport-h3 {
  color      : #707070;
  font-family: LibreFranklin-SemiBold, "Arial Black", "Sans-Serif";
  font-size  : 14pt;
}
.ms-rtestate-field h4,
h4.ms-rteElement-H4,
.homeport-h4 {
  color         : #707070;
  font-family   : LibreFranklin-SemiBold, "Arial Black", "Sans-Serif";
  font-size     : 11pt;
  text-transform: uppercase;
}
h1.ms-rteElement-H1B,
.homeport-h1-alt {
  color      : #707070;
  font-family: LibreFranklin-Bold, "Arial Black", "Sans-Serif";
  font-size  : 18pt;
}
h2.ms-rteElement-H2B,
.homeport-h2-alt {
  color      : #707070;
  font-family: LibreFranklin-Bold, "Arial Black", "Sans-Serif";
  font-size  : 16pt;
}
h3.ms-rteElement-H3B,
.homeport-h3-alt {
  color      : #92c0e0;
  font-family: LibreFranklin-SemiBold, "Arial Black", "Sans-Serif";
  font-size  : 14pt;
}
h4.ms-rteElement-H4B,
.homeport-h4-alt {
  color         : #92c0e0;
  font-family   : LibreFranklin-SemiBold, "Arial Black", "Sans-Serif";
  font-size     : 11pt;
  text-transform: uppercase;
}
hr.ms-rteElement-HorizontalRule {
	-ms-name:"Horizontal Line";
	-ms-element:"true";
}
.ms-rteElement-hr {
  height:1px;
}

hr {
border-width:0px;
border-top:1px solid #c6c6c6;
}
/*
-----------------------------------------------------------------------------
  Header
-----------------------------------------------------------------------------
*/
header {
  background-color: #30395C;
  display         : flex;
  flex-direction  : column;
}
#m-topHeader {
  align-items     : center;
  background-color: #6D6F71;
  display         : flex;
  height          : 40px;
  justify-content : space-between;
}
#m-topHeader {
  padding: 0 30px;
}
#m-topHeader img {
  height: 30px;
  width : auto;
}
.m-statusLinks ul {
  list-style   : none;
  margin-bottom: 16px;
}
.m-statusLinks ul li {
  display    : inline;
  padding    : 0 8px;
}
.m-statusLinks ul li:last-child {
  padding-right: 0;
}
.m-statusLinks ul li a,
.m-statusLinks ul li a:hover,
.m-statusLinks ul li a:visited {
  color          : #fff;
  font-size      : 8pt;
  margin-left    : 4px;
  text-decoration: none;
  text-transform : uppercase;
}
.m-statusLinks ul li a {
  background-color: #2282b6;
  border          : 1px solid #fff;
  border-radius   : 6px;
  color           : #fff;
  cursor          : pointer;
  font-family     : LibreFranklin-Bold;
  padding         : 6px;
}
.a-statusBox {
  display       : inline-block;
  height        : 18px;
  vertical-align: text-bottom;
  width         : 18px;
}
#m-bottomHeader {
  align-items     : center;
  background-color: #30395C;
  border-bottom   : 1px solid #fff;
  display         : flex;
  height          : 50px;
  justify-content : space-between;
  margin          : 0 30px;
}

/*Tablet*/
@media screen and (min-width: 767px) and (max-width: 1199px) {
  #m-bottomHeader {
    margin : 0;
    padding: 0 30px;
  }
}
.a-homeportLogo a {
  color          : #fff;
  font-family    : LibreFranklin-Bold !important;
  font-size      : 24pt;
  text-decoration: none;
  text-transform : uppercase;
}
.a-homeportLogo span {
  color         : #fff;
  font-family   : LibreFranklin-Thin !important;
  font-size     : 10pt;
  text-transform: uppercase;
}
#o-weatherSearchWelcome {
  align-items: center;
  display    : flex;
}
#m-weather,
.m-weatherInfo {
  color  : #fff;
  display: flex;
}
.m-weatherInfo {
  margin: 0 10px;
}
#m-weatherDropdownContainer {
  background-color: #30395C;
  color           : #fff;
  margin-left     : 10px;
}
#m-weatherDropdownContainer a:visited {
  color: #fff;
}
#m-weatherDropdown,
#m-weatherDropdown button {
  font-family: LibreFranklin-Medium;
  font-size  : 10pt;
}
.a-weatherIcon {
  height      : 25px;
  margin-right: 6px;
  width       : auto;
}
.a-weatherData {
  color      : #fff;
  font-family: LibreFranklin-Bold;
}
#m-todayWeather:hover #m-todayWeatherTooltip,
#m-tomorrowWeather:hover #m-tomorrowWeatherTooltip {
  visibility: visible;
}
.m-weatherInfo #m-todayWeatherTooltip,
.m-weatherInfo #m-tomorrowWeatherTooltip {
  background-color: transparent;
  display         : inline-block;
  padding         : 3px 0;
  position        : absolute;
  text-align      : center;
  visibility      : hidden;
  z-index         : 1;
}
.m-weatherInfo #m-todayWeatherTooltip {
  height: 150px;
}
.m-weatherForecast {
  background-color: #6D6F71;
  border-radius   : 6px;
  box-shadow      : 7px 7px 10px rgba(0,0,0,0.4);
  display         : flex;
  margin-top      : 34px;
  padding         : 20px;
  text-align      : left;
}
#a-todayWeatherTime {
  font-size: 8pt;
}
#m-todayWeatherTooltip .a-seeMoreWeatherLink,
#m-todayWeatherTooltip .a-seeMoreWeatherLink:visited {
  bottom  : 25px;
  color   : #fff;
  position: absolute;
  right   : 10px;
}
#m-tomorrowWeatherTooltip .a-seeMoreWeatherLink,
#m-tomorrowWeatherTooltip .a-seeMoreWeatherLink:visited {
  bottom  : 5px;
  color   : #fff;
  position: absolute;
  right   : 10px;
}
.m-weatherForecast>div:first-of-type {
  margin-right: 9px;
}
#m-todayWeatherTooltip .m-weatherForecast>div:first-of-type img {
  margin-top: 25%;
}
.m-weatherForecast>div:last-of-type {
  margin-left: 15px;
}
#m-todayWeatherTooltip::after,
#m-tomorrowWeatherTooltip::after {
  border-color: transparent transparent #6D6F71 transparent;
  border-style: solid;
  border-width: 5px;
  content     : "";
  margin-left : -5px;
  position    : absolute;
}
#m-todayWeatherTooltip::after {
  right: 125px;
  top  : 17.5%;
}
#m-tomorrowWeatherTooltip::after {
  right: 65px;
  top  : 26%;
}
.a-weatherTitle {
  font-family: LibreFranklin-Bold;
}
.a-largeWeather {
  font-size: 18pt;
}
#a-tomorrowWeatherStatus {
  font-family   : LibreFranklin-Regular;
  font-size     : 11pt;
  text-transform: capitalize;
}
#a-search {
  margin: 0 30px;
}
#m-welcome {
  color         : #fff;
  display       : flex;
  flex-direction: column;
}
#m-welcome .ms-welcome-root {
  height      : auto;
  line-height : 0;
  padding-left: 0;
}
#m-welcome .ms-welcome-root.ms-welcome-hover {
  background-color: transparent;
  border-right    : none;
  line-height     : 17px;
}

/*Mobile*/
@media screen and (max-width: 767px) {
  #m-bottomHeader {
    align-items   : stretch;
    flex-direction: column;
    height        : auto;
    margin        : 0;
  }
  .a-homeportLogo {
    border-bottom: 1px solid #fff;
    margin       : 0 30px;
    padding      : 7px 0;
  }
  #o-weatherSearchWelcome {
    display        : flex;
    justify-content: space-between;
    padding        : 15px 0;
    width          : 100%;
  }
  .m-megaMenuItemContainer {
    border-bottom: 1px solid #fff;
    margin-right : 0 !important;
  }
}

.ms-srch-sb {
  background-color: #fff;
}
#header-status-button-container {
  padding-left : 0;
  padding-right: 0;
}
#header-status-button-container,
#header-application-button-container {
  padding-top: 15px;
}

/*Hide the share button in the ribbon, per Jira task ECMS-950*/
#Ribbon\.Documents\.Share\.ShareItem-Large {
  display: none !important;
}
#Ribbon\.List\.CustomizeList,#Ribbon\.Library\.CustomizeLibrary,
#Ribbon\.WikiPageTab\.TagsAndNotes, #Ribbon\.List\.TagsAndNotes,
#Ribbon\.ListItem\.TagsAndNotes, #Ribbon\.Library\.TagsAndNotes,
#Ribbon\.Documents\.TagsAndNotes, #Ribbon\.Calendar\.Calendar\.TagsAndNotes,
#Ribbon\.Calendar\.Events\.TagsAndNotes,
#Ribbon\.Library\.Actions\.MyLinks-Large, #Ribbon\.Calendar\.Calendar\.Actions-LargeMedium-1-1,
#Ribbon\.Library\.Actions-LargeMedium-1-1, #Ribbon\.Calendar\.Calendar\.CustomizeList,
#Ribbon\.ListItem\.Actions,
#Ribbon\.List\.Actions-LargeMedium-1-0, #Ribbon\.ListItem\.Actions {
  display: none !important;
}

/*
-----------------------------------------------------------------------------
  Navigation and Body
-----------------------------------------------------------------------------
*/
#o-navigationBody {
  display       : flex;
  flex-direction: column;
}
#o-navigation,
#m-mobileMenuButton {
  background-color: #30395C;
}

/*Tablet*/
@media screen and (min-width: 767px) and (max-width: 1199px) {
  #o-navigationBody {
    display       : flex;
    flex-direction: row;
  }
  #o-navigation {
    flex: 1 1;
  }
  #o-mainContent {
    flex: 3 3;
  }
}

/* ---------------------------------
DRAWER
---------------------------------*/
.a-drawer {
  background-color: #2282b6;
  border          : 0;
  border-radius   : 8px 8px 0 0;
  box-shadow      : -6px 0px 10px rgba(0,0,0,0.4);
  color           : #fff;
  display         : none;
  font-family     : LibreFranklin-Bold;
  font-size       : 12pt;
  height          : 36px;
  position        : fixed;
  -ms-transform   : rotate(270deg);
  transform       : rotate(270deg);
  z-index         : 1;
}
#a-quickLinkDrawer {
  right: -48px;
  top  : 295px;
}

#a-itHelpDrawer {
  right: -48px;
  top  : 440px;
}

#a-securityDrawer {
  right: -35px;
  top  : 590px;
}
.o-homeportDrawer {
  background-color: #EDE7E7;
  border          : 6px solid #2282b6;
  border-radius   : 8px;
  box-shadow      : 6px 6px 10px rgba(0,0,0,0.4);
  display         : none;
  font-family     : Roboto-Regular;
  font-size       : 10pt;
  height          : auto;
  min-height      : 150px;
  padding         : 20px 20px 0;
  right           : 0;
  z-index         : 2;
}
.o-homeportDrawer a {
  font-family: Roboto-Medium;
}
#m-itHelpDrawer .w3-right {
  margin-top: -12.5px;
}
/*Tablet Size*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .o-homeportDrawer {
    height: calc(100% - 224px);
  }
}
.a-closeButton,
.a-closeButton:hover {
  background-color: transparent;
  border          : 0;
  cursor          : pointer;
  float           : right;
  margin-right    : -18px;
  margin-top      : -18px;
}
#m-quickLinkDrawer {
  max-height: 550px;
  width     : auto;
}
#m-quickLinkDrawer div[data-name="WebPartZone"] {
  padding-bottom: 15px;
}
#m-itHelpDrawer {
  padding-bottom: 20px;
  width         : 1000px;
}
#m-itHelpDrawer>div {
  width: 50%;
}
#m-securityDrawer {
  padding-bottom: 20px;
  width         : 300px;
}

/*Tablet Size*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  #m-itHelpDrawer {
    width  : 75%;
    z-index: 9999;
  }
  #m-itHelpDrawer>div {
    width: 100%;
  }
  #m-itHelpDrawer .w3-left {
    float: right!important;
  }
}
.o-homeportDrawer h2 {
  color         : #444;
  font-family   : LibreFranklin-Bold;
  font-size     : 12pt;
  padding-bottom: 0;
  padding-top   : 10px;
  text-transform: uppercase;
}
.o-homeportDrawer ul {
  list-style   : none;
  margin-bottom: 0;
  margin-top   : 0;
  padding-left : 0;
}
.o-homeportDrawer p {
  margin-top: 0;
}
.m-quickLinks img,
.m-quickLinks span {
  padding-right: 3px;
}
.m-quickLinks a,
.m-quickLinks a:visted,
.m-quickLinks a:hover {
  font-family   : LibreFranklin-Regular !important;
  font-size     : 10pt !important;
  padding-bottom: 4px !important;
}
.m-drawerHelpButtons {
  display        : flex;
  justify-content: space-between;
  padding        : 12px 0;
  width          : 45%;
}
/*Tablet Size*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .m-drawerHelpButtons {
    width: 250px;
  }
}
.a-drawerHelpButton,
.a-drawerHelpButton:visited {
  background-color: #2282b6;
  border-radius   : 6px;
  color           : #fff;
  font-weight     : bold;
  padding         : 8px;
  text-transform  : uppercase;
}
#myQuickLinkContent {
  margin-bottom: 20px;
}

/*
-----------------------------------------------------------------------------
  Body
-----------------------------------------------------------------------------
*/
.s4-bodyContainer{
  padding-bottom: 0px;
}
#page-layout {
  padding-left : 0;
  padding-right: 0;
}

/*
-----------------------------------------------------------------------------
  Quick Link Addition
-----------------------------------------------------------------------------
*/
#a-myLinkTooltip {
  cursor    : pointer;
  display   : inline-block;
  opacity   : 0.2;
  position  : absolute;
  visibility: hidden;
  z-index   : 999;
}
#a-myLinkTooltip:hover {
  opacity   : 1;
  visibility: visible;
}
#a-myLinkTooltip>span {
  background-color: #6D6F71;
  border-radius   : 6px;
  box-shadow      : 3px 3px 10px rgba(0,0,0,0.4);
  color           : #fff;
  margin-left     : 3px;
  padding         : 3px 6px;
}
#a-myLinkTooltipAnchor.a-addItem {
  display : inline-block;
  height  : 10px;
  overflow: hidden;
  position: relative;
  width   : 10px;
}
#a-myLinkTooltipAnchor.a-deleteItem {
  display : inline-block;
  height  : 15px;
  overflow: hidden;
  position: relative;
  width   : 15px;
}
#a-myLinkTooltipAnchor.a-addItem>img {
  position: absolute;
  top     : -32px;
}
#a-myLinkTooltipAnchor.a-deleteItem>img {
  position: absolute;
  top     : -42px;
}

/*
-----------------------------------------------------------------------------
  Footer
-----------------------------------------------------------------------------
*/
footer {
  background-color: #6D6F71;
  color           : #E6E7E8;
  font-family     : Roboto-Medium !important;
  font-size       : 12pt;
  padding         : 15px 30px;
}
footer hr {
  background-color: #fff;
  height          : 1px;
  margin          : 0;
}
footer a {
  color          : #fff;
  text-decoration: none;
}
.a-footerTitle {
  color         : #30395C;
  font-family   : LibreFranklin-Bold;
  font-size     : 14pt;
  text-transform: uppercase;
}
#m-footerLinks,
#m-footerDescription {
  display       : flex;
  flex-direction: column;
}
#m-footerDescription a {
  color: #30395C;
}
#m-footerDescription a:visited {
  color: #C0C0C0;
}
.a-footerButton {
  display    : block;
  font-family: LibreFranklin-SemiBold;
  padding    : 5px 0;
}
#m-footerAlerts {
  margin-top: 20px;
}
#m-footerAlerts span {
  padding-right : 20px;
  text-transform: uppercase;
}
/*Mobile*/
@media screen and (max-width: 767px) {
  .m-statusLinks ul {
    padding: 0;
  }
  .m-statusLinks ul li {
    border-left: 0;
    display    : block;
    font-weight: bold;
    padding    : 5px 0;
  }
  #m-footerLinks .a-footerTitle {
    padding: 10px 0;
  }
  .a-footerDescriptionText {
    padding-top: 10px;
  }
}
/*Tablet and Desktop*/
@media screen and (min-width: 768px) {
  #m-footerLinks,
  #m-footerLinks span {
    display       : flex;
    flex-direction: row;
    margin-bottom : 5px;
  }
  .a-footerButton {
    align-items     : center;
    background-color: #30395C;
    border          : 1px solid #30395C;
    border-radius   : 15px;
    display         : flex;
    height          : 45px;
    justify-content : center;
    margin-right    : 8px;
    padding         : 5px;
    text-align      : center;
    width           : 125px;
  }
  .a-footerButton:visited {
    color          : #fff;
    text-decoration: none;
  }
  .a-footerButton:hover {
    background-color: #9DB7D6;
    border          : 1px solid #9DB7D6;
    color           : #000;
    text-decoration : none;
  }
  #m-footerDescription {
    margin-top: 15px;
  }
}

/*--------------------------------------
  Global Calendar Modifications
-----------------------------------------*/
form[action="/Lists/Company%20Events/calendar.aspx"] .ms-acal-item {
  background-color: #30395C;
}

form[action="/Lists/Employee%20Organizations/calendar.aspx"] .ms-acal-item {
  background-color: #A88D4F;
}

form[action="/Lists/Human%20Resources/calendar.aspx"] .ms-acal-item {
  background-color: #42797C;
}

form[action="/Lists/Technical%20Lectures/calendar.aspx"] .ms-acal-item {
  background-color: #674459;
}

/* END OF CUSTOM MASTER PAGE */
/*--------------------------------------
  CoreV15 Modifications
-----------------------------------------*/
body,
.ms-core-defaultFont,
#pageStatusBar,
.ms-status-msg,
.js-callout-body {
  font-family: LibreFranklin-Regular,Roboto-Regular,"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}
body {
  padding: 0;
}
#s4-bodyContainer {
  padding-bottom: 0;
}
.ms-welcome-root > a.ms-core-menu-root,
.ms-signInLink {
  color: white;
}
#ms-pageDescriptionImage {
  background: url("/_layouts/15/images/spcommon.png?rev=23") no-repeat -161px -178px;
}
#contentBox {
  margin   : 0;
  min-width: auto;
}
#ctl00_ctl58_csr_sbox {
  padding-top: 3px;
}
.ms-webpart-titleText {
  font-size: 1.3em;
}
.ms-webpart-titleText.ms-webpart-titleText,
.ms-webpart-titleText > a {
  color         : white;
  font-family   : LibreFranklin-Bold,"Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
  overflow      : visible;
  text-align    : middle;
  text-transform: uppercase;
}
.ms-rteImage-1 {
  background-image: url("/_layouts/15/images/tabtitlerowbottombg.png?rev=23");
}
.ms-rteImage-3 {
  background-image: url("/_layouts/15/images/tabtitlerowbottombg.png?rev=23");
}
.ms-rteImage-4 {
  background-image: url("/_layouts/15/images/selbg.png?rev=23");
}
.ms-wpadder {
  background-image: url(/_layouts/15/images/wpadder_graygrad.png);
}
.ms-wpadder-categories DIV.ms-wpadder-selected,.ms-wpadder-items DIV.ms-wpadder-selected {
  background-image: url(/_layouts/15/images/treeviewselected.png);
}
.ms-fb-item {
  background-image: url("/_layouts/15/images/fbgrad.png?rev=23");
}
.ms-create-header.ms-create-on{
  background: url("/_layouts/15/images/create_upgradient.png?rev=23") repeat-x left bottom;
}
.ms-create-header.ms-create-on .ms-create-arrowcont{
  background: url("/_layouts/15/images/fgimg.png?rev=23") no-repeat -0px -108px;
}
.ms-create-body.ms-create-on{
  background: url("/_layouts/15/images/create_defaultgradient.png?rev=23") repeat-x left top;
}
.ms-create-body.ms-create-on .ms-create-arrowcont{
  background: url("/_layouts/15/images/fgimg.png?rev=23") no-repeat -0px -90px;
}
.ms-create-listitem-a:hover {
  background: url("/_layouts/15/images/selbg.png?rev=23") repeat-x left top;
}
.UserDottedLine {
  background-image: url("/_layouts/15/images/dot.gif?rev=23");
}
.UserToolbar {
  background-image :url("/_layouts/15/images/topnavunselected.gif?rev=23");
}
.UserCellSelected {
  background:url("/_layouts/15/images/selbg.png?rev=23") repeat-x;
}
.ms-ToolPaneClose {
background:   url("/_layouts/15/images/wptphdr.png?rev=23") repeat-x left top;
}
.ms-ToolPaneTitle {
  background: url("/_layouts/15/images/wptphdr.png?rev=23") repeat-x left top;
}
.ms-toolpanefooter {
  background: url("/_layouts/15/images/wptphdr.png?rev=23") repeat-x left top;
}
.ms-ToolStripSelected {
  background-image: url("/_layouts/15/images/menubuttonhover.gif?rev=23");
}
.ms-ToolStrip   {
background-image:url("/_layouts/15/images/listheadergrad.gif?rev=23");
}
.ms-consolestatuscell {
background-image: url("/_layouts/15/images/pageTitleBKGD.gif?rev=23");
}
.ms-consolestatuscheckoutframe,
.ms-consoleminiframe {
  background: url("/_layouts/15/images/cnsugrdn.gif?rev=23");
}
.ms-WPHeaderTdMenu:hover {
  background: url("/_layouts/15/images/selbg.png?rev=23") repeat-x left top;
}
.ms-webpart-chrome-title {
  background-color: #30395D;
  border-radius   : 6px 6px 0 0;
  margin-bottom   : 0;
  padding         : 8px 15px 6px 15px;
}
.ms-webpartzone-cell {
  margin-bottom: 0;
}
.ms-comm-ratingsLargeStarFilled {
  background-image: url("/_layouts/15/images/RatingsLargeStarFilled.png?rev=23");
}
.ms-comm-ratingsSmallStarEmpty {
  background-image: url("/_layouts/15/images/RatingsSmallStarEmpty.png?rev=23");
}
.ms-comm-ratingsSmallStarFilled {
  background-image: url("/_layouts/15/images/RatingsSmallStarFilled.png?rev=23");
}
.ms-comm-ratingsSmallStarLeftHalfFilled {
  background-image: url("/_layouts/15/images/RatingsSmallStarLeftHalfFilled.png?rev=23");
}
.ms-comm-ratingsSmallStarRightHalfFilled {
  background-image: url("/_layouts/15/images/RatingsSmallStarRightHalfFilled.png?rev=23");
}
.ms-comm-ratingsSmallStarHoveroverEmpty {
  background-image: url("/_layouts/15/images/RatingsSmallStarHoveroverEmpty.png?rev=23");
}
.ms-comm-ratingsSmallStarHoveroverFilled {
  background-image: url("/_layouts/15/images/RatingsSmallStarHoveroverFilled.png?rev=23");
}
.ms-core-listMenu-horizontalBox .dynamic-children.additional-background {
  background-image: url("/_layouts/15/images/menu-down.gif?rev=23");
}
.ms-core-listMenu-horizontalBox .dynamic .dynamic-children.additional-background {
  background-image: url("/_layouts/15/images/menu-right.gif?rev=23");
}
.ms-core-listMenu-verticalBox .dynamic-children.additional-background {
  background-image: url("/_layouts/15/images/menu-right.gif?rev=23");
}
.ms-navedit-dropsurface {
  background: url("/_layouts/15/images/selbg.png?rev=23") repeat-x left top;
}
span.ms-taskListShortcutCalloutSpan {
  background: url("/_layouts/15/images/spcommon.png?rev=23") no-repeat -161px -178px;
}
.ms-cui-toolbar-toolbar {
background: #fff url("/_layouts/15/images/RibbonBG.png?rev=23") repeat-x left top;
}
.ms-cui-menusection-items16{
background: #fff url("/_layouts/15/images/rmgrad16.png?rev=23") repeat-y left top;
}
.ms-cui-menusection-items16rtl{
background: #fff url("/_layouts/15/images/rmgrad16rtl.png?rev=23") repeat-y right top;
}
.ms-chromecontrol-help {
  background-image: url(/_layouts/15/1033/images/spintl.png);
}
.ms-entity-unresolved {
  background-image: url("/_layouts/15/images/UserSquiggle.png?rev=23");
}