/* ShareBoot by TopSharePoint.com */
html, body {height: 100%;}
body {padding-top:0; line-height:1.40; color: #fff; background-color:#fff; font-size: 14px;}
h1 {font-size:24px !important; color:#fff !important; font-weight:bold;}
h2 {font-size:20px !important; color:#fff !important; font-weight:bold;}
h3 {font-size:18px !important; color:#fff !important; font-weight:bold; margin: 0 0 5px 0;}
h4 {font-size:17px !important; color:#fff !important; font-weight:bold; text-shadow:none !important; margin: 2px 0px;}
p {font-size:14px !important; color:#fff}
a {color: rgb(255, 184, 88);}
a:hover, a:focus, a:visited {color: rgb(255, 184, 88);}
/*Force scrollbars so short pages don't jump*/
#s4-workspace {
    overflow-y: scroll;
}

/*Override link color if in a name anchor*/
a[name], a[name]:hover {
    color: #fff;
    text-decoration: none;
}

textarea {color: #444;}
/*Fix for a name anchor under header*/
a[name] {
    padding-top: 200px;
    margin-top: -200px;
    display: inline-block;
}

.navbar-brand {font-size:20px !important; padding: 15px 15px 0px 15px; height: auto; font-weight:bold !important; color:#fff !important; position: relative;}
.img-home-portfolio,.img-customer,.portfolio-item {margin-bottom: 30px;}
.tab-pane {margin-top: 15px;}
.pageTitle {font-size:20px !important; font-style: italic; margin:140px 0 10px 15px !important; height: 40px;}
.page-header {margin:25px 0 10px 0 !important; font-weight:bold; font-size:17px !important;}

/* Top Navigation */
.navbar-collapse.in {overflow:visible !important;}
.ms-core-listMenu-horizontalBox {margin:5px 0 0 0;}
.ms-core-listMenu-horizontalBox li.static  > .ms-core-listMenu-item {font-size:12px !important; font-weight:bold; color:#fff; margin-right: 0px;}
.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item:hover {color:#000; background-color: rgb(255, 184, 88);}
.ms-core-listMenu-horizontalBox li.selected a.selected {color:#000; height: 39px; margin-top: 0px; padding: 10px 5px 0px 5px;}
ul.dynamic {border:0; background-color:#222; padding:0 !important;}
li.dynamic {list-style:none !important;}
ul.dynamic .ms-core-listMenu-item {padding:7px; color:#fff; }
ul.dynamic .ms-core-listMenu-item:hover {background-color:#fff;}

/* Page Sections */
.section,.section-colored {padding:10px 0;}
.section-colored {background-color: #1c1c1c;}
.section-colored-white {background-color: #fff;}

/* Left Navigation - Sidebar */
.sidebar {margin-top:0;}
.sidebar ul {border-radius:3px; padding:5px; border:1px solid #f5f5f5; list-style:none;}
.sidebar ul li ul {border:0 !important;}

/* Carousel Customization */
.carousel {height: 50% !important;}
.item,.active,.carousel-inner {height: 100% !important;}
.fill {width:100%; min-height:400px !important; background-position:center; background-size:cover;}

/* Social Icons Styles */
.list-social-icons {margin-bottom: 45px;}
.tooltip-social a {text-decoration: none;color: inherit;}
.facebook-link a:hover {color: #3b5998;}
.linkedin-link a:hover {color: #007fb1;}
.twitter-link a:hover {color: #39a9e0;}
.google-plus-link a:hover {color: #d14836;}

/* Service Page Styles */
.service-icon {font-size: 50px;}
.btn-primary {color:#fff !important;}

/* SP Fixes */
#ms-designer-ribbon {z-index:99 !important;}
#s4-bodyContainer {padding-bottom: 0 !important;}

/* Ribbon Buttons Fixes */
.ms-cui-dd-text, input.ms-cui-cb-input {height:100% !important; padding: 5px !important;}
.ms-cui-dd-arrow-button {height:100% !important; padding-left:0 !important;}
.ms-dlgTitle {padding: 10px 30px 10px 15px !important;}
.ms-cui-ctl-thin {padding:0 4px !important; height:100% !important; margin-top:10px !important;}
#ms-help {padding:0 !important; margin:0 5px !important;}
#ms-help span {height:25px !important; width:25px !important; margin:0 !important;}
.ms-qatbutton span {height:25px !important; width:25px !important;}

/* Web Part Properties Box */
.ms-ToolPaneOuter {position:fixed;bottom:10px;right:35px; z-index:100 !important;}
.ms-ToolPaneBody {overflow:auto !important;max-height:100%; z-index:100 !important;}
/* Left Menu */
.ms-core-listMenu-verticalBox > .ms-core-listMenu-item, .ms-core-listMenu-verticalBox li.static > .ms-core-listMenu-item {display:block; padding:5px !important;}
.ms-core-listMenu-verticalBox li.static > ul.static > li.static > .ms-core-listMenu-item {padding:3px 3px 3px 10px !important;}

/*EBU Overrides*/
.logoEBU{
	margin: -10px 20px;
	width: 503px;
}
.logo{
	margin: 10px auto 0px auto;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	margin-top: -25px;
}
/*Fix scrollbar overrun on header*/
.navbar-fixed-top, .navbar-fixed-bottom{
	margin-right: 17px;
}
#s4-bodyContainer{
	background: url("/_catalogs/masterpage/ShareBoot/images/bgEBU-Top.jpg") top -35px center no-repeat;
	background-color: rgb(0, 68, 126);
	background-size: 1142px;
}
.navbar-inverse {
	border-bottom: 3px solid rgb(255, 184, 88);
	background: url("/_catalogs/masterpage/ShareBoot/images/bgEBU-Top.jpg") top -35px center no-repeat;
	background-size: 1143px
}
.ms-core-listMenu-horizontalBox ul, .ms-core-listMenu-horizontalBox li, .ms-core-listMenu-horizontalBox .ms-core-listMenu-item, .ms-core-listMenu-horizontalBox > ul > li > table{
	height: 45px;
	border-radius: 5px 5px 0px 0px;
	margin: -12px 1px -9px 1px;
}
.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item{
	height: 48px;
	font-weight: normal;
	text-align: center;
	background-color: rgb(0, 56, 107);
	padding: 26px 10px 12px 10px;
}
.ms-core-listMenu-horizontalBox li.selected a.selected{
	height: 48px;
	padding: 26px 10px 12px 10px;
	background-color: rgb(255, 184, 88);
}

.ms-webpart-zone{
	margin-bottom: 15px;
}
.js-webpart-titleCell, .ms-webpart-controlBox, .js-webpart-menuCell, .ms-webpart-checkboxTd{
	border-bottom: 1px solid #fff;
	margin-bottom: 5px;
}
/*Searchbox*/
#SearchBox{
	margin-right: 30px;
	text-align: right;
	margin-bottom: 25px;
}
.ms-srch-sb-border, .ms-srch-sb-border:hover {
    border: none;
}
.ms-srch-sb {
    background-color: #fff;
}
.ms-srch-sb > .ms-srch-sb-searchLink{
	background-color: rgb(0, 56, 107);
}
.ms-srch-sb > .ms-srch-sb-searchLink{
	height: 25px;
}
.fa-search{
	color: #fff;
	margin: 3px;
}
/*Disciplines*/
.disciplinesHome{
	background-color: rgba(0,9,32,.7);
	display: flex;
	flex-wrap: wrap;
	max-width: 930px;
}
.disciplines{
	background-color: rgba(0,9,32,.7);
	display: flex;
	flex-wrap: wrap;
	max-width: 983px;
}
.discipline{
	float: left;
	height: 72px;
	width: 72px;
	background-color: rgba(245,128,37,1);
	border-radius: 50%;
	display: inline-block;
	margin: 5px 30px 40px 30px;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
}
.icoDiscipline{
	margin: -1px 0 0 -1px;
}
.discipline > a > i{
	margin: 20px;
	color: #fff !important;
	font-size: 30px
}
.discipline > a{
	color: #fff !important;
}
.discipline.selected {
    background-color: rgba(85,95,110,1);
}
#subdisciplines, #levels, #formats{
	width: 250px;
	color: #333;
	margin: 30px 25px 0px 25px;
	background-color: #fff;
}

/*Featured Courses*/	
.featCourses{

}
.featCourse{
	width: 32%;
    display: flex;
    margin: 5px;
    float: left;
    height: 200px;
}
.featCourseInfo{
	float: left;
    width: 120px;
    padding: 10px;
    line-height: 1.8;
    color: #fff;
    background-color: rgba(0,0,0,.6);
}
.featCourseDetails{
	background-color: rgba(51,51,51,.9);
	color: #fff;
	float: left;
    width: 255px;
    padding: 10px;
}
/*Courses*/	
.courses{

}
.course{
	width: 845px;
    display: flex;
    margin-bottom: 5px;
}
.courseInfo{
	float: left;
    width: 120px;
    padding: 10px;
    line-height: 1.8;
    color: #fff;
}
.courseDetails{
	background-color: #333333;
	color: #fff;
	float: left;
    width: 725px;
    padding: 10px;
}
.linkLearning{
	text-align: right;
    margin-right: 15px !important;
}
.linkLearning > a{
    color: #c35503;
    font-style: italic;
}
/*Experts*/
.experts{
	width: 270px;
}
.expert{
	background-color: #000920;
	color: #fff;
	margin-bottom: 5px;
	float: left;
	width: 270px;
	line-height: 2;
}
.imgExpert{
	float: left;
	margin-right: 8px;
	max-width: 115px;
}
/*EB News*/	
.ebNews{ 
	padding: 0 15px;
}

.ebNews a{
color: rgb(255, 184, 88);
}

.ebNews img{
border-radius: 4px;
}
.newsBody{
    background-color: rgb(0, 56, 107);
    padding: 5px 15px;
    margin: 0 15px;
}

.linkLearnMore{
	text-align: right;
}
.linkLearnMore > a{
    color: rgb(255, 184, 88);
}
/*Events*/	
.events{
	background-color: #333;
	padding: 10px 10px 0px 10px;
	max-width: 740px;
	display: flex;
	flex-wrap: wrap;
}
.event{
    display: flex;
    margin: 10px auto;
    width: 845px;
}
.eventInfo{
	float: left;
    width: 120px;
    padding: 10px;
    margin-right: 10px;
    line-height: 1.8;
    color: #fff;
    font-weight: bold;
    background-color: rgb(255, 184, 88);
    border-radius: 5px;
}
.eventDetails{
	background-color: #fff;
	color: rgb(0, 56, 107);
	float: left;
    padding: 0px 10px 10px 10px;
    width: 605px;
}
.eventDetails h4, .eventDetails p{
	color: rgb(0, 56, 107) !important;
}

.eventDetailsSub{
	background-color: #fff;
	color: rgb(0, 56, 107);
	float: left;
    padding: 10px;
    width: 120px;
}
/*Quick Links*/
.quickLinks{
	background-color: rgb(0,22,35);
	padding: 0px 10px 10px 10px;
}
.quickLink{
	padding: 10px 10px 10px 5px;
	border-bottom: 1px solid #505050;
}
.quickLink > a{
	color:#fff;
	font-weight: bold;
}
.quickLink > img{
	vertical-align: middle;
	margin-right: 10px;
}
/*Just Added*/
.justAddeds{
	background-color: #333;
	padding: 0px 10px 10px 10px;
}
.justAdded{
	padding: 10px 10px 10px 5px;
	border-bottom: 1px solid #505050;
}
.justAdded > a{
	color:#fff;
	font-weight: bold;
	display: inline-block;
	width: 165px;
}
.justAdded > img{
	vertical-align: middle;
	margin-right: 10px;
}
/*Learn More*/
.learnMore{
	background-color: rgb(0,22,35);
	padding: 10px;
}
.learnMore > img{
	padding-bottom: 5px;
	max-width: 333px;
}
.learnMore > a{
	color: #00b2ff;
}
/*Featured Learning*/
.feature > img{
	margin: 0px 5px 5px 5px;
}
.feature > p{
	margin: 5px;
}
/*Calendar*/
.popover-content, .popover-title { 
	color: #000 !important;
}
.popover-content p, .popover-title p { 
	color: #000 !important;
}
.fc{
	padding-top: 10px;
}
.fc-event-container{
	color: #fff;
}
.fc-event-container > a{
	background-color: rgb(255, 184, 88);
	color: #fff;
}
.fc-event{
	line-height: 2 !important;
	border: none !important;
}
.fc-unthemed td.fc-today{
	background: none !important;
}
button{
	color: #333;
}

/* Catalog Search */
#gp-filters-cont {
	float: left;
	background-color:rgba(0,9,32,.7);
}
#gp-search {
	color:white;
	padding-bottom:10px;
	width:200px;
	float:left;
	background-color:rgba(0,9,32,.7);
}
#searchButtons {
	padding-top: 20px;
}
#searchButtons > span {
	border:1px solid white;
	background-color:rgba(245,128,37,1);
	padding:5px;
	color:white;
	cursor: pointer;
}

/*Stage area*/
.stage{
	padding: 15px;
	color: #fff;
}
.stage img{
	width: 100%;
	height: auto;
}
.stage .stage_img{
	background-color: rgb(0, 82, 155);
	padding: 8px;
	height: 297px;
	overflow: hidden;
}


/*Workforce development programs*/
.workforce_dev{
	padding: 15px;
	background-color: rgb(0, 56, 107); 
	color:#fff;
	margin: 0 15px;
}
.workforce_dev_left img{
	margin: 0px 10px 10px 0px;
	float: left;
}
.workforce_dev_left h4{
	margin-top: 15px;
	color: #fff;
}
.workforce_dev_right{
	margin: 5px 10px 10px 0px;
}
.workforce_dev_right img{
	margin: 10px 0px 10px 0px;
}
.workforce_dev_right a{
	color:rgb(255, 184, 88);
}

/*WebPart overrides*/ 
.ms-WPBorder { /* Choose Title and Border WP chrome for a light blue background */
    border: none;
    background-color: rgb(0, 56, 107);
    padding: 0px 20px 10px 20px;
    margin: 0px 15px 0px 15px;
}
.ms-webpart-titleText{
	height: 25px;
	text-transform: uppercase;
}
.ms-webpart-chrome-title{
	padding: 0 15px;
}
/*Accordion styles*/
.accordion{
	margin-left: 15px;
}
button.btn.btn-link {
    border-bottom: 3px solid rgb(255, 184, 88);
    width: 1050px;
    text-align: left;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}
.card-body{
	padding: 5px 15px;
	margin: 0 15px;
}
.card-body-details{
	padding: 5px 15px;
	margin: 0 85px 0 15px;
	background-color: rgb(0, 56, 107);
}
.card-body-links{
	padding: 5px 15px;
	margin: 0 85px 0 15px;
	background-color: rgb(0, 56, 107);
}
.card-body a {

}
i.fa.fa-plus, i.fa.fa-minus {
    color: rgb(255, 184, 88);
    position: absolute;
    right: 0px;
    margin-right: 45px;
}
.card-body .list-group-item {
    background: none;
    border: none;
}

/*Career Paths*/
.career_path{
	padding: 15px;
    background-color: rgb(0, 56, 107); 
    color:#fff;
    margin: 0 15px;
 }
  .career_path a{
    color: #fff;
 }
  .career_path img{
    border-radius: 4px;
 }

 /*Program overview*/
.overview{
    color:#fff;
    margin: 0 15px 0 15px;
}
.overview .left{
    background-color: rgb(0, 56, 107);
}
.overview .right{
    background-color: rgb(200, 226, 255);
    color: #000;
}
.overview .well{
	border: none;
	border-radius: 0;
}

/*Program listing*/
.programs{ 
	color:#fff;
}
.programs a{
	color: rgb(255, 184, 88);
}
.programs img{
	border-radius: 4px;
}

/*News list*/
.newsList{
    color:rgb(0, 56, 107);
}
.newsList h4{
	color:rgb(0, 56, 107) !important;
    display: inline;
    font-weight: normal;
}
.newsList a{
    color: rgb(0, 56, 107);
    float: right;
}
#ebNewsList{
	clear: both;
	padding-top: 20px;
	margin: 0 15px;
}

/*Misc*/
#bio{
    background-color: rgb(0, 56, 107);
    padding: 10px 10px;
    margin: 0 15px;
}
#location{
    background-color: rgb(0, 56, 107);
    padding: 10px 10px;
    margin: 0 15px;
}
.mat_blue{
	background-color: rgb(0, 56, 107);
}
.mat_blue_pad{
    padding: 15px;
    background-color: rgb(0, 56, 107);
}


/* Make thumbnails all same height */
@media only screen and (min-width : 481px) {
    .row.equal-height {
        display: flex;
        flex-wrap: wrap;
    }
    .row.equal-height > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .row.equal-height.row:after,
    .row.equal-height.row:before {
        display: flex;
    }

    .row.equal-height > [class*='col-'] > .thumbnail,
    .row.equal-height > [class*='col-'] > .thumbnail > .caption {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
    }
    .row.equal-height > [class*='col-'] > .thumbnail > .caption > .flex-text {
        flex-grow: 1;
    }
    .row.equal-height > [class*='col-'] > .thumbnail > img {
        width: 100%;
        height: 200px; /* force image's height */

        /* force image fit inside it's "box" */
        -webkit-object-fit: cover;
           -moz-object-fit: cover;
            -ms-object-fit: cover;
             -o-object-fit: cover;
                object-fit: cover;
    }
}

.thumbnail.tThree{
	width: 350px;
}
.thumbnail.tFour{
	width: 250px;
}
blockquote {
border-left: none;
}
.ebu-edit-permission {
display:none;
}
.eventDetailsSub p {
color: #00447e !important;
}