/* styles.css is a test CSS3 style for the test.html page.

Colors Used:
  Light Grey: 		#e0e0e0;
  Medium Gray: 		#c0c0c0;
  Dark Grey: 		#909090;
  Canary Yellow:	#ffff30

*/

/* ===== Common/Global Section ===== */

HTML {
  background-image: linear-gradient(rgb(214,254,254), rgb(116,143,252));
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid blue;
  height: 100%
}

BODY {
  color: black;
  font-family: "Times New Roman", serif;
  font-size = 16px;
  margin: 0px;
}

H1 {
  color: blue;
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 5px 5px;
  text-shadow: 2px 2px rgba(0,0,0,0.5);
}

P {
  text-align: left;
}

P:first-letter {  /* Drop Cap */
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

DIV {
  border-bottom: dashed 2px;
  width: 50%;
  Margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

SPAN {
  padding: 5px 5px;
}

/* ===== Header Section ===== */

DIV.HeadSection {
  min-height: 100px;
  background-color: #c0c0c0;
  font-weight: 800;
  text-align: center;
}

/* ===== Navigation Section ===== */

DIV.NavSection {
  min-height: 50px;
  background-color: #ffff30;
  font-weight: 600;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}

/* ===== Main Section ===== */

DIV.MainSection {
  min-height: 300px;
  background-color: #e0e0e0;
  font-weight: 600;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}

/* ===== Footer Section ===== */

DIV.FootSection {
  min-height: 20px;
  background-color: lightblue;
  font-weight: 600;
  text-align: center;
  padding: 10px 0px;
}

DIV.FootSection SPAN {
  background-color: #f0f0f0;
  margin: 5px 5px;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 3px 3px 1px rgba(0,0,0,0.5);
}

DIV.FootSection SPAN A {
/* Undo the anchor tag changes */
  color: black;
  text-decoration: none; 
  padding: 10px; 

}

DIV.FootSection SPAN:hover {
  background-color: lightgreen;
  box-shadow: 3px 3px 1px rgba(0,0,0,0.5) inset;
}

ADDRESS {
  padding: 20px 0px 10px 0px;
}
