
```css
background-image: linear-gradient( top,#6e96bf,#3c7ab9 );
background-image: linear-gradient ( #fff,#dfdfdf );
background-image: linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee);
color: #00c;
color: #00f;
color: #05a;
color: #085;
color: #090;
color: #0f0;
color: #164;
color: #170;
color: #219;
color: #30a; 
color: #3b73af;
color: #42526e;
color: #428bca;
color: #468847; 
color: #4a6785;
color: #5e6c84; 
color: #708; 
color: #a0a; 
color: #a11; 
color: #a4b3c2;
color: #a50;
color: #a8a8a8;
color: #cc7; 
color: #d04437;
color: #e0e0e0;
color: #ebecf0;
color: #f00; 
color: #f22;
color: #f50; 
color: #fafafa;
color: rgba(9,30,66,0.08);
```

