#sortbox ul{
margin: 0;
padding: 0;
margin-bottom: 10px;
float: left;
font: normal 12px Tohoma;
width: 500px;
}

* html #sortbox ul{ /*IE only rule, reduce menu width*/
width: 500px;
margin-bottom: 0;
}

#sortbox ul li{
display: inline;
}

#sortbox ul li a{
float: left;
color: black;
padding-top: 2px;
width: 90px;
height: 18px;
text-align: center;
text-decoration: none;
border: 1px solid #625e00;
border-width: 1px 1px 1px 0;
background-color: #FFFFC1;
}

#sortbox ul li a:visited{
color: black;
}

#sortbox ul li a:hover{
color: black;
background-color: #ffe84f;
}

#sortbox ul li a#selected{
background-color: #ffe84f;
font-weight: bold;
cursor: default;
}