/* ====== Alert Colors ====== */

alert-green{
  color:#000;
  background-color:#66BD6D
}
alert-red{
  color:#000;
  background-color:#FB5151
}
alert-yellow{
  color:#000;
  background-color:#fff064
}

/* ======= Background Colors ====== */

/* Primary Background Colors:
black, blue, brown, cyan, green, orange, purple, red, white, yellow
*/

black{
  background-color:#000
}
blue{
  background-color:#2196F3
}
brown{
  background-color:#795548
}
cyan{
  background-color:#00bcd4
}
green{
  background-color:#4CAF50
}
orange{
  background-color:#ff9800
}
purple{
  background-color:#9c27b0
}
red{
  background-color:#f44336
}
white{
  background-color:#fff
}
yellow{
  background-color:#ffeb3b
}

/* Gray or Gray Background Colors: 
blue-grey,blue-gray, dark-grey, dark-gray, grey, gray, light-grey, light-gray
*/

blue-grey,blue-gray{ 
  background-color:#607d8b
}
dark-grey, dark-gray{
  background-color:#616161
}
grey, gray{
  background-color:#9e9e9e
}
light-grey, light-gray{
  background-color:#f1f1f1
}

/* Alternate Background Colors:
amber, aqua, banner-brown, deep-orange, deep-purple, indigo, khaki, 
light-blue, light-green, lime, mustangblue, pale-blue, pale-green, 
pale-red, pale-yellow, pink, sand, teal
*/

amber{
  background-color:#ffc107
}
aqua{
  background-color:#00ffff
}
banner-brown{
  background-color:#DFCFBE;
}
deep-orange{
  background-color:#ff5722
}
deep-purple{
  background-color:#673ab7
}
indigo{
  background-color:#3f51b5
}
khaki{
  background-color:#f0e68c
}
light-blue{
  background-color:#87CEEB
}
light-green{
  background-color:#8bc34a
}
lime{
  background-color:#cddc39
}
mustangblue{
  background-color:#30395D
}
pale-blue{
  background-color:#ddffff
}
pale-green{
  background-color:#ddffdd
}
pale-red{
  background-color:#ffdddd
}
pale-yellow{
  background-color:#ffffcc
}
pink{
  background-color:#e91e63
}
sand{
  background-color:#fdf5e6
}
teal{
  background-color:#009688
}

/* ====== Text Colors ====== */ 

/* Primary Text Colors:
text-black, text-blue, text-brown, text-cyan, text-green, 
text-orange, text-purple, text-red, text-white, text-yellow
*/

text-black{
  color:#000
}
text-blue{
  color:#2196F3
}
text-brown{
  color:#795548
}
text-cyan{
  color:#00bcd4
}
text-green{
  color:#4CAF50
}
text-orange{
  color:#ff9800
}
text-purple{
  color:#9c27b0
}
text-red{
  color:#f44336
}
text-white{
  color:#fff
}
text-yellow{
  color:#d2be0e
}

/* Gray or Grey Text Colors: 
text-blue-grey, text-blue-gray, text-dark-grey, text-dark-gray, 
text-light-grey, text-light-gray,  
*/

text-blue-grey, text-blue-gray{
  color:#607d8b
}
text-dark-grey, text-dark-gray{
  color:#3a3a3a
}
text-grey, text-gray {
  color:#757575
}
text-light-grey, text-light-gray{
  color:#f1f1f1
}

/* Alternate Text Colors:
text-amber, text-aqua, text-deep-orange, text-deep-purple, text-indigo, 
text-khaki, text-light-blue, text-light-green, text-lime, text-mustangblue, 
text-pink, text-sand, text-teal
*/

text-amber{
  color:#ffc107
}
text-aqua{
  color:#00ffff
}
text-deep-orange{
  color:#ff5722
}
text-deep-purple{
  color:#673ab7
}
text-indigo{
  color:#3f51b5
}
text-khaki{
  color:#b4aa50
}
text-light-blue{
  color:#87CEEB
}
text-light-green{
  color:#8bc34a
}
text-lime{
  color:#cddc39
}
text-mustangblue{
  color:#30395D
}
text-pink{
  color:#e91e63
}
text-sand{
  color:#fdf5e6
}
text-teal{
  color:#009688
}

