
/* Explanations
   ============
   bd  - border
   bg  - background
   fl  - float
   txt - text
*/


:root {
  --dark-green: rgb(77,146,33);
  --dark red: #C21F39;
  --dark-yellow: #f9cd0b;
  --light-red: #FCE1E5;
  --light-green: rgb(230,245,208);
  --light-yellow: #fff4c2;
  --medium-green: rgb(161,215,106);
  --medium-red: #F6C6CE;
  --yellow: #111;
}

/* ICONS */
.closeinsert { content: '⏪' }
.openinsert { content: '⏩' }

/* ---- Common Reset ---- */
*, *:before, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Anchors */
a {
  color: blue;
  text-decoration: underlinee; 
}
a:active {
  color: red;
}
a:hover {
  color: orange;
}
a:visited {
  color: purple;
}

/* Containers */
div, p, span {
  display: inline;
}

/* Sections */
header, nav, section, article, aside, footer {
  display:block;
}

/* ---- Alignment, Float & Position ---- */
.block-center {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.center {
  max-width:90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.left {
  float:left;
}
.middle {
  margin-left: auto;
  margin-right: auto;
}
.right {
  float:right;
}

/* Positions */
.absolute {
  position:absolute;
}
.fixed {
  position:fixed;
}
.relative {
  position:relative;
}

/* Text Align */
.txt-center {
  text-align: center;
}
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}

/* Verticle Alignment */
.vertical-baseline {
  vertical-align: baseline;
}
.vertical-bottom {
  vertical-align: bottom;
}
.vertical-middle {
  vertical-align: middle;
}
.vertical-subscript {
  vertical-align: sub;
}
.vertical-superscript {
  vertical-align: super;
}
.vertical-top {
  vertical-align: top;
}

/* ---- Colors ---- */
/* Border Color */
.bd-dark-blue {
  border-color:#0272A7;
}
.bd-light-blue {
  border-color:#f1f8fd;
}
.bd-medium-blue {
  border-color:#5EAEFF;
}
.bg-black {
  background-color: #343434;
}
.bg-blue {
  background-color:#0066CC;
}
.bg-dark-blue {
   background-color:#0272A7;
}

/* Background Color */
.bg-green {
  background-color: #019875;
}
.bg-light-blue {
   background-color:#f1f8fd;
}
.bg-medium-blue {
   background-color:#5EAEFF;
}
.bg-red {
  background-color: #D9534F;
}
.bg-white {
  background-color:#FFFFFF;
}
.bg-yellow {
  background-color: #DFD300;
}

/* Text Color */
.txt-black {
  color: #343434;
}
.txt-blue {
  color:#0066CC;
}
.txt-dark-blue {
  color:#0272A7;
}
.txt-green {
  color: #019875;
}
.txt-green2 {
  color: #07B48E;
}
.txt-light-blue {
  color:#f1f8fd;
}
.txt-medium-blue {
  color:#5EAEFF;
}
.txt-red {
  color: #D9534F;
}
.txt-white {
  color:#FFFFFF;
}
.txt-yellow {
  color: #DFD300;
}

/* ---- Display ---- */
.hidden {
  display: none;
  visible: hidden;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
.visible {
  display: inherit;
  visible: visible;
  overflow: inherit;
  overflow-x: inherit;
  overflow-y: inherit;
}

/* ---- Font Family ---- */
.cursive {
  font-family: cursive;
  font-size: 1.23em;
}
.monospace {
  font-family: Courier, "Courier New", monospace;
  font-size: 1.23em;
}
.sanserif {
  font-family: Helvetica, Arial, sanserif;
  font-size: 1.23em;
}
.serif {
  font-family: serif;
  font-size: 1.23em;
}

/* Font Size */
.micro {
  font-size: 8pt;
}
.small {
  font-size: 10px; 
}
.normal {
  font-size: 12px; 
}
.large {
  font-size: 14px; 
}
.xlarge {
  font-size: 18px; 
}

/* Font Style */
.italic {
  font-style:italic;
}

/* ---- Font Weight ---- */
.strong {
  font-weight: bold;
}

/* ---- Headers ---- */
h1, h2, h3, h4, h5, h6 {
  font-family: Courier, "Courier New", monospace;
  font-weight: bold;
  margin: 10px, 5px;
  padding: 5px, 5px;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;  
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;  
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px; 
  text-decoration: underline;
}

/* ---- Lists ---- */

/* List Styles */
ul {
  line-height: 25px;
}
ol {
    line-height: 25px;    
}
li {
}
.no-bullets {
  list-style-type: none;
  line-height: 25px;
}
.circle-bullets {
  list-style-type: circle;
  line-height: 25px;    
}
.square-bullets {
  list-style-type: square;
  line-height: 25px;    
}
.no-style {
  list-style-type: none;
  margin-left: 0; 
  padding-left: 0;
  line-height: 25px;    
}
.upper-roman-bullets {
  list-style-type: upper-roman;
  line-height: 25px;    
}
.lower-roman-bullets {
  list-style-type: lower-roman;
  line-height: 25px;    
}
.upper-alpha-bullets {
  list-style-type: upper-alpha;
  line-height: 25px;    
}
.lower-alpha-bullets {
  list-style-type: lower-alpha;
  line-height: 25px;    
}
.numbered-bullets {
  list-style-type: decimal;
  line-height: 25px;    
}

/* Defintion Lists */
dl {
  margin-left: 10px;
}
dt {
  margin-left: 15px;
  font-weight: bold;
  color:#0272A7;
}
dd {
}

/* ---- Images ---- */
IMG {
  border=0;
  margin=0;
  padding=0;
}

.img_shadow { /* Better style on light background */
  background:#FFFFFF;
  padding:4px;
  border:1px solid #777777;
  margin-top:5px;
  -moz-box-shadow:0px 0px 5px #666666;
  -webkit-box-shadow:0px 0px 5px #666666;
  box-shadow:0px 0px 5px #666666;
}

.img_left { /* Image sticks to the left */
  width:auto;
  float:left;
  margin:5px 15px 5px 5px;
}

/* ---- Tables ---- */
table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  cellpadding: 0;
  cellspacing: 0;
}
tr {
  padding: 2px;
}
td {
  padding: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;	
}
th {
  background-color: #0272A7;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  padding: 3px;
}
.alt-rows tr:nth-child(even) {
  background-color: #f1f8fd;
}
.alt-rows tr:nth-child(odd) {
  background-color: #FFFFFF;
}

/* ------------------------------ Text Modfications ----------------------------- */
.overline {
  text-decoration: overline;
}
.underline {
  text-decoration: underline;
}