@charset "UTF-8";
/* =Footer
// ========================================================================== */
[role=contentinfo] {
    background: #515151;
    border-top: 1px solid #fff;
    color: #fff;
    padding: 2.375em 1.6875em 4.5em;
  }
  [role=contentinfo]:after {
    content: "";
    display: table;
    clear: both;
  }
  @media (min-width: 61.25em) {
    [role=contentinfo] {
      border-top: 0;
      padding: 9.125em calc(50% - 490px) 4.5em;
    }
  }
  [role=contentinfo] ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  [role=contentinfo] ol li {
    margin: 0;
    padding: 0;
  }
  [role=contentinfo] ol.social-links {
    margin-bottom: 2.4375em;
  }
  .secondary-page [role=contentinfo] {
    border-top: 2px solid #5d5c5c;
  }
  
  .footer-logo {
    background: url(/_img/footer-logo-mobile.png) no-repeat;
    background-size: contain;
    height: 2.1875em;
    overflow: hidden;
    text-indent: -999em;
    max-width: 20.375em;
    margin-bottom: 1.5em;
  }
  
  .corporate-link {
    font-size: 0.75em;
    margin-bottom: 2.08333em;
  }
  .corporate-link a:hover {
    color: #ed9d22;
  }
  
  .social-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .social-links li {
    margin: 0;
    padding: 0;
  }
  .social-links li {
    display: inline;
  }
  .social-links a {
    background: url(/_img/sprite.png) no-repeat;
    display: inline-block;
    height: 2em;
    margin-left: 1.375em;
    overflow: hidden;
    text-indent: -999em;
    width: 2em;
  }
  .social-links .linkedin a {
    background-position: 3px -50px;
    margin-left: 0;
  }
  .social-links .linkedin a:hover {
    background-position: 3px -97px;
  }
  .social-links .youtube a {
    background-position: -49px -50px;
  }
  .social-links .youtube a:hover {
    background-position: -49px -97px;
  }
  .social-links .twitter a {
    background-position: -101px -50px;
  }
  .social-links .twitter a:hover {
    background-position: -101px -97px;
  }
  .social-links .facebook a {
    background-position: -151px -50px;
  }
  .social-links .facebook a:hover {
    background-position: -151px -97px;
  }
  
  @media (min-width: 48em) {
    .connect {
      float: left;
      width: 50%;
    }
  }
  
  .footer-nav {
    margin-bottom: 2.4375em;
  }
  .footer-nav:after {
    content: "";
    display: table;
    clear: both;
  }
  @media (min-width: 48em) {
    .footer-nav {
      float: right;
      width: 50%;
    }
  }
  .footer-nav ol li {
    font-size: 0.8125em;
    margin-bottom: 1.53846em;
  }
  .footer-nav a {
    color: #ed9d22;
  }
  .footer-nav a:hover {
    text-decoration: underline;
  }
  .footer-nav .current a {
    font-weight: bold;
  }
  .footer-nav .nav-secondary {
    float: left;
    width: 50%;
  }
  @media (min-width: 48em) {
    .footer-nav .nav-secondary {
      text-align: right;
    }
  }
  .footer-nav .nav-main {
    float: right;
    text-align: right;
    width: 50%;
  }
  @media (min-width: 48em) {
    .footer-nav ol {
      margin-left: auto;
      margin-right: auto;
      width: 48em;
    }
    .footer-nav ol li {
      font-size: 0.75em;
    }
  }
  
  .copyright {
    clear: both;
    font-size: 0.8125em;
  }
  @media (min-width: 48em) {
    .copyright {
      font-size: 0.75em;
    }
  }
  .copyright br {
    display: none;
  }

