@keyframes blinker {  
  50% { opacity: 0.25; }
}

.zoom_button{
	top: -0.5px;
}
.red-text {
   color: #D9534F;
   font-weight: bold;
}

.red {
    color: #FFF;
	background-color: #D9534F;
    font-weight: bold;
}

.green-text {
   color: #019875;
   font-weight: bold;
}

.green {
    color: #FFF;
	background-color: #019875;
    font-weight: bold;
}

.yellow-text {
    color: #CACA19;
    font-weight: bold;
}

.yellow {
    color: #FFF;
    background-color: #CACA19;
    font-weight: bold;
}

.twitter-blue-text {
    color: #1DA1F2;
}



body {
	margin-top: 0px;
	margin-left: 5px;
	background-color: #FFFFFF;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 1.2em;
}
a{
	text-decoration: none;
}
a:link { color: #000000; padding: 1px;}
a:visited { color: #000000 }
a:active { color: #000000 }
a:hover { 
		behavior: url('/homepages/comp_sys_sup/include/css/PIE.htc'); 
		text-decoration: underline !important;
		}
a.headerLink:link { color: #FFFFFF; font-weight: bold; }
a.headerLink:visited { color: #FFFFFF; font-weight: bold; }
a.headerLink:active { color: #FFFFFF; font-weight: bold; }
a.headerLink:hover { 
	color: #FFFFFF; 
	background-color: #0272A7;
	font-weight: bold;
	text-decoration: underline;
}
.date {
	color: #FF0000;
	font-weight: bold;
	font-size: 9pt;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
.small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
.categoy-text-white {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
}
.newstag {
	font-style: italic;
	font-weight: bold;
	color: #FF0000;
	display: inline;
	text-align: left;
	font-size: 11pt;
}
.newsitems {
	text-align: left;
	display: inline;
	font-size: 11pt;
}
.style1 {
	color: #FF0000;
	font-weight: bold;
	font-size: 14pt;
}
.web_cast_tag {
	font-style: italic;
	font-weight: bold;
	color: #FF0000;
	display: inline;
	text-align: left;
	font-size: 16pt;
}
.ui-button{
   font-size: .8em !important;
   border: 0px solid black !important;
   border-radius: 4px 4px 4px 4px !important;
} 
.newNews{
	font-weight: bold;
	font-style:italic;
	color: #0272A7;
	font-size: 14px;
}
td{
	border-radius: 0px 0px 4px 4px;
}
td.categoy-text-white{
	border-radius: 4px 4px 0px 0px !important;
}
table{
	border-radius: 4px 4px 0px 0px !important;
}
div.header{
	border-radius: 4px 4px 4px 4px;
}
img.banner{
	height: 250px;
	width: 300px;
}
.ui-widget-overlay {
	opacity: 1.0;
	background: #000000;
}
.largebannerFrame{
	margin: 0 auto;
}
.ui-button-text {
	font-size: 1em !important;
}

button, .button, a.button, .grey-button, .green-button, .button-success, .orange-button, .button-warning, .red-button, .button-danger {
    background-color: #f1f8fd;
    color: #0272A7;
    border-color: #0272A7;
    border-style: solid;
    border-width: 1px;
    margin: 2px;
    padding: 4px;
    text-decoration: none;
    
    /* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    
}

button:hover, .button:hover, a.button:hover {
    background-color: #fff;
    border-color: #0272A7;
    cursor: pointer;
}

button:active, .button:active, a.button:active {
    color: #5EAEFF;
    background-color: #f1f8fd;
    border-color: #0272A7;
}

a.button:link, a.button:visited {
    text-decoration: none;
    color: #0272A7;
}

.cscHelpButton, .cscHelpButton:link, .cscHelpButton:visited, .cscHelpButton:hover {
    float:right;
    color:#D9534F;
    border-color:#D9534F;
    border-width:1px;
    border-style:solid;
    background-color:white;
    margin:2px;    
    padding:4px;
    text-decoration: none;
    
    /* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

a.cscHelpButton:hover, .cscHelpButton:active {
    text-decoration: none !important; 
    color: #FFF;
    background-color: #D9534F;
    
}

.webTicketsButton, .webTicketsButton:link, .webTicketsButton:visited, .webTicketsButton:hover {
    float:right;
    color:#ffa500;
    border-color:#ffa500;
    border-width:1px;
    border-style:solid;
    background-color:white;
    margin:2px;    
    padding:4px;
    text-decoration: none;
    
    /* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

a.webTicketsButton:hover, .webTicketsButton:active {
    text-decoration: none !important; 
    color: #FFF;
    background-color: #ffa500;
    
}

a#id_alert_box{
	padding: 0px !important;
	margin: 0px !important;
}

div#it_alert_box{
	height: 10px;
	width: 10px;
	display: inline-block;
}

div#it_alert_box.green{
	background-color: #019875;
}

div#it_alert_box.yellow{
	background-color: #CACA19;
}

div#it_alert_box.red{
	background-color: #D9534F;
}

a#security_alert_box{
	padding: 0px !important;
	margin: 0px !important;
}

div#security_alert_box{
	height: 10px;
	width: 10px;
	display: inline-block;
}

div#security_alert_box.green{
	background-color: #019875;
}

div#security_alert_box.yellow{
	background-color: #CACA19;
}

div#security_alert_box.red{
	background-color: #D9534F;
}

div#security_alert_container td.red{
	animation: blinker 2s linear infinite;
}

.description, .descriptionHeader{
	display : none;
}
.headerRow th, .alertRow td{
	padding-left : 20px;
	padding-right: 20px;
}
a.disclaimer{
	cursor: pointer;
}