/* Tabodrion */

<!--TABORDION-->
		h1 {
		color: #333;
		margin: 1em auto;
		width: 80%;
		}

		.tabordion {
		color: white;
		display: block;
		margin: auto;
		position: relative;
		width: 80%;
		}

		.tabordion input[name="sections"] {
		left: -9999px;
		position: absolute;
		top: -9999px;
		}

		.tabordion section {
		display: block;
		}

		.tabordion section label {
		background: #0272A7;
		border:1px solid #fff;
		cursor: pointer;
		display: block;
		font-size: 1em;
		padding: 5px 5px;
		position: relative;
		width: 200px;
		z-index:100;
		text-align: right;
		border-radius: 10px 0px 0px 10px;
		}

		.tabordion section article {
		display: none;
		left: 230px;
		min-width: 300px;
		padding: 0 0 0 21px;
		position: absolute;
		top: 0;
		}



		.tabordion input[name="sections"]:checked + label {
		background: white;
		color: black;
		border-style: solid;
		border-width: 1px;
		border-left-width: 1px;
		border-right-width: 0px;
		border-color: black;
		}

		.tabordion input[name="sections"]:checked ~ article {
		display: block;
		}


		@media (max-width: 533px) {

		h1 {
			width: 100%;
		}

		.tabordion {
			width: 100%;
		}

		.tabordion section label {
			font-size: 1em;
			width: 160px;
		}

		.tabordion section article {
			left: 200px;
			min-width: 270px;
		}

		.tabordion section article:after {
			background-color: #ccc;
			bottom: 0;
			content: "";
			display: block;
			left:-199px;
			position: absolute;
			top: 0;
			width: 200px;

		}

		}


		@media (max-width: 768px) {
		h1 {
			width: 96%;
		}

		.tabordion {
			width: 96%;
		}
		}


		@media (min-width: 1366px) {
		h1 {
			width: 70%;
		}

		.tabordion {
			width: 70%;
		}
		}

/* Tabordion 2 */

		h1 {
		color: #333;
		margin: 1em auto;
		width: 80%;
		}

		.tabordion2 {
		color: white;
		display: block;
		margin: auto;
		position: relative;
		width: 80%;
		}

		.tabordion2 input[name="sections2"] {
		left: -9999px;
		position: absolute;
		top: -9999px;
		}

		.tabordion2 section {
		display: block;
		}

		.tabordion2 section label {
		background: #0272A7;
		border:1px solid #fff;
		cursor: pointer;
		display: block;
		font-size: 1em;
		padding: 5px 5px;
		position: relative;
		width: 200px;
		z-index:100;
		text-align: right;
		border-radius: 10px 0px 0px 10px;
		}

		.tabordion2 section article {
		display: none;
		left: 230px;
		min-width: 300px;
		padding: 0 0 0 21px;
		position: absolute;
		top: 0;
		}



		.tabordion2 input[name="sections2"]:checked + label {
		background: white;
		color: black;
		border-style: solid;
		border-width: 1px;
		border-left-width: 1px;
		border-right-width: 0px;
		border-color: black;
		}

		.tabordion2 input[name="sections2"]:checked ~ article {
		display: block;
		}


		@media (max-width: 533px) {

		h1 {
			width: 100%;
		}

		.tabordion2 {
			width: 100%;
		}

		.tabordion2 section label {
			font-size: 1em;
			width: 160px;
		}

		.tabordion2 section article {
			left: 200px;
			min-width: 270px;
		}

		.tabordion2 section article:after {
			background-color: #ccc;
			bottom: 0;
			content: "";
			display: block;
			left:-199px;
			position: absolute;
			top: 0;
			width: 200px;

		}

		}


		@media (max-width: 768px) {
		h1 {
			width: 96%;
		}

		.tabordion2 {
			width: 96%;
		}
		}


		@media (min-width: 1366px) {
		h1 {
			width: 70%;
		}

		.tabordion2 {
			width: 70%;
		}
		}

/* Tabordion 3 */

		h1 {
		color: #333;
		margin: 1em auto;
		width: 80%;
		}

		.tabordion3 {
		color: white;
		display: block;
		margin: auto;
		position: relative;
		width: 80%;
		}

		.tabordion3 input[name="sections3"] {
		left: -9999px;
		position: absolute;
		top: -9999px;
		}

		.tabordion3 section {
		display: block;
		}

		.tabordion3 section label {
		background: #0272A7;
		border:1px solid #fff;
		cursor: pointer;
		display: block;
		font-size: 1em;
		padding: 5px 5px;
		position: relative;
		width: 200px;
		z-index:100;
		text-align: right;
		border-radius: 10px 0px 0px 10px;
		}

		.tabordion3 section article {
		display: none;
		left: 230px;
		min-width: 300px;
		padding: 0 0 0 21px;
		position: absolute;
		top: 0;
		}



		.tabordion3 input[name="sections3"]:checked + label {
		background: white;
		color: black;
		border-style: solid;
		border-width: 1px;
		border-left-width: 1px;
		border-right-width: 0px;
		border-color: black;
		}

		.tabordion3 input[name="sections3"]:checked ~ article {
		display: block;
		}


		@media (max-width: 533px) {

		h1 {
			width: 100%;
		}

		.tabordion3 {
			width: 100%;
		}

		.tabordion3 section label {
			font-size: 1em;
			width: 160px;
		}

		.tabordion3 section article {
			left: 200px;
			min-width: 270px;
		}

		.tabordion3 section article:after {
			background-color: #ccc;
			bottom: 0;
			content: "";
			display: block;
			left:-199px;
			position: absolute;
			top: 0;
			width: 200px;

		}

		}


		@media (max-width: 768px) {
		h1 {
			width: 96%;
		}

		.tabordion3 {
			width: 96%;
		}
		}


		@media (min-width: 1366px) {
		h1 {
			width: 70%;
		}

		.tabordion3 {
			width: 70%;
		}
		}

/* Tabordion 4 */

		h1 {
		color: #333;
		margin: 1em auto;
		width: 80%;
		}

		.tabordion4 {
		color: white;
		display: block;
		margin: auto;
		position: relative;
		width: 80%;
		}

		.tabordion4 input[name="sections4"] {
		left: -9999px;
		position: absolute;
		top: -9999px;
		}

		.tabordion4 section {
		display: block;
		}

		.tabordion4 section label {
		background: #0272A7;
		border:1px solid #fff;
		cursor: pointer;
		display: block;
		font-size: 1em;
		padding: 5px 5px;
		position: relative;
		width: 200px;
		z-index:100;
		text-align: right;
		border-radius: 10px 0px 0px 10px;
		}

		.tabordion4 section article {
		display: none;
		left: 230px;
		min-width: 300px;
		padding: 0 0 0 21px;
		position: absolute;
		top: 0;
		}



		.tabordion4 input[name="sections4"]:checked + label {
		background: white;
		color: black;
		border-style: solid;
		border-width: 1px;
		border-left-width: 1px;
		border-right-width: 0px;
		border-color: black;
		}

		.tabordion4 input[name="sections4"]:checked ~ article {
		display: block;
		}


		@media (max-width: 533px) {

		h1 {
			width: 100%;
		}

		.tabordion4 {
			width: 100%;
		}

		.tabordion4 section label {
			font-size: 1em;
			width: 160px;
		}

		.tabordion4 section article {
			left: 200px;
			min-width: 270px;
		}

		.tabordion4 section article:after {
			background-color: #ccc;
			bottom: 0;
			content: "";
			display: block;
			left:-199px;
			position: absolute;
			top: 0;
			width: 200px;

		}

		}


		@media (max-width: 768px) {
		h1 {
			width: 96%;
		}

		.tabordion4 {
			width: 96%;
		}
		}


		@media (min-width: 1366px) {
		h1 {
			width: 70%;
		}

		.tabordion4 {
			width: 70%;
		}
		}

