/* tool tips [https://www.w3schools.com/css/css_tooltip.asp] */
 	.tooltip {
	  position: relative;
	  display: inline-block;
	/*
	  border-bottom: 1px dotted black;/* If you want dots under the hoverable text */
	*/
	}

	.tooltip .tooltiptext {
	  visibility: hidden;
	  min-width: 300px;
	  max-width: 700px;
	  background-color: black;
	  color: #fff;
	  text-align: left;
	  border-radius: 6px;
	  padding: 5px 5px 5px 10px; /* padding: top right bottom left */

	  /* Position the tooltip */
	  position: absolute;
	  z-index: 1;
	  top: 100%;
	  margin-top: 5px;
	  font-size: 10pt;
	/*
	  left: 50%;
	  margin-left: -60px;
	*/
	}

	.tooltip:hover .tooltiptext {
	  visibility: visible;
	}

/* For IE */ 
	.tooltipie {
	  position: relative;
	  display: inline-block;
	/*
	  border-bottom: 1px dotted black;/* If you want dots under the hoverable text */
	*/
	}

	.tooltipie .tooltiptextie {
	  visibility: hidden;
	  min-width: 210px;
	  max-width: 700px;
	  background-color: black;
	  color: #fff;
	  text-align: left;
	  border-radius: 6px;
	  padding: 5px 5px 5px 10px; /* padding: top right bottom left */

	  /* Position the tooltip */
	  position: absolute;
	  top: 100%;
	  margin-top: 5px;
	  font-size: 10pt;
	/*
	  left: 50%;
	  margin-left: -60px;
	*/
	}

	.tooltipie:hover .tooltiptextie {
	  visibility: visible;
	}

