@media print {
    #header, #nav, #leftMenu, #content h1, #content #headerTable, #content #list, #content #deptDirectorDiv, #content #userInfo, #footer {
        display: none;
    }

    #body {
        background: white;
    }

    #content {
        margin: 0px !important;
    }

    #chart {
        background-color: white;
        padding         : 0px;
        overflow-x      : visible;
    }
}