
/* fontsprite */
/* assumes fonts are stored wit the page in the fonts folder */

@font-face{
  font-family:'fontsprite';
  src:url("fonts/fontsprite.eot?6727680");
  src:url("fonts/fontsprite.eot?6727680#iefix") format("embedded-opentype"),
      url("fonts/fontsprite.woff?6727680") format("woff"),
      url("fonts/fontsprite.ttf?6727680") format("truetype"),
      url("fonts/fontsprite.svg?6727680#fontello") format("svg");
  font-weight:normal;
  font-style:normal;
}

[class^="fsprite-"]:before,
[class*=" fsprite-"]:before {font-family:"fontsprite";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em}
.fsprite-plus:before{content:'\e806'}
.fsprite-minus:before{content:'\e803'}
.fsprite-left-big:before{content:'\e815'}
.fsprite-up-big:before{content:'\e813'}
.fsprite-right-big:before{content:'\e814'}
.fsprite-down-big:before{content:'\e816'}
.fsprite-up-dir:before{content:'\e831'}
.fsprite-right-dir:before{content:'\e830'}
.fsprite-down-dir:before{content:'\e832'}
.fsprite-check:before{content:'\e812'}
.fsprite-left-hand:before{content:'\e828'}
.fsprite-up-hand:before{content:'\e829'}
.fsprite-right-hand:before{content:'\e827'}
.fsprite-down-hand:before{content:'\e82a'}
.fsprite-cog:before{content:'\e849'}
.fsprite-attention:before{content:'\e835'}
.fsprite-cog-alt:before{content:'\e84b'}
.fsprite-mail:before{content:'\e83a'}
.fsprite-ok:before{content:'\e80c'}
.fsprite-ok-circled:before{content:'\e80b'}
.fsprite-cancel:before{content:'\e808'}
.fsprite-cancel-circled:before{content:'\e807'}
.fsprite-asterisk:before{content:'\e854'}
.fsprite-attention-circled:before{content:'\e834'}
.fsprite-plus-circled:before{content:'\e805'}
.fsprite-minus-circled:before{content:'\e802'}
.fsprite-ok-circled2:before{content:'\e80a'}
.fsprite-help-circled:before{content:'\e850'}
.fsprite-info-circled:before{content:'\e84f'}
.fsprite-eye:before{content:'\e836'}
.fsprite-eye-off:before{content:'\e837'}
.fsprite-export:before{content:'\e84d'}
.fsprite-down-open:before{content:'\e817'}
.fsprite-left-open:before{content:'\e818'}
.fsprite-right-open:before{content:'\e819'}
.fsprite-up-open:before{content:'\e81a'}
.fsprite-spin2:before{content:'\e842'}
.fsprite-spin3:before{content:'\e843'}
.fsprite-spin4:before{content:'\e852'}
.fsprite-spin5:before{content:'\e851'}
.fsprite-link-ext:before{content:'\e838'}
.fsprite-check-empty:before{content:'\e811'}
.fsprite-phone-squared:before{content:'\e846'}
.fsprite-rss:before{content:'\e848'}
.fsprite-left-circled:before{content:'\e826'}
.fsprite-right-circled:before{content:'\e825'}
.fsprite-up-circled:before{content:'\e824'}
.fsprite-down-circled:before{content:'\e823'}
.fsprite-blank:before{content:'\e853'}
.fsprite-menu:before{content:'\e84a'}
.fsprite-mail-alt:before{content:'\e83b'}
.fsprite-lightbulb:before{content:'\e833'}
.fsprite-plus-squared:before{content:'\e804'}
.fsprite-angle-double-left:before{content:'\e82b'}
.fsprite-angle-double-right:before{content:'\e82c'}
.fsprite-angle-double-up:before{content:'\e82d'}
.fsprite-angle-double-down:before{content:'\e82e'}
.fsprite-angle-left:before{content:'\e81b'}
.fsprite-angle-right:before{content:'\e81c'}
.fsprite-angle-up:before{content:'\e81d'}
.fsprite-angle-down:before{content:'\e81e'}
.fsprite-circle-empty:before{content:'\e810'}
.fsprite-spinner:before{content:'\e844'}
.fsprite-circle:before{content:'\e80f'}
.fsprite-plus-squared-small:before{content:'\e80e'}
.fsprite-minus-squared-small:before{content:'\e80d'}
.fsprite-code:before{content:'\e84c'}
.fsprite-angle-circled-left:before{content:'\e81f'}
.fsprite-angle-circled-right:before{content:'\e820'}
.fsprite-angle-circled-up:before{content:'\e821'}
.fsprite-angle-circled-down:before{content:'\e822'}
.fsprite-rss-squared:before{content:'\e847'}
.fsprite-minus-squared:before{content:'\e801'}
.fsprite-minus-squared-alt:before{content:'\e800'}
.fsprite-ok-squared:before{content:'\e809'}
.fsprite-link-ext-alt:before{content:'\e839'}
.fsprite-export-alt:before{content:'\e84e'}
.fsprite-collapse:before{content:'\e83f'}
.fsprite-collapse-top:before{content:'\e840'}
.fsprite-expand:before{content:'\e841'}
.fsprite-picture:before{content:'\e83c'}
.fsprite-thumbs-up:before{content:'\e83d'}
.fsprite-thumbs-down:before{content:'\e83e'}
.fsprite-phone:before{content:'\e845'}
.fsprite-search:before{content:'\e82f'}
