
/* Government Delivery Icons */

[class^='icon-'],[class*=' icon-'] {font-family:'GovDelivery Icons', sans-serif !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;}
[class^='icon-'].medium,[class*=' icon-'].medium {font-size:24px}
[class^='icon-'].large,[class*=' icon-'].large {font-size:36px}
[class^='icon-'].huge,[class*=' icon-'].huge {font-size:52px}
.icon-key-outline:before{content:'\e956'}
.icon-key:before{content:'\e957'}
.icon-pointer:before{content:'\e950'}
.icon-pointer-outline:before{content:'\e951'}
.icon-pin:before{content:'\e952'}
.icon-pin-outline:before{content:'\e953'}
.icon-loading-circle:before{content:'\e94e'}
.icon-loading-taper:before{content:'\e94f'}
.icon-error-connection:before{content:'\e94d'}
.icon-react:before{content:'\e94c'}
.icon-code:before{content:'\e920'}
.icon-accessibility:before{content:'\e91f'}
.icon-user-copy:before{content:'\e947'}
.icon-heading:before{content:'\e941'}
.icon-text:before{content:'\e942'}
.icon-question:before{content:'\e943'}
.icon-double-arrow:before{content:'\e936'}
.icon-plane:before,.icon-send-bulletin:before{content:'\e63a'}
.icon-plane-outline:before{content:'\e94a'}
.icon-phone:before{content:'\e940'}
.icon-granicus-wordmark:before{content:'\e93d'}
.icon-granicus-logo:before{content:'\e93f'}
.icon-granicus-g:before{content:'\e93e'}
.icon-fork:before{content:'\e937'}
.icon-merge-fork:before{content:'\e938'}
.icon-merge:before{content:'\e939'}
.icon-segments:before{content:'\e904'}
.icon-search:before{content:'\e926'}
.icon-chevron-up:before{content:'\e902'}
.icon-chevron-right:before{content:'\e915'}
.icon-chevron-left:before{content:'\e916'}
.icon-chevron-left-light:before{content:'\e93a'}
.icon-chevron-right-light:before{content:'\e93b'}
.icon-chevron-down:before{content:'\e905'}
.icon-chevron-down-light:before{content:'\e914'}
.icon-chevron-up-light:before{content:'\e911'}
.icon-message:before{content:'\e370'}
.icon-error:before{content:'\e355'}
.icon-warning:before{content:'\e357'}
.icon-warning-no-border:before{content:'\e906'}
.icon-csv-wide:before{content:'\e649'}
.icon-copy-vertical:before{content:'\e954'}
.icon-csv:before{content:'\e64b'}
.icon-pdf:before{content:'\e64c'}
.icon-pdf-wide:before{content:'\e64d'}
.icon-copy:before{content:'\e955'}
.icon-topics:before{content:'\e646'}
.icon-new-tab:before{content:'\e47d'}
.icon-cancel-circle:before{content:'\e647'}
.icon-close:before,.sr-tag .sr-tag-remove:before{content:'\e948'}
.icon-close-thin:before{content:'\e903'}
.icon-menu:before{content:'\e64f'}
.icon-menu2:before{content:'\e650'}
.icon-menu3:before{content:'\e651'}
.icon-menu4:before{content:'\e652'}
.icon-life-preserver:before{content:'\e935'}
.icon-login:before{content:'\e654'}
.icon-arrow-up-left:before{content:'\ea39'}
.icon-arrow-up:before{content:'\ea3a'}
.icon-arrow-up-right:before{content:'\ea3b'}
.icon-arrow-right:before{content:'\ea3c'}
.icon-arrow-down-right:before{content:'\ea3d'}
.icon-arrow-down:before{content:'\ea3e'}
.icon-arrow-down-left:before{content:'\ea3f'}
.icon-arrow-left:before{content:'\ea40'}
.icon-table:before{content:'\ea70'}
.icon-table2:before{content:'\ea71'}
.icon-insert-template:before{content:'\ea72'}
.icon-list-disc:before{content:'\e90d'}
.icon-list-square:before{content:'\e909'}
.icon-new-tab2:before{content:'\ea7e'}
.icon-trash:before{content:'\e600'}
.icon-circle-check:before{content:'\e645'}
.icon-book:before{content:'\e071'}
.icon-history:before{content:'\e0ff'}
.icon-calendar:before{content:'\e113'}
.icon-undo:before{content:'\e14b'}
.icon-user:before{content:'\e185'}
.icon-users:before{content:'\e61c'}
.icon-user-plus:before{content:'\e187'}
.icon-user-minus:before{content:'\e189'}
.icon-user-check:before{content:'\e18a'}
.icon-equalizer:before{content:'\e1db'}
.icon-cog:before{content:'\e1df'}
.icon-link:before{content:'\e2cd'}
.icon-attachment:before{content:'\e2d7'}
.icon-notification:before{content:'\e357'}
.icon-plus:before{content:'\e94b'}
.icon-minus:before{content:'\e949'}
.icon-info:before{content:'\ed60'}
.icon-checkmark:before{content:'\e370'}
.icon-exit:before{content:'\e37e'}
.icon-circle-left:before{content:'\e603'}
.icon-govbubble_flat:before{content:'\e601'}
.icon-govbubble_black:before{content:'\e602'}
.icon-widgets:before{content:'\e604'}
.icon-widget:before{content:'\e605'}
.icon-vr_boxed:before{content:'\e606'}
.icon-user-drafts:before{content:'\e607'}
.icon-upload-image:before{content:'\e608'}
.icon-twitter:before{content:'\e609'}
.icon-twitter-boxed:before{content:'\e60a'}
.icon-categories:before{content:'\e60b'}
.icon-bulletins:before{content:'\e945'}
.icon-email:before,.icon-bulletin:before{content:'\e944'}
.icon-bar-graph:before{content:'\e60e'}
.icon-archived:before{content:'\e60f'}
.icon-announcements:before{content:'\e610'}
.icon-alert-light:before{content:'\e611'}
.icon-administrators:before{content:'\e612'}
.icon-administrator-login-history:before{content:'\e613'}
.icon-left-end:before{content:'\e615'}
.icon-left-arrow:before{content:'\e616'}
.icon-landing-page:before{content:'\e618'}
.icon-held:before{content:'\e61b'}
.icon-featured-content:before{content:'\e61d'}
.icon-facebook:before{content:'\e61e'}
.icon-facebook-boxed:before{content:'\e61f'}
.icon-export-pdf:before{content:'\e620'}
.icon-export-image:before{content:'\e621'}
.icon-export-csv:before{content:'\e622'}
.icon-export:before{content:'\e623'}
.icon-enterprises:before{content:'\e624'}
.icon-gov_logonortagnobubble:before{content:'\e627'}
.icon-gov_logonortag:before{content:'\e628'}
.icon-reports:before{content:'\e629'}
.icon-question-boxed:before{content:'\e62a'}
.icon-preview:before{content:'\e62b'}
.icon-preview-boxed:before{content:'\e642'}
.icon-pagewatch:before{content:'\e62d'}
.icon-overlay-builder:before{content:'\e62e'}
.icon-bulletin-new:before{content:'\e946'}
.icon-macros:before{content:'\e632'}
.icon-rss:before{content:'\e633'}
.icon-rss-boxed:before{content:'\e634'}
.icon-roles:before{content:'\e635'}
.icon-right-end:before{content:'\e636'}
.icon-reserved:before{content:'\e637'}
.icon-share-boxed:before{content:'\e638'}
.icon-send-by-email:before{content:'\e639'}
.icon-scheduled:before{content:'\e63b'}
.icon-save:before{content:'\e63c'}
.icon-themes:before{content:'\e63d'}
.icon-chat:before,.icon-sms-dialog:before{content:'\e63e'}
.icon-templates:before{content:'\e63f'}
.icon-system:before{content:'\e640'}
.icon-users,.icon-subscribers:before{content:'\e61c'}
.icon-sharing:before{content:'\e643'}
.icon-share:before{content:'\e644'}
.icon-unlocked:before{content:'\e900'}
.icon-locked:before{content:'\e901'}
.icon-hand-o-up:before{content:'\e907'}
.icon-grab:before{content:'\e90a'}
.icon-image:before{content:'\e90b'}
.icon-images:before{content:'\e90c'}
.icon-briefcase:before{content:'\e912'}
.icon-flow-tree:before{content:'\e913'}
.icon-campaign:before,.icon-target:before{content:'\e92a'}
.icon-fedramp:before{content:'\e91e'}
.icon-logout:before{content:'\e91b'}
.icon-reset-password:before{content:'\e91d'}
.icon-support:before{content:'\e91c'}
.icon-superuser:before{content:'\e910'}
.icon-upgrade:before{content:'\e919'}
.icon-publisher-badge:before{content:'\e91a'}
.icon-connect:before{content:'\e917'}
.icon-switch-account:before{content:'\e918'}
.icon-edit:before{content:'\e908'}
.icon-add-circle:before{content:'\e922'}
.icon-add-circle-outline:before{content:'\e923'}
.icon-remove-circle:before{content:'\e924'}
.icon-remove-circle-outline:before{content:'\e925'}
.icon-funnel:before{content:'\e927'}
.icon-input:before{content:'\e927'}
.icon-welcome:before{content:'\e92e'}
.icon-drops:before{content:'\e930'}
.icon-drops-outline:before{content:'\e931'}
.icon-communications-suite:before{content:'\e929'}
.icon-interactive-text:before{content:'\e92c'}
.icon-interactive-text-filled:before{content:'\e958'}
.icon-interactive-text-wordmark:before{content:'\e92d'}
.icon-awards:before{content:'\e932'}
.icon-awards-numbered:before{content:'\e933'}
.icon-test-tube:before{content:'\e92f'}
.icon-ekg-heart:before{content:'\e934'}
.icon-sms:before{content:'\e93c'}
.icon-network-standard:before{content:'\e90e'}
