#menu {
	line-height:21px;
	text-align:left;
/*	min-width: 1340px; */
	z-index: 800;
	list-style:none;
	/* width: 87.5%; */
	margin: 0px auto 4px auto;
	min-height:40px;
	padding: 0px 20px 10px 20px;

	/* Rounded Corners */
	/*
	-moz-border-radius: 10px 10px 10px 10px ;
	-webkit-border-radius: 10px 10px 10px 10px ;
	border-radius: 10px 10px 10px 10px ;
	*/
	/* Background color */
	
	background: #0272a7;
    box-sizing: content-box;
}

/* making the menu respond to scaling will require more effort than this but it's a start */
#menu:after {
      content:"";
      display:table;
      clear:both;
    }

    
#menu li.clicked a.drop{
	color: #029feb !important;
	font-weight: bold;
}


#menu li {
	z-index: 700;
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 4px 4px 4px 4px;
	margin-right:30px;
	margin-top:5px;
}

#menu li:hover, #menu li.jqhover {
	z-index: 800;

	padding: 4px 4px 4px 4px;
	
	/* Background color  */
	
	background: #FDFDFD;
	
	/* Rounded corners */
	
	border-radius: 5px 5px 0px 0px;
}

#menu li a {
	z-index: 800;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px; 
	color: #FFFFFF;
	display:block;
	outline:0;
	text-decoration:none;
	text-shadow: 1px 1px 1px #000;
}

#menu li:hover a, #menu li.jqhover a {
	z-index: 800;
	color:#161616;
	text-shadow: 1px 1px 1px #ffffff;
}
#menu li .drop {
	cursor: default;
	z-index: 800;
	padding-right:14px;
	background:url("/homepages/comp_sys_sup/include/images/drop.png") no-repeat right 8px;
}

#menu li .drop[href] {
    cursor: pointer;
}

#menu li:hover .drop, #menu li.jqhover .drop {
	z-index: 800;
	background:url("/homepages/comp_sys_sup/include/images/drop.png") no-repeat right 7px;
}

.dropdown_1column a, 
.dropdown_2columns a, 
.dropdown_3columns a, 
.dropdown_4columns a,
.dropdown_5columns a{
font-weight: bold;
font-size: 14px;
}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
	z-index: 900;
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px 10px 5px;
	border:1px solid #777777;
	border-top:none;
	
	/*  background */
	background:#FDFDFD;

	/* Rounded Corners */
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}

.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}

#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns,
#menu li.jqhover .dropdown_1column, 
#menu li.jqhover .dropdown_2columns, 
#menu li.jqhover .dropdown_3columns,
#menu li.jqhover .dropdown_4columns,
#menu li.jqhover .dropdown_5columns {
	left:-1px;
	top:auto;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
	z-index: 900;
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}

#menu .menu_right {
	float:right;
	margin-right:0px;
}
#menu li .align_right {
	/* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

#menu li:hover .align_right, #menu li.jqhover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}

#menu p, #menu h2, #menu h3, #menu ul li {
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	font-size:12px;
	text-align:left;
	text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #666666;
}
#menu h3 {
	font-size:14px;
	margin:7px 0 5px 0;
	padding-bottom:2px;
	/* border-bottom:1px solid #888888; */
}
#menu p {
	line-height:18px;
	margin:0 0 10px 0;
}

#menu li:hover div a, #menu li.jqhover div a {
	font-size:12px;
	color:#015b86;
}
#menu li:hover div a:hover, #menu li.jqhover div a:hover {
	color:#029feb;
}


.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}

#menu li .black_box {
	background-color:#333333;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

#menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
#menu li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
}
#menu li ul li:hover, #menu li ul li.jqhover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

#menu li .greybox li {
	background:#F5F5F5;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	min-width: 120px;
	display: inline-block;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover, #menu li .greybox li.jqhover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}