
/* PageLayout.css */
/* 
Namespace List
  col-  column
  ta-	text alignment
  txt-	text
  va-	vertical alignment
*/

:root {
  --AColor: #0272A7;
  --pale-green: #5FCCAB;  /* html & jumbotron background */
}

.hide {
  display:none;
}

.WholeScreen {
  float:Center;
  margin:5px;
  padding:10px;
}

.ImageUpperLeft {
  position: Left;
  top: 10px;
  left: 10px;
}

.ImageUpperCenter {
  position:Middle;
  top:10px;
}

.RollingMsg {
  width:400px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  color:#CCFFFF;
  font-weight:bold;
  font-face: Arial,Helvetica;
  font-size:100%;
}

.InnerImageCenter {
  position:Center;
  top: 80px;
  Left: 170px;
}

.OuterMiddleLeft {
  position:absolute;
  bottom:20px;
  left:20px;
  width:150px;
}

.OuterMiddleRight {
  position:absolute;
  bottom:20px;
  right:20px;
  width:150px;
}

/* ===========================Reset=========================== */
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  background-color: #5FCCAB;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

blockquote {
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #5EAEFF;
	background-color: #f1f8fd;
	display: inline-block;
	margin-left: 25px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: both;
}

/* =======================Columns========================= */

.col-container:after {
  display: block;
  height: 0;
  clear: both;
  content: " ";
}

.col-two {
  background-color: rgba(137, 314, 253, 0.2); /* #5FCCAB */
  border: solid;
  padding: 0.5%;
  float: left;
  width: 50%;
}

.col-three {
  background-color: rgba(137, 314, 253, 0.2); /* #5FCCAB */
  border: solid;
  padding: 0.5%;
  float: left;
  width:33%;
}

.col-four {
  background-color: rgba(137, 314, 253, 0.2); /* #5FCCAB */
  border: solid;
  padding: 0.5%;
  float: left;
  width: 25%;
}

.col-even {
  background-color: rgba(253, 314, 137, 0.2);
}

/* ========================Footer================================== */

.footer {
  background-color: #f0f0f0;
  border: solid;
  min-width: 800px;
  padding: 0 0 0 5px;
  position: relative;
}
/*
.footer {
  color: #343434;
  clear:both;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 90%;
  text-align: center;
  font-size: 1em;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 3px;
  border-color: #dddddd;
}  */

.footerAlerts {
  margin-top: 20px;
  padding-right : 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.footerAlerts a:link {
  color: black;
  text-decoration: none;
}
.footerAlerts a:hover {
  text-decoration: underline;
}

.footerButton {
  font-family: LibreFranklin-SemiBold;
  align-items     : center;
  background-color: #30395C;
  border          : 1px solid #30395C;
  border-radius   : 15px;
  display         : flex;
  height          : 45px;
  justify-content : center;
  margin-right    : 8px;
  padding         : 5px;
  text-align      : center;
  width           : 125px;
}

.footerDeclaration {
  padding-top: 10px;
}

.footerDescription,
.footerLinks {
  display        : flex;
  flex-direction : row;
}

.footerDescription a {
  color: #30395C;
}
.footerDescription a:visited {
  color: #C0C0C0;
}

.footerLinks a:link {
  color: #c0c0c0;
  text-decoration: none;
}
.footerLinks a:hover {
  color: orange;
  text-decoration: underline;
}

.alert-red,
.alert-red:hover {
  color:#000;
  background-color:#FB5151;
}
.alert-yellow,
.alert-yellow:hover {
  color:#000;
  background-color:#fff064;
}
.alert-green,
.alert-green:hover {
  color:#000;
  background-color:#66BD6D;
}

.statusBox {
  display       : inline-block;
  height        : 18px;
  vertical-align: text-bottom;
  width         : 18px;
}

/* ========================Header================================== */
.header {
  background-color: #f0f0f0;
  border: solid;
  min-width: 800px;
  padding: 0 0 0 5px;
  position: relative;
}

/* 
.header {
  color: #FFFFFF;
  height:55px;
  padding-left: 30px;
  padding-right: 26px;
  padding-top: 5px;
  padding-bottom: 15px;
  clear:both;
  min-width: 660px;
  box-sizing: content-box;
} */

.header a:link { 
  color: #FFFFFF; 
  text-decoration: none;
  font-size: 1em;
}

.header a:visited { 
  color: #FFFFFF; 
  text-decoration: none;
  font-size: 1em;
}

.header a:active { 
  color: #FFFFFF; 
  text-decoration: none;
  font-size: 1em;
}

.header a:hover { 
  color: #FFFFFF; 
  text-decoration: underline;
  font-size: 1em;
}


/* =======================Jumbotron Header================================ */
.jumbotron {
  background-color: #5FCCAB;
  color: #fff;
  text-align: center;
  min-height: 10em;
  min-width: 50%;
  /* max-width: 90%; */
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 3px;
  border-color: #479980;  
  padding-left: 5px;
  padding-right: 5px;  
}

.jumbotron h1, .content .jumbotron h1 {
  font-size: 3em;
  color: inherit;
}

.jumbotron p, .content .jumbotron p {
  font-size: 2em;
  color: inherit;
}

.content .jumbotron {
  background-color: #5FCCAB;
  color: #fff;
  text-align: center;
  min-height: 10em;
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px; 
  border-radius: 25px;
}

/* ======================Main Content Section======================= */
.content {
	background-color: #FFFFFF;
	color: #343434;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
    min-width: 50%;
    max-width:95%;
	border-style: solid;
	border-width: 1px;
	border-bottom-width: 3px;
	border-color: #dddddd;
	padding: 5px;
	line-height: 20px;	
}

.content h1, h1 {
	font-size: 2.25em;
    line-height: 1em;
}

.content h2, h2 {
	font-size: 1.5em;
    line-height: 1em;    
}

.content h3, h3 {
	font-size: 1.3125em;
    line-height: 1em;
}

.content h4, h4 {
	font-size: 1.125em;
    line-height: 1em;
}

.content h5, h5 {
	font-size: 1em;
    line-height: 1em;
}

.content > p {
    margin-left: 15px;
}

.content:after {
    content:"";
    display:table;
    clear:both;
	overflow: hidden;      
}

/* content style without width restrictions*/
.content-style {
	background-color: #FFFFFF;
	color: #343434;
	margin-top: 5px;
	margin-bottom: 5px;
	border-style: solid;
	border-width: 1px;
	border-bottom-width: 3px;
	border-color: #dddddd;
	padding: 5px;
	line-height: 20px;	
}

.content h1, .content h2, .content h3, .content h4, .content h5 {
	font-family: Arial;
}

.main {
  background-color: #f0f0f0;
  border: solid;
  border-color: green;
  min-height: 350px;
  min-width: 800px;
  padding: 0 0 0 5px;
  position: relative;
  text-align: left;
}

/* ======================Text Modfications========================== */

.center {
  text-align: center;
}

.code {
  font-family: monospace;
  font-size: 1.5em;
  font-weight: bold;
  color: green;
}

.hidden {
  display: none;
}

.monospace {
  font-family: monospace;
  font-size: 1.23em;
}

/* =====================Vertical Alignment========================= */

.va-center{
  height: 75px; 
  line-height: 75px;
}

.va-middle {
  vertical-align: middle;
}

.va-top {
  vertical-align: top;
}

.va-bottom {
  vertical-align: bottom;
}

.va-subscript {
  vertical-align: sub;
}

.va-superscript {
  vertical-align: super;
}