/*  
    Makes parent elements of jquery ui tabs to expand to content inside that is floated
*/
.ui-tabs:after {
    content:"";
    display:table;
    clear:both;
	overflow: hidden;      
}

.alt-rows.license-table.dataTable {
    width:50%;
    max-width: 50%;
    margin-left:auto;
    margin-right:auto;
    float:none;
}

/* Hides mathematica reload button on licenses page */
.ml-container form {
    display: none;
}


.doors-container {
    
}