#menu .grey-button, #contactBlock .grey-button {
	background:#F5F5F5;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding: 4px 3px;
	min-width: 125px;
	display: inline-block;
    color: #343434;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#contactBlock {
    width:48%;
}

#contactDetailPane {
    width:45%;
}

#menu .grey-button:hover, #contactBlock .grey-button:hover {
	background:#FFF;
    color: #0272A7;
    border-color: #0272A7;
	border:1px solid;
	padding:4px 3px;
	margin:0px 0px 4px 0px;
}

#menu .yellow-button, #contactBlock .yellow-button {
    color: #997200;
    border-color: #997200;
    background-color: #FDFCC6;
}

#menu .green-button, #contactBlock .green-button {
    color: #027200;
    border-color: #027200;
    background-color: #EAFDEE;
}


.contactPerson {

}


.contactTopic {

}

#menu .contactActive, #menu .contactActive a, #menu .contactActive:hover .grey-button:hover, #contactBlock .contactActive, #contactBlock .contactActive a, #contactBlock .contactActive:hover .grey-button:hover {
    background-color: #f1f8fd; 
    color: #0272A7;
    border-color: #0272A7;
}

#menu .contactActiveBlue, #menu .contactActiveBlue a, #menu .contactActiveBlue:hover .grey-button:hover, #contactBlock .contactActiveBlue, #contactBlock .contactActiveBlue a, #contactBlock .contactActiveBlue:hover .grey-button:hover {
    background-color: #f1f8fd; 
    color: #0272A7;
    border-color: #0272A7;
}

#menu .contactActiveGreen, #menu  .contactActiveGreen a, #menu  .contactActiveGreen:hover .grey-button:hover, #contactBlock .contactActiveGreen, #contactBlock  .contactActiveGreen a, #contactBlock  .contactActiveGreen:hover .grey-button:hover {
    color: #027200;
    border-color: #027200;
    background-color: #EAFDEE;
}

#menu .contactActiveYellow, #menu  .contactActiveYellow a, #menu  .contactActiveYellow:hover .grey-button:hover, #contactBlock .contactActiveYellow, #contactBlock  .contactActiveYellow a, #contactBlock  .contactActiveYellow:hover .grey-button:hover {
    color: #997200;
    border-color: #997200;
    background-color: #FDFCC6;
}

#menu .contactInactive, #menu .contactInactive a, #contactBlock .contactInactive, #contactBlock .contactInactive a {
    background-color: #fff; 
    color: #d1d1d1;
	border:1px solid #bbbbbb;
}