ss/* libre-franklin-100 - latin */
@font-face {
    font-family: 'LibreFranklin-Thin';
    font-style : normal;
    font-weight: 100;
    src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100.eot'); /* IE9 Compat Modes */
    src        : local('Libre Franklin Thin'), local('LibreFranklin-Thin'),
                url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
                url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100.woff') format('woff'), /* Modern Browsers */
                url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
                url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  }
  /* libre-franklin-100italic - latin */
  @font-face {
    font-family: 'LibreFranklin-ThinItalic';
    font-style : italic;
    font-weight: 100;
    src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100italic.eot'); /* IE9 Compat Modes */
    src        : local('Libre Franklin Thin Italic'), local('LibreFranklin-ThinItalic'),
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100italic.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-100italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  }
  /* libre-franklin-200 - latin */
  @font-face {
    font-family: 'LibreFranklin-ExtraLight';
    font-style : normal;
    font-weight: 200;
    src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200.eot'); /* IE9 Compat Modes */
    src        : local('Libre Franklin ExtraLight'), local('LibreFranklin-ExtraLight'),
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  }
  /* libre-franklin-200italic - latin */
  @font-face {
    font-family: 'LibreFranklin-ExtraLightItalic';
    font-style : italic;
    font-weight: 200;
    src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200italic.eot'); /* IE9 Compat Modes */
    src        : local('Libre Franklin ExtraLight Italic'), local('LibreFranklin-ExtraLightItalic'),
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200italic.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-200italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  }
  /* libre-franklin-300italic - latin */
  @font-face {
    font-family: 'LibreFranklin-LightItalic';
    font-style : italic;
    font-weight: 300;
    src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300italic.eot'); /* IE9 Compat Modes */
    src        : local('Libre Franklin Light Italic'), local('LibreFranklin-LightItalic'),
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300italic.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  }
  /* libre-franklin-300 - latin */
  @font-face {
    font-family: 'LibreFranklin-Light';
    font-style : normal;
    font-weight: 300;
    src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300.eot'); /* IE9 Compat Modes */
    src        : local('Libre Franklin Light'), local('LibreFranklin-Light'),
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-300.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  }
  /* libre-franklin-regular - latin */
  @font-face {
    font-family: 'LibreFranklin-Regular';
    font-style : normal;
    font-weight: 400;
    src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-regular.eot'); /* IE9 Compat Modes */
    src        : local('Libre Franklin'), local('LibreFranklin-Regular'),
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-regular.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  }
  /* libre-franklin-italic - latin */
  @font-face {
    font-family: 'LibreFranklin-Italic';
    font-style : italic;
    font-weight: 400;
    src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-italic.eot'); /* IE9 Compat Modes */
    src        : local('Libre Franklin Italic'), local('LibreFranklin-Italic'),
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-italic.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  }
  /* libre-franklin-500 - latin */
  @font-face {
    font-family: 'LibreFranklin-Medium';
    font-style : normal;
    font-weight: 500;
    src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500.eot'); /* IE9 Compat Modes */
    src        : local('Libre Franklin Medium'), local('LibreFranklin-Medium'),
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  }
  /* libre-franklin-500italic - latin */
  @font-face {
    font-family: 'LibreFranklin-MediumItalic';
    font-style : italic;
    font-weight: 500;
    src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500italic.eot'); /* IE9 Compat Modes */
    src        : local('Libre Franklin Medium Italic'), local('LibreFranklin-MediumItalic'),
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500italic.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-500italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  }
  /* libre-franklin-600 - latin */
  @font-face {
    font-family: 'LibreFranklin-SemiBold';
    font-style : normal;
    font-weight: 600;
    src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600.eot'); /* IE9 Compat Modes */
    src        : local('Libre Franklin SemiBold'), local('LibreFranklin-SemiBold'),
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  }
  /* libre-franklin-600italic - latin */
  @font-face {
    font-family: 'LibreFranklin-SemiBoldItalic';
    font-style : italic;
    font-weight: 600;
    src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600italic.eot'); /* IE9 Compat Modes */
    src        : local('Libre Franklin SemiBold Italic'), local('LibreFranklin-SemiBoldItalic'),
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600italic.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-600italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  }
  /* libre-franklin-700 - latin */
  @font-face {
    font-family: 'LibreFranklin-Bold';
    font-style : normal;
    font-weight: 700;
    src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700.eot'); /* IE9 Compat Modes */
    src        : local('Libre Franklin Bold'), local('LibreFranklin-Bold'),
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  }
  /* libre-franklin-700italic - latin */
  @font-face {
    font-family: 'LibreFranklin-BoldItalic';
    font-style : italic;
    font-weight: 700;
    src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700italic.eot'); /* IE9 Compat Modes */
    src        : local('Libre Franklin Bold Italic'), local('LibreFranklin-BoldItalic'),
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700italic.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-700italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  }
  /* libre-franklin-800 - latin */
  @font-face {
    font-family: 'LibreFranklin-ExtraBold';
    font-style : normal;
    font-weight: 800;
    src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800.eot'); /* IE9 Compat Modes */
    src        : local('Libre Franklin ExtraBold'), local('LibreFranklin-ExtraBold'),
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  }
  /* libre-franklin-800italic - latin */
  @font-face {
    font-family: 'LibreFranklin-ExtraBoldItalic';
    font-style : italic;
    font-weight: 800;
    src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800italic.eot'); /* IE9 Compat Modes */
    src        : local('Libre Franklin ExtraBold Italic'), local('LibreFranklin-ExtraBoldItalic'),
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800italic.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-800italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  }
  /* libre-franklin-900 - latin */
  @font-face {
    font-family: 'LibreFranklin-Black';
    font-style : normal;
    font-weight: 900;
    src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900.eot'); /* IE9 Compat Modes */
    src        : local('Libre Franklin Black'), local('LibreFranklin-Black'),
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  }
  /* libre-franklin-900italic - latin */
  @font-face {
    font-family: 'LibreFranklin-BlackItalic';
    font-style : italic;
    font-weight: 900;
    src        : url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900italic.eot'); /* IE9 Compat Modes */
    src        : local('Libre Franklin Black Italic'), local('LibreFranklin-BlackItalic'),
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900italic.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/libre-franklin/libre-franklin-v2-latin-900italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
  }
  /* roboto-100 - latin */
  @font-face {
    font-family: 'Roboto-Thin';
    font-style : normal;
    font-weight: 100;
    src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-100.eot'); /* IE9 Compat Modes */
    src        : local('Roboto Thin'), local('Roboto-Thin'),
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-100.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-100italic - latin */
  @font-face {
    font-family: 'Roboto-ThinItalic';
    font-style : italic;
    font-weight: 100;
    src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-100italic.eot'); /* IE9 Compat Modes */
    src        : local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-100italic.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-100italic.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-300 - latin */
  @font-face {
    font-family: 'Roboto-Light';
    font-style : normal;
    font-weight: 300;
    src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
    src        : local('Roboto Light'), local('Roboto-Light'),
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-300italic - latin */
  @font-face {
    font-family: 'Roboto-LightItalic';
    font-style : italic;
    font-weight: 300;
    src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-300italic.eot'); /* IE9 Compat Modes */
    src        : local('Roboto Light Italic'), local('Roboto-LightItalic'),
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-300italic.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto-Regular';
    font-style : normal;
    font-weight: 400;
    src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src        : local('Roboto'), local('Roboto-Regular'),
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-italic - latin */
  @font-face {
    font-family: 'Roboto-RegularItalic';
    font-style : italic;
    font-weight: 400;
    src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-italic.eot'); /* IE9 Compat Modes */
    src        : local('Roboto Italic'), local('Roboto-Italic'),
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-italic.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto-Medium';
    font-style : normal;
    font-weight: 500;
    src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-500.eot'); /* IE9 Compat Modes */
    src        : local('Roboto Medium'), local('Roboto-Medium'),
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-500.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-500italic - latin */
  @font-face {
    font-family: 'Roboto-MediumItalic';
    font-style : italic;
    font-weight: 500;
    src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-500italic.eot'); /* IE9 Compat Modes */
    src        : local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-500italic.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto-Bold';
    font-style : normal;
    font-weight: 700;
    src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
    src        : local('Roboto Bold'), local('Roboto-Bold'),
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-700italic - latin */
  @font-face {
    font-family: 'Roboto-BoldItalic';
    font-style : italic;
    font-weight: 700;
    src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-700italic.eot'); /* IE9 Compat Modes */
    src        : local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-700italic.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-900 - latin */
  @font-face {
    font-family: 'Roboto-Black';
    font-style : normal;
    font-weight: 900;
    src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-900.eot'); /* IE9 Compat Modes */
    src        : local('Roboto Black'), local('Roboto-Black'),
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-900.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-900italic - latin */
  @font-face {
    font-family: 'Roboto-BlackItalic';
    font-style : italic;
    font-weight: 900;
    src        : url('/_catalogs/theme/15/roboto/roboto-v18-latin-900italic.eot'); /* IE9 Compat Modes */
    src        : local('Roboto Black Italic'), local('Roboto-BlackItalic'),
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-900italic.woff') format('woff'), /* Modern Browsers */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
                 url('/_catalogs/theme/15/roboto/roboto-v18-latin-900italic.svg#Roboto') format('svg'); /* Legacy iOS */
  }

/*
-----------------------------------------------------------------------------
  Universal
-----------------------------------------------------------------------------
*/
.ms-core-brandingText {
  margin-left: -102px;
}
.ms-core-brandingText::after {
  content: " Enterprise Content Management System";
}
body {
  font-family: LibreFranklin-Regular !important;
}
body p,
body li {
  font-family: Roboto-Regular !important;
}
#s4-bodyContainer {
  padding-bottom: 0;
}
.ms-imnlink {
  display: none;
}

/* sets all the list/library title fields to the link blue color */
.ms-listlink {
  color: #0072c6 !important;
}
/* sets all the people picker name fields to the link blue color */
.ms-subtleLink {
  color: #0072c6 !important;
}

/*h1, h2, h3, h4, h5, h6, .ms-h1, .ms-h2, .ms-h3, .ms-h4, .ms-h5, .ms-h6 {
  font-weight: normal;
  margin     : auto;
}*/
h1, .ms-h1, .ms-rtestate-field h1, h1.ms-rteElement-H1 {
  color      : #30395C;
  font-family: LibreFranklin-Bold, Arial;
  font-size  : 18pt;
  /* line-height: 1.4; */
}
h1.ms-rteElement-H1B {
  color      : #707070;
  font-family: LibreFranklin-Bold, Arial;
  font-size  : 18pt;
}
h2, .ms-h2, .ms-headerFont, .ms-rtestate-field h2, h2.ms-rteElement-H2 {
  color      : #30395C;
  font-family: LibreFranklin-Bold, Arial;
  font-size  : 16pt;
  /* line-height: 1.4; */
}
h2.ms-rteElement-H2B {
  color      : #707070;
  font-family: LibreFranklin-Bold, Arial;
  font-size  : 16pt;
}
h3, .ms-h3 {
  color      : #707070;
  font-family: LibreFranklin-SemiBold, Arial;
  font-size  : 14pt;
  /* line-height: 1.4; */
}
h3.ms-rteElement-H3B {
  font-family: LibreFranklin-SemiBold, Arial;
  font-size  : 14pt;
}
h4, h5, h6, .ms-h4, .ms-h5, .ms-h6 {
  color         : #707070;
  font-family   : LibreFranklin-SemiBold, Arial;
  text-transform: uppercase;
}
h4.ms-rteElement-H4B {
  font-family   : LibreFranklin-SemiBold, Arial;
  font-size     : 11pt;
  text-transform: uppercase;
}

hr.ms-rteElement-HorizontalRule {
	-ms-name:"Horizontal Line";
	-ms-element:"true";
}
.ms-rteElement-hr {
  height:1px;
}

hr {
border-width:0px;
border-top:1px solid #c6c6c6;
}
/* h4, .ms-h4 {
  font-size     : 10pt;
  line-height   : 1.4;
	text-transform: uppercase;
}
h5, .ms-h5 {
  font-size: 1em;
}
h6, .ms-h6 {
  font-size: 1em;
} */

/*
-----------------------------------------------------------------------------
  Header
-----------------------------------------------------------------------------
*/
header {
    background-color: #30395C;
    display         : flex;
    flex-direction  : column;
}
#m-topHeader {
    align-items     : center;
    background-color: #6D6F71;
    display         : flex;
    height          : 40px;
    justify-content : space-between;
}
#m-topHeader {
    padding: 0 30px;
}
#m-topHeader img {
    height: 30px;
    width : auto;
}
.m-statusLinks ul {
    list-style   : none;
    margin-bottom: 16px;
}
.m-statusLinks ul li {
    border-left: 1px solid #fff;
    display    : inline;
    padding    : 0 8px;
}
.m-statusLinks ul li:first-child,
.m-statusLinks ul li:last-child {
    border-left: none;
}
.m-statusLinks ul li:last-child {
    padding-right: 0;
}
.m-statusLinks ul li a,
.m-statusLinks ul li a:hover,
.m-statusLinks ul li a:visited {
    color          : #fff;
    font-size      : 8pt;
    margin-left    : 4px;
    text-decoration: none;
    text-transform : uppercase;
}
.m-statusLinks ul li a {
    background-color: #2282b6;
    border          : 1px solid #fff;
    border-radius   : 6px;
    color           : #fff;
    cursor          : pointer;
    font-family     : LibreFranklin-Bold;
    padding         : 6px;
}
.a-statusBox {
    display       : inline-block;
    height        : 18px;
    vertical-align: text-bottom;
    width         : 18px;
}
.ms-welcome-root > a.ms-core-menu-root, .ms-signInLink {
    color: #fff;
}
#m-bottomHeader {
    align-items     : center;
    background-color: #30395C;
    display         : flex;
    height          : 50px;
    justify-content : space-between;
    margin          : 0 30px;
}
/*Tablet*/
@media screen and (min-width: 767px) and (max-width: 1199px) {
    #m-bottomHeader {
        margin : 0;
        padding: 0 30px;
    }
}
.a-homeportLogo a {
    color          : #fff;
    font-family    : LibreFranklin-Bold !important;
    font-size      : 24pt;
    text-decoration: none;
    text-transform : uppercase;
}
.a-homeportLogo span {
    color         : #fff;
    font-family   : LibreFranklin-Thin !important;
    font-size     : 10pt;
    text-transform: uppercase;
}
#o-weatherSearchWelcome {
    align-items: center;
    display    : flex;
}
#m-weather,
.m-weatherInfo {
    color  : #fff;
    display: flex;
}
.m-weatherInfo {
    margin: 0 10px;
}
#m-weatherDropdownContainer {
    background-color: #30395C;
    color           : #fff;
    margin-left     : 10px;
}
#m-weatherDropdown,
#m-weatherDropdown button {
    font-family: LibreFranklin-Medium;
    font-size  : 10pt;
}
.a-weatherIcon {
    height      : 25px;
    margin-right: 6px;
    width       : auto;
}
.a-weatherData {
    color      : #fff;
    font-family: LibreFranklin-Bold;
}
#m-todayWeather:hover #m-todayWeatherTooltip,
#m-tomorrowWeather:hover #m-tomorrowWeatherTooltip {
    visibility: visible;
}
.m-weatherInfo #m-todayWeatherTooltip,
.m-weatherInfo #m-tomorrowWeatherTooltip {
    background-color: transparent;
    display         : inline-block;
    padding         : 3px 0;
    position        : absolute;
    text-align      : center;
    visibility      : hidden;
    z-index         : 1;
}
.m-weatherInfo #m-todayWeatherTooltip {
    height: 150px;
}
.m-weatherForecast {
    background-color: #6D6F71;
    border-radius   : 6px;
    box-shadow      : 7px 7px 10px rgba(0,0,0,0.4);
    display         : flex;
    margin-top      : 34px;
    padding         : 20px;
    text-align      : left;
}
#a-todayWeatherTime {
    font-size: 8pt;
}
#m-todayWeatherTooltip .a-seeMoreWeatherLink,
#m-todayWeatherTooltip .a-seeMoreWeatherLink:visited {
    bottom  : 25px;
    color   : #fff;
    position: absolute;
    right   : 10px;
}
#m-tomorrowWeatherTooltip .a-seeMoreWeatherLink,
#m-tomorrowWeatherTooltip .a-seeMoreWeatherLink:visited {
    bottom  : 5px;
    color   : #fff;
    position: absolute;
    right   : 10px;
}
.m-weatherForecast>div:first-of-type {
    margin-right: 9px;
}
#m-todayWeatherTooltip .m-weatherForecast>div:first-of-type img {
    margin-top: 25%;
}
.m-weatherForecast>div:last-of-type {
    margin-left: 15px;
}
#m-todayWeatherTooltip::after,
#m-tomorrowWeatherTooltip::after {
    border-color: transparent transparent #6D6F71 transparent;
    border-style: solid;
    border-width: 5px;
    content     : "";
    margin-left : -5px;
    position    : absolute;
}
#m-todayWeatherTooltip::after {
    right: 125px;
    top  : 17.5%;
}
#m-tomorrowWeatherTooltip::after {
    right: 65px;
    top  : 26%;
}
.a-weatherTitle {
    font-family: LibreFranklin-Bold;
}
.a-largeWeather {
    font-size: 18pt;
}
#a-tomorrowWeatherStatus {
    font-family   : LibreFranklin-Regular;
    font-size     : 11pt;
    text-transform: capitalize;
}
#a-search {
    margin: 0 30px;
}
#m-welcome {
    color         : #fff;
    display       : flex;
    flex-direction: column;
}
#m-welcome .ms-welcome-root {
    height      : auto;
    line-height : 0;
    padding-left: 0;
}
#m-welcome .ms-welcome-root.ms-welcome-hover {
    background-color: transparent;
    border-right    : none;
    line-height     : 17px;
}

/*Mobile*/
@media screen and (max-width: 767px) {
    #m-bottomHeader {
        align-items   : stretch;
        flex-direction: column;
        height        : auto;
        margin        : 0;
    }
    .a-homeportLogo {
        border-bottom: 1px solid #fff;
        margin       : 0 30px;
        padding      : 7px 0;
    }
    #o-weatherSearchWelcome {
        display        : flex;
        justify-content: space-between;
        padding        : 15px 0;
        width          : 100%;
    }
    .m-megaMenuItemContainer {
        border-bottom: 1px solid #fff;
        margin-right : 0 !important;
    }
}
#s4-titlerow {
  display: block !important;
  padding-bottom  : 16px;
  padding-top     : 8px;
}
.ms-dialog div#s4-titlerow {
  display: none !important;
}
#titleAreaBox {
    margin-left : 32px;
    margin-right: 32px;
    width       : calc(100% - 62px);
}
#pageTitle {
  display: flex;
}
#a-subSiteTitle {
  padding-left: 6px;
}
#a-subSiteTitle::before {
  content: "> ";
}
.ms-core-pageTitle,
.ms-core-pageTitle a {
    color        : #fff;
    font-family  : LibreFranklin-Bold;
    font-size    : 22pt;
}
.ms-core-pageTitle {
  border-bottom: 1px solid #fff;
}
#pageTitle .ms-navedit-editLinksIcon {
  position: relative;
}
.ms-breadcrumb-top {
    margin-top: 8px;
}
.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item,
.ms-breadcrumb-top .ms-navedit-editLinksText > span > .ms-metadata,
.ms-breadcrumb-top .ms-core-listMenuEdit > tr > .ms-navedit-linkCell > .ms-core-listMenu-item {
    color      : #fff;
    font-family: LibreFranklin-SemiBold;
}
.ms-core-listMenu-horizontalBox > ul > li > a > span > span {
  display: none;
}
.ms-core-listMenu-horizontalBox > ul > li > a::after {
  content: "Home";
}

#a-menuDropdown {
    background-color: #fff;
    border-radius   : 0 0 50px 50px;
    cursor          : pointer;
    font-family     : LibreFranklin-Bold;
    font-size       : 20pt;
    height          : 30px;
    line-height     : 30px;
    position        : absolute;
    right           : 50px;
    text-align      : center;
    top             : 90px;
    transition      : all 0.5s ease-out;
    width           : 100px;
}

ul.dynamic {
  box-shadow: 7px 7px 10px rgba(0,0,0,0.4);
  width     : 200px;
  
}
li.dynamic {
  margin-left   : 10px;
  padding-bottom: 6px;
}
li.dynamic .menu-item-text {
  font-family: LibreFranklin-SemiBold;
  font-size  : 12pt;
  color      : white;
}

#m-navigationbuttons {
    transition: height 0.5s ease-out;
    overflow: hidden;
    height: 0;
}
.ms-srch-sb-borderFocused {
  background: #fff;
  width     : 198px;
}
header .ms-srch-sb-border.ms-srch-sb,
header .ms-srch-sb-borderFocused {
  width: 100%;
}

/*
-----------------------------------------------------------------------------
  Mega Menu Navigation
-----------------------------------------------------------------------------
*/
#o-navigationLinks {
  margin-left: 0;
  margin-top : 0;
}

/*Hide the megamenu and dropdown arrow in tablet and mobile view*/
@media screen and (max-width: 1200px) {
  nav, #a-menuDropdown {
    display: none;
  }
}

/*
-----------------------------------------------------------------------------
  Left Navbar and Main Content
-----------------------------------------------------------------------------
*/
#contentRow {
  display    : flex;
  padding-top: 0;
}
/*
-----------------------------------------------------------------------------
  Left Navbar
-----------------------------------------------------------------------------
*/
#sideNavBox {
  background-color: #EFEFEF;
  float           : none;
  margin          : 0 0 -19px 0;
  min-height      : calc(100vh - 465px);
  min-width       : 200px;
  padding         : 30px;
  width           : 10%;
}
#siteIcon {
  height     : auto;
  line-height: normal;
  margin     : 0 0 15px;
  width      : 100%;
}
.ms-siteicon-a,
.ms-siteicon-img {
  max-height: 100%;
}
#searchInputBox {
  float: none;
}
.ms-srch-sb.ms-srch-sb-border {
  background-color: #fff;
  width           : 198px;
}
.ms-srch-sb > input {
  width: 84%;
}
.ms-core-sideNavBox-removeLeftMargin {
  margin-left: 0;
}
.ms-srch-sb-searchLink {
  float: right;
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-item,
.ms-core-listMenu-verticalBox li.static > .ms-core-listMenu-item {
  color       : #30395D;
  font-family : LibreFranklin-SemiBold;
  font-size   : 12pt;
  padding-left: 0;
}
.ms-core-listMenu-verticalBox li.static > ul.static > li.static > .ms-core-listMenu-item {
  font-family : LibreFranklin-Medium;
  font-size   : 10pt;
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-item.selected,
.ms-core-listMenu-verticalBox li.static > .ms-core-listMenu-item.selected {
  font-family: LibreFranklin-Bold;
}
.ms-core-listMenu-verticalBox,
.ms-core-listMenu-horizontalBox {
  font-size: 12pt;
}
/*Lessen indentation in sub-navigation items*/
.ms-core-listMenu-verticalBox li.static > ul.static > li.static > .ms-core-listMenu-item {
  padding-left: 20px;
}
/*Hide vertical bar in the filter display page Jira task ECMS-592*/
.ms-navresizer-verticalpositionhelper .ms-navresizer-vertical {
  display: none;
}
/*Fix alignment for IE in filter display page Jira task ECMS-597*/
.ms-KFLabelAndBodyContainer {
  overflow    : visible;
  padding-left: 0;
}

/* ---------------------------------
DRAWER
---------------------------------*/
.a-drawer {
  background-color: #2282b6;
  border          : 0;
  border-radius   : 8px 8px 0 0;
  box-shadow      : -6px 0px 10px rgba(0,0,0,0.4);
  color           : #fff;
  display         : none;
  font-family     : LibreFranklin-Bold;
  font-size       : 12pt;
  height          : 36px;
  position        : fixed;
  -ms-transform   : rotate(270deg);
  transform       : rotate(270deg);
  z-index         : 1;
}

.a-drawer i {
  padding-right: 6px;
}

#a-quickLinkDrawer {
  right: -38px;
  top  : 295px;
}

#a-itHelpDrawer {
  right: -33px;
  top  : 440px;
}
.o-homeportDrawer {
  background-color: #EDE7E7;
  border          : 6px solid #2282b6;
  border-radius   : 8px;
  box-shadow      : 6px 6px 10px rgba(0,0,0,0.4);
  display         : none;
  font-family     : Roboto-Regular;
  font-size       : 10pt;
  height          : auto;
  min-height      : 150px;
  padding         : 20px 20px 0;
  right           : 0;
  z-index         : 2;
}
/*Tablet Size*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .o-homeportDrawer {
    height: calc(100% - 224px);
  }
}
.a-closeButton,
.a-closeButton:hover {
  background-color: transparent;
  border          : 0;
  cursor          : pointer;
  float           : right;
  margin-right    : -18px;
  margin-top      : -18px;
}
#m-quickLinkDrawer {
  max-height: 550px;
  width     : auto;
}
#m-quickLinkDrawer div[data-name="WebPartZone"] {
  padding-bottom: 15px;
}
#m-itHelpDrawer {
  padding-bottom: 20px;
  width         : 1000px;
}
#m-itHelpDrawer>div {
  width: 50%;
}
/*Tablet Size*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  #m-itHelpDrawer {
    width  : 75%;
    z-index: 9999;
  }
  #m-itHelpDrawer>div {
    width: 100%;
  }
  #m-itHelpDrawer .w3-left {
    float: right!important;
  }
}
.o-homeportDrawer h2 {
  color         : #444;
  font-family   : LibreFranklin-Bold;
  font-size     : 12pt;
  padding-bottom: 0;
  padding-top   : 10px;
  text-transform: uppercase;
}
.o-homeportDrawer ul {
  list-style   : none;
  margin-bottom: 0;
  margin-top   : 0;
  padding-left : 0;
}
.o-homeportDrawer p {
  margin-top: 0;
}
.m-quickLinks img,
.m-quickLinks span {
  padding-right: 3px;
}
.m-quickLinks a,
.m-quickLinks a:visted,
.m-quickLinks a:hover {
  font-family   : LibreFranklin-Regular !important;
  font-size     : 10pt !important;
  padding-bottom: 4px !important;
}
.m-drawerHelpButtons {
  display        : flex;
  justify-content: space-between;
  padding        : 12px 0;
  width          : 45%;
}
/*Tablet Size*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .m-drawerHelpButtons {
    width: 30%;
  }
}
.a-drawerHelpButton,
.a-drawerHelpButton:visited {
  background-color: #2282b6;
  border-radius   : 6px;
  color           : #fff;
  font-weight     : bold;
  padding         : 8px;
  text-transform  : uppercase;
}
#myQuickLinkContent {
  margin-bottom: 20px;
}

/*
-----------------------------------------------------------------------------
  Main Content
-----------------------------------------------------------------------------
*/
#contentBox {
    margin : 0;
    padding: 30px 70px 30px 30px;
    width  : 100%;
}
.ms-vb a.ms-listlink, .ms-vb2 a.ms-listlink, .ms-vb-user a.ms-listlink, .ms-vb a.ms-listlink:visited, .ms-vb a.ms-listlink:hover:visited {
    color: #0072c6;
}
.ms-webpart-chrome-title {
    position        : relative;
    vertical-align  : middle;
    width           : 100% !important;
}
.ms-webpart-titleText.ms-webpart-titleText,
.ms-webpart-titleText > a {
    font-family: LibreFranklin-Bold;
    color      : #fff;
    overflow   : hidden;
    text-align : justify;
    text-overflow: ellipsis;
    white-space  : nowrap;
    text-transform: uppercase;
    padding-left  : 3pt;
    padding-top   : 2pt;
}
.ms-webpart-titleText {
  font-size: 1.3em !important;
}
a[href^='Notes://'] {
    background   : transparent url(/_catalogs/masterpage/global/media/icons/lotus.png) center right no-repeat;
    padding-right: 22px;
}
a[href^='file:///X:'] {
    background   : transparent url(/_catalogs/masterpage/global/media/icons/x-drive.png) center right no-repeat;
    padding-right: 62px;
}
.noindex.ms-wpContentDivSpace {
  overflow: visible !important;
}
/*Add spacing to top-bar to prevent overlap Jira task ECMS-598*/
.ms-InlineSearch-DivBaseline {
  padding-top: 10px;
}

/*
-----------------------------------------------------------------------------
  Footer
-----------------------------------------------------------------------------
*/
footer {
    background-color: #8C8C8C;
    color           : #E6E7E8;
    display         : flex;
    font-family     : Roboto-Medium !important;
    font-size       : 12pt;
    padding         : 30px;
}
footer a {
    color          : #fff;
    text-decoration: none;
}
#m-footerDescription {
    display       : flex;
    flex-direction: column;
    line-height   : 8pt;
    margin-left   : 30px;
}
#a-footerGeneralContact {
  line-height: 20pt;
}
#m-footerAlerts {
    margin-top: 20px;
  }
  #m-footerAlerts span {
    padding-right : 20px;
    text-transform: uppercase;
  }rm: uppercase;
