/* Three Column Demo */

/* Area Definitions */
#top {
  margin: 20px;
  padding: 10px;
  background: #ccc;
  height: 100px;
}

#left {
  position: absolute;
  left: 10px;
  top: 160px;
  width: 200px;
}

#center {
  background: #ccc;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  margin-top: 0;
  margin-left: 220px;
  margin-right: 220px;
}
#right {
  position: absolute;
  right: 10px;
  top: 160px;
  width: 200px;
}

/* Paragraphs */
.PStrong {
  font-weight: bold;
}