
/* Site.css */

/* ========================== Reset ===================================== */

html, body {
  margin: 0px; padding: 0px;
}
h1 {
  margin: 0px 0px 6px;
  color: rgb(0, 0, 0);
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

body {
  background-color: #f0f0f0;
}

#body {
  margin: 0px auto; padding: 0px 0px 250px; width: 920px;
}

/* ========================== Header ==================================== */
#header {
  color: rgb(255, 255, 255);
}

#headerTop {
  background-image: url("Images/header-top.gif");
  width: 100%;
}

#headerBanner {
  background-color: #c0c0c0;
  background-image: url("Images/header-banner.gif");
  padding: 0px; width: 100%; height: 86px;
}

#headerBottom {
  background-image: url("Images/header-low.jpg");
  height: 74px;
  width: 100%;
}

#header_left_cap {
  background-image: url("Images/header_left_cap.png");
}

#header_info_wrapper {
  background: url("Images/header_bg.png") repeat-x; height: 85px;
}

/* =========================== Navigation =============================== */
.navMenu {
  background-color: #000088;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  z-index: 999;
}
/* Menu Tab */
.navLeftCap {
  background-image: url("Images/nav-tabLeft.gif");
  width: 17px;
  height: 25px;
  float: left;
  display: inline;
}
.navMiddle {
  background: url("Images/nav-tabBkgd.gif") repeat-x;
  height: 25px;
  float: left;
  display: inline;
}
.navMiddle a {
  margin: 6px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: 25px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  vertical-align: bottom;
}
.navMiddle a:hover {
  color: rgb(255, 198, 29);
}

.navRightCap {
  background-image: url("Images/nav-tabRight.gif");
  width: 17px;
  height: 25px;
  float: left;
  display: inline;
}
.jd_menu li.topItem a.topItem {
  padding: 0px; border: 0px currentColor; border-image: none; display: inline; background-color: transparent;
}
ul.jd_menu li li {
  width: 275px;
}
ul.secondTier {
  background-color: rgb(255, 198, 29);
}
ul.thirdTier {
  background-color: rgb(255, 198, 29);
}
ul.secondTier {
  margin: 8px 0px 0px !important; position: absolute !important;
}
li.secondTier {
  border-bottom-color: rgb(170, 170, 0); border-bottom-width: 1px; border-bottom-style: dotted;
}
li.thirdTier {
  border-bottom-color: rgb(170, 170, 0); border-bottom-width: 1px; border-bottom-style: dotted;
}
.jd_menu .Menu-Selected {
  background-color: rgb(254, 214, 90);
}
.jd_menu .Menu-ChildSelected {
  background-color: rgb(254, 214, 90);
}
.jd_menu .Menu-ParentSelected {
  background-repeat: no-repeat !important; background-color: transparent;
}
.jd_menu .Menu-WithChildren .Menu-WithChildren > a {
  background-position: right; background-image: url("../CSS/Images/menu_arrow.gif") !important; background-repeat: no-repeat !important;
}
.jd_menu .topItem {
  margin: 0px 1px; background-color: transparent !important;
}
li.secondTier a {
  padding: 3px 0px; color: rgb(0, 0, 0); margin-left: 5px; float: left;
}
li.thirdTier a {
  padding: 3px 0px; color: rgb(0, 0, 0); margin-left: 5px; float: left;
}
.jd_menu li.secondTier a:hover {
  background-position: right; padding: 3px 0px; color: rgb(255, 255, 255); margin-left: 5px; background-color: royalblue;
}
.jd_menu li.thirdTier a:hover {
  background-position: right; padding: 3px 0px; color: rgb(255, 255, 255); margin-left: 5px; background-color: royalblue;
}
#BusinessSensitive {
  width: 50%; text-align: left; color: red; padding-top: 5px; padding-left: 10px; font-size: small; font-weight: bold; float: left;
}
ul.secondTier li.Menu-Leaf {
  display: none;
}
ul.thirdTier li.Menu-Leaf {
  display: block;
}
