.topBarOuter * {
    box-sizing: content-box;
}

.tools {
    height: 32px;
    padding: 30px 8px 0;
    z-index: 10;
}

    .tools ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .tools a {
        display: block;
        font: 13px "Segoe UI",Arial,Helvetica,sans-serif;
        text-decoration: none;
    }

    .tools h1 {
        float: left;
        margin: 0 0 0 50px;
        padding: 0;
    }

    .tools span {
        display: inline-block;
        vertical-align: middle;
    }
    .tools {
        opacity: 0.99;
        position: relative;
    }


.user-interaction li {
    background: linear-gradient(to bottom, #FFFFFF 0%, #FAFAFA 50%, #EEEEEE 100%) repeat scroll 0 0 transparent;
    background: #FAFAFA; /* Old browsers */
    background: -moz-linear-gradient(top, #FFFFFF 0%, #FAFAFA 20%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(20%,#FAFAFA)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FFFFFF 0%,#FAFAFA 20%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FFFFFF 0%,#FAFAFA 20%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #FFFFFF 0%,#FAFAFA 20%) !important; /* IE10+ */
    background: linear-gradient(to bottom, #FFFFFF 0%,#FAFAFA 20%) !important; /* W3C */
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    height: 30px;
    margin: 0 4px 0 0;
    position: relative;
    width: 30px;
    vertical-align: middle;
}

    .user-interaction li:first-child {
        margin-left: 0;
    }

    .user-interaction li:hover {
        background-color: #E6E6E6;
        background-position: 0 -15px;
        background-repeat: repeat-x;
        filter: none;
        text-decoration: none;
        transition: background-position 0.1s linear 0s;
    }

.user-interaction a {
    height: 30px;
    width: 30px;
}

    .user-interaction a span {
        background-repeat: no-repeat;
        display: block;
        height: 16px;
        margin: 0 auto;
        position: relative;
        top: 8px;
        width: 20px;
    }

.avatar a {
    background-color: #FFFFFF;
    background-image: none;
    border-radius: 5px;
}

    .avatar a img {
        border-radius: 3px;
        display: inline-block;
        height: 30px !important;
        overflow: hidden;
        text-indent: 99999px;
        width: 30px !important;
    }

.alert span {
    background-position: 0 0;
    left: 2px;
}

.user-interaction i {
    background: none repeat scroll 0 0 #CD3D2B;
    border-radius: 50px 50px 50px 50px;
    color: #FFFFFF;
    display: block;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 8px;
    font-weight: 600;
    height: 10px;
    line-height: 10px;
    padding: 2px 3px;
    position: absolute;
    right: -3px;
    text-align: center;
    top: -5px;
}

.cart span {
    background-position: -20px 0;
    left: 1px;
}

.settings a span {
    background-position: -40px 0;
    left: 2px;
}

.cso-hdr-dd {
    background-color: #FFFFFF !important;
    background-image: none !important;
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 2px #AAAAAA;
    display: none;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px !important;
    padding: 0;
    position: absolute;
    z-index: 999999;
}

    .cso-hdr-dd * {
        font-family: "Segoe UI",Arial,sans-serif !important;
    }

    .cso-hdr-dd .item {
        background-color: #FFFFFF !important;
        background-image: none !important;
        border-color: #BABABA;
        border-radius: 0 0 0 0;
        border-width: 0;
        cursor: pointer;
        display: block !important;
        height: auto;
        line-height: normal;
        list-style-position: outside;
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        text-align: left;
    }

    *:first-child + html .cso-hdr-dd .item {
        width: 9.4em !important;
    }

        .cso-hdr-dd .item:first-child {
            border-radius: 4px 4px 0 0;
        }

        .cso-hdr-dd .item:last-child {
            border-radius: 0 0 4px 4px;
        }

        .cso-hdr-dd .item:hover {
            background-color: #E9E9E9 !important;
        }

        .cso-hdr-dd .item a {
            background-color: transparent !important;
            background-image: none !important;
            color: #4E4E4E;
            display: block;
            height: auto;
            margin: 0;
            padding: 8px 12px;
            text-decoration: none;
            width: auto;
            white-space: nowrap;
            font-weight: normal !important;
        }

            .cso-hdr-dd .item a:focus {
                background-color: #E9E9E9 !important;
            }

            .cso-hdr-dd .item a span {
                background-color: transparent;
                background-image: none;
                display: block;
                font-size: 13px;
                height: auto;
                left: 0;
                line-height: normal;
                margin: 0;
                padding: 0;
                position: relative;
                top: 0;
                width: auto;
            }

#tblTopBar td.logo-container > a { /* for IE */
    display: inline-block;
}

#tblTopBar td img {
    vertical-align: bottom;
}

#aspnetForm, [role='main'], .cr-page-root, .csod-page-container {
    min-height: auto;
}

@media only screen and (max-width: 767px) {
    #tblTopBar,
    #tblTopBar tr,
    #tblTopBar tr td {
        display: block;
    }

        #tblTopBar .tools {
            padding-top: 7px;
            text-align: center;
        }

            #tblTopBar .tools .user-interaction li {
                margin: 0 0 0 4px;
            }

        #tblTopBar td img {
            max-height: 80px;
        }
}

/* RIGHT TO LEFT
 *********************************/

#dir-rtl .user-interaction li {
    margin: 0 0 0 4px;
}

#dir-rtl .cso-hdr-dd {
    right: auto;
    left: 0;
}

#dir-rtl .topBarOuter .topBar{
    position: relative;
}

#dir-rtl .logo-container{
    position: absolute;
    right: 0;
    bottom: 7px;
}

#dir-rtl .topBarOuter .topBar td .tools {
    padding-left: 8px;
    padding-right: 8px;
}

/* Style for SkipNav 508 */

.skip-cont span {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.skip-cont:focus span {
    position:static;
}
