/*
 * Cornerstone OnDemand - CSOD
 * contemporary_extended.css
 *
 */
@-ms-viewport {
  width: auto !important;
}
/* SmartMenus Core CSS - Base
===============================================================*/

.smenu.sm,
.smenu.sm ul,
.smenu.sm li {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: normal;
  direction: ltr;
}
ul.smenu.sm ul {
  position: absolute;
  top: -999999px;
  width: 100px;
}
ul.smenu.sm li {
  position: relative;
  float: left;
}
ul.smenu.sm a {
  position: relative;
  display: block;
  white-space: nowrap;
}
ul.smenu.sm a.disabled {
  cursor: default;
}
.smenu.sm-rtl,
.smenu.sm-rtl ul,
.smenu.sm-rtl li {
  direction: rtl;
}
ul.smenu.sm-rtl li,
#dir-rtl ul.smenu > li {
  float: right;
}
ul.smenu.sm ul li,
ul.smenu.sm-vertical li {
  float: none;
}
ul.smenu.sm ul a,
ul.smenu.sm-vertical a {
  white-space: normal;
}
ul.smenu.sm ul.sm-nowrap > li > a {
  white-space: nowrap;
}
ul.smenu.sm:after {
  content: "\00a0";
  display: block;
  height: 0;
  font: 0/0 serif;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
ul.smenu.sm,
ul.smenu.sm *,
ul.smenu.sm *:before,
ul.smenu.sm *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Iphone/Ipad Dialog Fix */

.cs-dlgevent-iframe iframe {
  height: 500px !important;
}
.logo-container {
  padding-left: 8px;
  padding-right: 8px;
}
.imageLogo {
  max-width: 100%;
  height: auto;
  display: block;
}
h1.brdcrmhdr {
  margin: 0;
  font-size: 18px;
}
ul.smenu.sm {
  -webkit-tap-highlight-color: transparent;
}
ul.smenu span.scroll-up,
ul.smenu span.scroll-down {
  position: absolute;
  overflow: hidden;
}
/** Nav Styles **************/

.navTabs {
  width: 100%;
}
.navTabs-leftEdge,
.navTabs-rightEdge {
  color: transparent;
  cursor: default;
  padding-left: 4px;
  padding-right: 4px;
  width: 1%;
}
.navTabs-tabCell {
  overflow: hidden;
}
.navTabs td {
  padding-bottom: 0;
  padding-top: 0;
}
.navTabs-tabContainer {
  width: 100%;
}
.navTabs {
  list-style-type: none;
  margin: 0;
  padding: 0 15px;
  width: 1000%;
}
.navTabs *,
.navTabs-subTabList * {
  font-family: "Segoe UI", Arial, sans-serif;
}
.navTabs li {
  cursor: pointer;
  /*float: left;*/

}
.navTabs li a {
  color: #111111;
  display: block;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  padding: 10px 17px;
  text-decoration: none;
  text-shadow: 0 -1px #0a536b;
}
.navTabs > li > a {
  height: 3em;
}
.navTabs,
x:-moz-any-link,
x:default {
  background: none repeat scroll 0 0 #00529b;
}
.navTabs {
  background: transparent -moz-linear-gradient(center top, #0070d3, #004a8c) repeat scroll 0 0;
  background: transparent -webkit-gradient(linear, center top, center bottom, from(#0070d3), to(#004a8c)) repeat scroll 0 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0070d3, endColorstr=#004a8c);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0070d3, endColorstr=#004a8c);
  background: -ms-linear-gradient(top, #0070d3, #004a8c) repeat scroll 0 0;
  border-bottom-color: #00529b;
  border-collapse: collapse;
  border-spacing: 0;
}
.navTabs li a {
  color: white;
  text-shadow: 1px 0 #777777;
}
.navTabs li.active {
  background-color: #00529b;
}
.navTabs li:hover,
.navTabs li:focus {
  background-color: #00529b !important;
}
/** SubTabs **************/

.navTabs-subTabList {
  background-color: white !important;
  list-style-type: none;
  margin-top: 0 !important;
  padding: 0;
  z-index: 99;
  text-shadow: none !important;
}
.navTabs-subTabList li {
  border-top: 1px solid #c7c7c7;
}
.navTabs-subTabList li:first-child {
  border-top: medium none;
}
.navTabs-subTabList a {
  color: #555555 !important;
  display: block;
  font-weight: 500 !important;
  padding: 8px 10px;
  text-decoration: none;
  text-shadow: none !important;
  font-size: 12px !important;
  -webkit-transform: translateZ(0);
}
.navTabs-subTabList li:hover,
.navTabs-subTabList a:hover,
.navTabs-subTabList li:focus,
.navTabs-subTabList a:focus {
  background-color: #e9e9e9 !important;
}
.navTabs-subTabList a:active,
.navTabs-subTabList a:focus {
  outline: medium none;
}
.navTabs-subTabList {
  border-color: #c7c7c7 #c7c7c7;
  border-image: none;
  border-radius: 0 0 4px 4px;
  border-right: 1px solid #c7c7c7;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  box-shadow: 0 2px 2px #aaaaaa;
  margin-left: 0;
  opacity: 1 !important;
}
.navTabs-subTabList {
  background-color: #00529b;
}
.navTabs-subTabList li:hover,
.navTabs-subTabList a:hover,
.navTabs-subTabList li:focus,
.navTabs-subTabList a:focus {
  background-color: #00529b;
}
/** Right-to-Left **************/

.dir-rtl #navTabs-tabList li {
  float: right !important;
}
/** Extra **************/

#main-menu {
  /*position:relative;*/
  z-index: 9999;
  width: auto;
}
#main-menu ul {
  width: 0px;
  /* to avoide taking excess width which cause extra horizontal space in a browser. when it shows, width gets set by JS.*/

}
.sub-arrow {
  visibility: hidden;
  display: none;
}
/*a:focus, 
button:focus, 
input:focus, 
select:focus, 
textarea:focus, 
div[tabindex="0"]:focus, 
img[tabindex="0"]:focus, 
div.checker.focus span {
    outline: dotted 1px #777 !important;
}*/

/* Iphone/Ipad Dialog Fix */

.cs-dlgevent-iframe iframe {
  height: 500px !important;
}
.logo-container {
  padding-left: 8px;
  padding-right: 8px;
}
.imageLogo {
  max-width: 100%;
  height: auto;
  display: block;
}
h1.brdcrmhdr {
  margin: 0;
  font-size: 18px;
}
