#featured_slide_{
position:relative;
display:inline;
width:100%;
height:380px;
float:left;
overflow:hidden;
border-left:0px solid #b7ddf2;
border-right:0px solid #b7ddf2;
}

#featured_slide_Content {
	background-image:;
margin: 0% 0% 0% 0%;
list-style:none;
}

